* {
  box-sizing: border-box;
}
*:before,
*:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.static {
  overflow: hidden;
}
.btn {
  display: block;
  width: 119px;
  height: 23px;
  border-radius: 20px;
  background-color: #c0a87f;
  color: #fefefe;
  font: 600 8px/23px proximaNovaSemiBold;
  float: right;
  margin: 10px 15px;
}
.btn:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: #fff url("../img/bag.svg") no-repeat center/9px 9px;
  margin: 0 7px 2px 2px;
}
.ios .btn {
  font-size: 6px;
}
.ios .btn:before {
  margin-bottom: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
q:before,
blockquote:after,
q:after {
  content: '';
}
input:focus,
textarea:focus,
a:focus,
button:focus,
select:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del,
s,
strike {
  text-decoration: line-through;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
  margin: 0;
}
@font-face {
  font-family: 'ProximaNovaSemiBold';
  src: url("fonts/ProximaNovaSemibold.otf") format("opentype"),;
  font-family: 'ProximaNovaBold';
  src: url("fonts/ProximaNovaBold.otf") format("opentype");
}
@font-face {
  font-family: 'ProximaNovaLight';
  src: url("fonts/ProximaNovaLight.otf") format("opentype");
}
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url("fonts/ProximaNovaRegular.otf") format("opentype");
}
@font-face {
  font-family: 'ProximaNovaThin';
  src: url("fonts/ProximaNovaThin.otf") format("opentype");
}
.header {
  width: 100%;
}
.header__top {
  padding: 6px 14px 20px;
  width: 100%;
  height: 44px;
  background-color: #832a39;
  position: relative;
}
.header .navigation {
  width: 14px;
  height: 10px;
  float: left;
  margin-top: 12px;
}
.header .nav-toggle {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
}
.header .nav-toggle.is-active span {
  height: 1px;
}
.header .nav-toggle.is-active span:first-child {
  transform: rotate(45deg);
}
.header .nav-toggle.is-active span:nth-child(2) {
  opacity: 0;
}
.header .nav-toggle.is-active span:last-child {
  transform: rotate(-45deg);
  bottom: -1px;
}
.header .nav-toggle span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}
.header .nav-toggle span:first-child {
  top: 0;
  transform-origin: left center;
}
.header .nav-toggle span:nth-child(2) {
  top: 4px;
  transform-origin: left center;
}
.header .nav-toggle span:last-child {
  bottom: 0;
  transform-origin: left center;
}
.header .logo {
  position: absolute;
  max-width: 64px;
  left: 50%;
  transform: translateX(-53%);
}
.header .logo img {
  max-width: 100%;
}
.header .basket {
  float: right;
  width: 13px;
  height: 13px;
  margin-top: 8px;
  margin-right: 3px;
}
.header .basket img {
  max-width: 100%;
}
.header-wrapper {
  height: 526px;
  width: 100%;
  background: url("../img/header-bg.jpg") no-repeat bottom/cover;
  padding-top: 56px;
  color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.header-wrapper:before {
  content: "";
  width: 53px;
  height: 95px;
  background: url("../img/A.png");
  background-size: cover;
  position: absolute;
  left: 0;
  top: 25px;
}
.header-wrapper:after {
  content: "";
  width: 100%;
  height: 61px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0,0,0,0.3) 45%, rgba(0,0,0,0) 100%);
}
.header-title {
  font: 400 23px/28px "ProximaNovaRegular", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2.8px;
  padding: 0 31px;
  margin: 0 auto 23px;
}
.header-text {
  font: 300 15px/17px "ProximaNovaLight", Arial, sans-serif;
  letter-spacing: 1px;
  padding: 0 30px;
  margin: 0 auto;
}
.header-slider {
  margin-top: 37px;
  position: relative;
}
.header-slider .item {
  position: relative;
  text-align: center;
}
.header-slider .item img {
  max-width: 170px;
  width: 52%;
  display: inline-block;
  margin: 0 auto;
}
.owl-controls {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}
.owl-dots {
  text-align: center;
}
.owl-dot {
  display: inline-block;
  margin: 0 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
}
.owl-dot:before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.owl-dot.active:before {
  opacity: 1;
}
.off-canvas-wrapper {
  position: absolute;
  transform: translateY(25px);
  z-index: 10;
  left: 0;
  top: 44px;
  padding-top: 63px;
  width: 100%;
  height: 437px;
  background: url("../img/nav-bg.png") 0 0/cover;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  will-change: opacity, transform;
  transition: all 0.3s ease-in-out;
  overflow: auto;
  z-index: 100;
}
.off-canvas-wrapper.fadeIn {
  visibility: visible;
  transform: translateY(0);
  opacity: 1;
}
.off-canvas-wrapper .nav-off-canvas li {
  display: block;
  text-align: center;
  padding: 5px 0;
}
.off-canvas-wrapper .nav-off-canvas li:first-of-type {
  margin-bottom: 23px;
  margin-top: -5px;
}
.off-canvas-wrapper .nav-off-canvas li:not(:first-of-type) {
  padding: 8px 0;
}
.off-canvas-wrapper .nav-off-canvas li a {
  color: #2c2c2c;
  font: 400 20px "ProximaNovaRegular", Arial, sans-serif;
  letter-spacing: 0.5px;
  position: relative;
}
.off-canvas-wrapper .nav-off-canvas li.active a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #2c2c2c;
  position: absolute;
  left: 0;
  bottom: 0;
}
.off-canvas-wrapper .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c0a87f;
  overflow: hidden;
  list-style: none;
  height: 48px;
}
.off-canvas-wrapper .line li {
  float: left;
  width: 50%;
  position: relative;
}
.off-canvas-wrapper .line li:first-child:after {
  content: "";
  width: 1px;
  height: 40%;
  background: rgba(255,255,255,0.4);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -5px;
}
.off-canvas-wrapper .line li:first-child a:before {
  background: url("../img/bag-mob.png") no-repeat center/cover;
}
.off-canvas-wrapper .line li:last-child a {
  padding-left: 20px;
}
.off-canvas-wrapper .line li:last-child a:before {
  background: url("../img/phone-mob.png") no-repeat center/cover;
  left: 0;
}
.off-canvas-wrapper .line li a {
  text-align: center;
  color: #fff;
  font: 400 13px "ProximaNovaRegular", Arial, sans-serif;
  line-height: 46px;
  position: relative;
  padding-left: 32px;
}
.off-canvas-wrapper .line li a:before {
  content: "";
  display: block;
  width: 13px;
  height: 13px;
  position: absolute;
  left: 13px;
  top: 0;
}
body {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
}
.clearfix:after {
  content: '';
  display: table;
  width: 100%;
  clear: both;
}
.footer {
  background-color: #475254;
  padding: 16px 42px 34px;
  color: #fff;
}
.footer-wrapper {
  overflow: hidden;
  margin-bottom: 9px;
}
.footer-logo {
  max-width: 64px;
  float: left;
}
.footer-logo img {
  max-width: 100%;
}
.footer-up {
  max-width: 27px;
  float: right;
  margin-top: 2px;
}
.footer-up img {
  max-width: 100%;
}
.footer-nav {
  text-align: center;
}
.footer-nav li {
  list-style: none;
  display: inline-block;
  margin-right: 5px;
}
.footer-nav li:last-child {
  width: 100%;
  text-align: center;
}
.footer-nav li a {
  color: #fff;
  font: 300 11px "ProximaNovaLight", Arial, sans-serif;
}
.footer .copyright {
  font: 300 8px "ProximaNovaLight", Arial, sans-serif;
  margin-top: 15px;
}
.approach {
  background: #f0f0f0;
  background: url("../img/approach-bg.jpg") no-repeat center/cover;
  padding-top: 30px;
  color: #2b2b2b;
  overflow: hidden;
  position: relative;
}
.approach__title {
  font: 700 16px "ProximaNovaSemiBold", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.2px;
}
.approach p {
  font: 400 13px "ProximaNovaLight", Arial, sans-serif;
  text-align: center;
  margin-top: 13px;
  letter-spacing: 0.5px;
}
.flicky-slider {
  margin: 12px auto 0;
  padding-left: 42px;
  text-align: center;
  white-space: nowrap;
}
.flicky-slider.fixed {
  padding-left: 0;
}
.flicky-slider.fixed:after {
  content: '';
}
.flicky-slider.init:after {
  content: 'flickity';
  display: none;
}
.flicky-slider .item {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  text-align: center;
}
.flicky-slider .item:not(:last-child) {
  margin-right: 12px;
}
.flicky-slider .item:nth-child(3) h3 {
  text-align: left;
  padding-left: 17px;
}
.flicky-slider .item__icon {
  min-width: 65px;
  min-height: 65px;
  max-width: 130px;
  max-height: 130px;
  width: 65%;
  display: inline-block;
  position: relative;
}
.flicky-slider .item__icon:after {
  content: "";
  width: 10px;
  height: 1px;
  background-color: #bea67c;
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
}
.flicky-slider .item__icon img {
  max-width: 100%;
}
.flicky-slider .item__name {
  color: #000;
  font: 300 12px/1 "ProximaNovaLight", Arial, sans-serif;
  letter-spacing: 0.3px;
  margin-top: 10px;
}
.solution {
  padding-top: 40px;
  overflow: hidden;
  position: relative;
  background: url("../img/nestle.png") no-repeat 50% 46%/80%;
}
.solution__title {
  font: 700 16px "ProximaNovaBold", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #2a2a2a;
  letter-spacing: 1.2px;
  margin-bottom: 17px;
  position: relative;
}
.solution__title:after {
  content: "";
  width: 19px;
  height: 3px;
  display: block;
  position: absolute;
  left: 50%;
  bottom: -12px;
  transform: translate(-50%, -50%);
  background-color: #bea67c;
}
.solution__text {
  color: #444443;
  font: 300 13px/1.2 "ProximaNovaLight", Arial, sans-serif;
  padding: 0 15px;
  letter-spacing: 0.2px;
  text-align: center;
}
.solution__btn {
  background-color: #832a39;
}
.solution__btn:before {
  background-image: url("../img/bag-r.svg");
}
.solution__slider {
  margin: 44px auto;
  position: relative;
}
.solution__slider .item__info {
  text-align: center;
  position: relative;
}
.solution__slider .item__info > img {
  width: 57% !important;
  min-width: 180px;
  display: inline-block !important;
  vertical-align: top;
}
.solution__slider .item__info:after {
  content: "";
  width: 19px;
  height: 2px;
  background: #bea67c;
  position: absolute;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
}
.solution__slider .item__info .text {
  position: absolute;
  top: 4px;
  right: 0;
  width: 92px;
}
.solution__slider .item__info .text img {
  max-width: 33px;
}
.solution__slider .item__info .text p {
  color: #676565;
  text-align: left;
  font: 400 9px "ProximaNovaRegular", Arial, sans-serif;
  margin-top: 5px;
  padding-right: 12px;
  letter-spacing: 0.3px;
}
.solution__slider .item__info .inner-text:not(:first-of-type) {
  margin-top: 10px;
}
.solution__slider .item__name {
  color: #010101;
  text-align: center;
  text-transform: uppercase;
  font: 700 12px "ProximaNovaBold", Arial, sans-serif;
  letter-spacing: 0.9px;
  margin-top: -1px;
}
.solution__slider .owl-nav {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
}
.solution__slider .owl-nav img {
  width: 19px;
  height: 38px;
}
.solution__slider .owl-prev,
.solution__slider .owl-next {
  position: absolute;
  bottom: 38px;
  left: 35px;
}
.solution__slider .owl-next {
  left: auto;
  right: 36px;
}
.advantages {
  overflow: hidden;
  padding-top: 27px;
  background: url("../img/advantage-bg.jpg") no-repeat center/cover;
}
.advantages__header {
  text-align: center;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: #2a2a2a;
  font: 700 16px "ProximaNovaBold", Arial, sans-serif;
}
.advantages-slider {
  margin-top: 16px;
  margin-bottom: 23px;
  height: 110px;
}
.advantages-slider .item {
  margin-right: 13px;
}
.advantages-slider .item:nth-child(2) {
  margin-left: 5px;
}
.advantages-slider .item:nth-child(3) {
  margin-left: 5px;
}
.advantages-slider .item:nth-child(3) .item__name {
  padding-left: 15px;
}
.advantages-slider .item__name {
  text-align: left;
  font-size: 11px;
  letter-spacing: 0.6;
  margin-top: 16px;
}
.advantages-slider .item__icon:after {
  background-color: #bea67c;
}
.advantages-btn {
  margin-top: 5px;
  margin-bottom: 10px;
}
.steps {
  min-height: 524px;
  overflow: hidden;
  color: #fff;
  background: url("../img/set-up-machine-bg-2.jpg") no-repeat -110px 0/cover;
  padding-top: 116px;
  position: relative;
  left: -1px;
}
.steps:after {
  content: "";
  width: 59px;
  height: 95px;
  position: absolute;
  right: 0;
  top: 65px;
  background: url("../img/N.png") no-repeat 0/cover;
}
.steps__header {
  font: 700 15px/1.4 "ProximaNovaBold", Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px 40px 0 19px;
}
.steps__list {
  min-width: 236px;
  width: 50%;
  margin: 25px auto 40px;
  list-style: none;
}
.steps__list li {
  font: 400 15px/1.1 "ProximaNovaRegular", Arial, sans-serif;
  letter-spacing: 0.2px;
  padding-left: 33px;
  position: relative;
}
.steps__list li:not(:first-of-type) {
  margin-top: 11px;
}
.steps__list li:before {
  content: "";
  width: 11px;
  height: 11px;
  position: absolute;
  left: 10px;
  top: 4px;
  background: url("../img/corn-mobile.png") no-repeat center/cover;
}
.steps .more {
  display: block;
  width: 192px;
  height: 37px;
  background: transparent;
  border: 1px solid #fff;
  text-align: center;
  text-transform: uppercase;
  font: 700 10px/37px "ProximaNovaBold", Arial, sans-serif;
  letter-spacing: 1.5px;
  color: #fff;
  margin: 0 auto;
}
.steps__btn {
  position: absolute;
  right: -1px;
  bottom: 2px;
}
.choice {
  background: url("../img/solution-bg.png") no-repeat center/cover;
  padding-top: 41px;
  overflow: hidden;
}
.choice__header {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font: 700 16px "ProximaNovaBold", Arial, sans-serif;
  padding: 0 20px;
  letter-spacing: 1.1px;
}
.choice__list {
  list-style: none;
  margin: 25px 0;
}
.choice__list .list-wrapper {
  width: 114px;
  display: inline-block;
  text-align: center;
}
.choice__list li {
  width: 50%;
  margin-left: -4px;
  vertical-align: top;
  display: inline-block;
  text-align: right;
}
.choice__list li:nth-last-child(-n+2) {
  margin-top: 5px;
}
.choice__list li:nth-child(2n) {
  text-align: left;
}
.choice__list li:nth-child(2n) .list-wrapper {
  width: 123px;
}
.choice__list img {
  max-width: 77px;
  border-radius: 50%;
  overflow: hidden;
  padding: 3px;
  box-shadow: 0 0 0 1px #ccc;
  margin-bottom: 10px;
}
.choice__list p {
  color: #000;
  font: 300 11px "ProximaNovaLight", Arial, sans-serif;
  min-height: 24px;
  position: relative;
}
.choice__list p:after {
  content: "";
  display: block;
  width: 8px;
  height: 1px;
  background-color: #bea67c;
  position: absolute;
  left: 50%;
  top: -6px;
  transform: translateX(-50%);
}
.choice-btn {
  margin-bottom: 13px;
}
.partners__header {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  position: relative;
  left: -2px;
  font: 700 16px "ProximaNovaBold", Arial, sans-serif;
}
.partners__list {
  list-style: none;
  overflow: hidden;
  margin-top: 18px;
  margin-bottom: 8px;
  padding: 0 35px;
}
.partners__list li {
  float: left;
  width: 33.333%;
  margin-bottom: 10px;
  text-align: center;
}
.partners__list li:nth-child(1) a {
  position: relative;
  left: -4px;
}
.partners__list li:nth-child(2) a,
.partners__list li:nth-child(3) a {
  position: relative;
  left: -3px;
}
.partners__list li img {
  max-width: 61px;
}
.geography {
  background: url("../img/geography.png") no-repeat 0 0/cover;
  height: 529px;
  padding-top: 207px;
  color: #fff;
  position: relative;
}
.geography:after {
  content: "";
  width: 99px;
  height: 95px;
  position: absolute;
  left: 0;
  top: 54px;
  background: url("../img/a.png") no-repeat center/cover;
}
.geography__header {
  text-transform: uppercase;
  text-align: center;
  font: 700 24px "ProximaNovaBold", Arial, sans-serif;
  letter-spacing: 0.5px;
  position: relative;
  left: -1px;
}
.geography-slider {
  margin-top: 19px;
  position: static !important;
}
.geography-slider .item {
  font: 300 15px "ProximaNovaLight", Arial, sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
}
.geography-slider .item p {
  width: 71%;
  margin: 0 auto;
}
.geography-slider .owl-controls {
  position: absolute;
  left: 0;
  bottom: 29px;
  width: 100%;
}
.geography-slider .owl-dots {
  text-align: center;
}
.geography-slider .owl-dot {
  display: inline-block;
  margin: 0 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
}
.geography-slider .owl-dot:before {
  content: "";
  display: block;
  width: 60%;
  height: 60%;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.geography-slider .owl-dot.active:before {
  opacity: 1;
}
.title-wrap {
  position: absolute;
  left: 0;
  right: 0;
  top: 131px;
  z-index: 10;
}
.title-wrap .header-title {
  font-size: 30px;
  line-height: 33px;
  font-family: ProximaNovaRegular;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.title-wrap .sub-title {
  font-size: 15px;
  line-height: 18px;
  font-family: ProximaNovaLight;
  color: #fff;
  text-align: center;
  letter-spacing: 0.3px;
  padding-left: 3px;
  margin-bottom: 37px;
}
.title-wrap .btn-rect-about {
  width: 193px;
  height: 36px;
  box-sizing: border-box;
  border: 1px solid #fff;
  color: #fff;
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: 10px;
  font-family: ProximaNovaBold;
  text-transform: uppercase;
  padding-top: 12px;
  letter-spacing: 1.3px;
}
.about-wrapper {
  height: 526px;
  position: relative;
}
.about-wrapper .owl-controls {
  bottom: 21px;
}
.about-slider {
  height: 100%;
}
.about-slider .owl-stage-outer {
  height: 100%;
}
.about-slider .owl-stage {
  height: 100%;
}
.about-slider .owl-item {
  height: 100%;
  overflow: hidden;
}
.about-slider .item {
  overflow: hidden;
}
.about-slider .item img {
  position: absolute;
  height: 100%;
  position: absolute;
}
.about-slider .item.machine img {
  right: 0;
}
.info-about {
  padding-top: 41px;
  padding-bottom: 19px;
}
.info-about .info-wrap {
  color: #2a2a2a;
  padding-left: 59px;
}
.info-about .info-wrap:not(:last-child) {
  margin-bottom: 36px;
}
.info-about .info-wrap .info-title {
  text-transform: uppercase;
  font-family: ProximaNovaBold;
  font-size: 16px;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.info-about .info-wrap .main-info {
  font-family: ProximaNovaLight;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.7px;
  margin-bottom: 5px;
}
.info-about .info-wrap .read-more {
  position: relative;
  text-transform: uppercase;
  font-size: 7px;
  display: inline-block;
  font-family: ProximaNovaBold;
  color: #000;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin-bottom: 25px;
}
.info-about .info-wrap .read-more:before {
  content: '';
  background: #bea67c;
  height: 1px;
  width: 20px;
  position: absolute;
  bottom: -4px;
  left: 2px;
}
.info-about .info-wrap .read-more:after {
  content: '';
  background: url("../img/gold-arrow.png") no-repeat;
  background-size: contain;
  width: 16px;
  height: 7px;
  position: relative;
  left: 5px;
  top: 3px;
  display: inline-block;
}
.info-about .info-wrap .img-wrap {
  padding-right: 60px;
}
.info-about .info-wrap .img-wrap img {
  width: 100%;
}
.bg-text {
  position: absolute;
  font-family: ProximaNovaBold;
  opacity: 0.07;
  font-size: 50px;
  color: #bea67c;
  text-transform: uppercase;
  margin-top: -61px;
  left: 0;
  right: 0;
  text-align: center;
  letter-spacing: 11px;
}
.first-section .info-wrap:nth-child(1) {
  position: relative;
}
.first-section .info-wrap:nth-child(1):before {
  content: 'nestlÉ';
  text-transform: uppercase;
  font-family: ProximaNovaBold;
  opacity: 0.07;
  font-size: 75px;
  color: #bea67c;
  position: absolute;
  top: 122px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}
.first-section .info-wrap:nth-child(2) {
  position: relative;
}
.first-section .info-wrap:nth-child(2):before {
  content: 'nestlÉ';
  text-transform: uppercase;
  font-family: ProximaNovaBold;
  opacity: 0.07;
  font-size: 75px;
  color: #bea67c;
  position: absolute;
  top: 38px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}
.first-section .info-wrap:nth-child(2) .info-title {
  margin-bottom: 8px;
}
.first-section .info-wrap:nth-child(2) .main-info {
  line-height: 18px;
  margin-bottom: 7px;
}
.first-section .info-wrap:nth-child(3) .info-title {
  margin-bottom: 12px;
}
.first-section .info-wrap:nth-child(3) .main-info {
  line-height: 18px;
  margin-bottom: 7px;
}
.first-section .info-wrap:nth-child(3) .read-more {
  margin-bottom: 29px;
}
.second-section-header {
  background: url("../img/about-section-2.jpg") no-repeat right;
  background-size: cover;
}
.second-section-header .title-wrap {
  top: 103px;
}
.second-section-header .title-wrap .header-title {
  letter-spacing: 3px;
  margin-bottom: 37px;
}
.second-section-header .title-wrap .sub-title {
  margin-bottom: 40px;
}
.second-section {
  padding-bottom: 43px;
}
.second-section .info-wrap:nth-child(1) {
  margin-bottom: 26px;
}
.second-section .info-wrap:nth-child(1) .info-title {
  margin-bottom: 13px;
  letter-spacing: 0.3px;
}
.second-section .info-wrap:nth-child(1) .main-info {
  line-height: 18px;
  margin-bottom: 28px;
  letter-spacing: 0.3px;
}
.second-section .info-wrap:last-of-type .info-title {
  margin-bottom: 15px;
}
.second-section .info-wrap:last-of-type .main-info {
  line-height: 18px;
  MARGIN-BOTTOM: 26px;
}
.list-info {
  background: #f2f2f2;
  padding-left: 59px;
  padding-top: 36px;
  padding-bottom: 13px;
  position: relative;
}
.list-info:before {
  content: url("../img/list-cups.png");
  position: absolute;
  top: 71px;
  right: 0;
}
.list-info .list-title {
  font-family: ProximaNovaSemiBold;
  font-size: 15px;
  letter-spacing: -0.1px;
  margin-bottom: 28px;
}
.list-info ul {
  list-style-type: none;
}
.list-info ul li {
  font-family: ProximaNovaLight;
  font-size: 15px;
  line-height: 18px;
  position: relative;
  letter-spacing: 0.6px;
  margin-bottom: 29px;
}
.list-info ul li:before {
  content: '';
  background: #850028;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  left: -18px;
  top: 4px;
}
.border-info {
  padding: 8px 11px 8px 8px;
  position: relative;
  margin-bottom: 34px;
}
.border-info:after {
  content: url("../img/cup.png");
  position: absolute;
  left: 0;
  bottom: 10px;
  z-index: -1;
}
.border-info .border-text-wrap {
  border: 1px solid #bea67c;
  font-family: ProximaNovaLight;
  font-size: 18px;
  line-height: 26px;
  color: #2a2a2a;
  text-align: center;
  position: relative;
  padding: 168px 0 125px 6px;
  letter-spacing: 0.7px;
}
.border-info .border-text-wrap:before {
  content: url("../img/beans-title.png");
  position: absolute;
  left: -41px;
  right: 0;
  top: 13px;
}
.third-section-header {
  background: url("../img/about-section-3.jpg") no-repeat -235px 0;
  background-size: cover;
}
.third-section-header .title-wrap {
  top: 149px;
}
.third-section-header .title-wrap .header-title {
  margin-bottom: 22px;
}
.third-section-header .title-wrap .sub-title {
  margin-bottom: 39px;
}
.third-section .info-wrap:nth-child(2) {
  margin-bottom: 36px;
}
.third-section .info-wrap:nth-child(2) .info-title {
  margin-bottom: 17px;
}
.third-section .info-wrap:nth-child(2) .main-info {
  margin-bottom: 19px;
  line-height: 18px;
}
.third-section .info-wrap:nth-child(3) {
  margin-bottom: 33px;
}
.third-section .info-wrap:nth-child(3) .info-title {
  margin-bottom: 14px;
}
.third-section .info-wrap:nth-child(3) .main-info {
  margin-bottom: 19px;
  line-height: 18px;
}
.third-section .info-wrap:nth-child(4) {
  margin-bottom: 26px;
}
.third-section .info-wrap:nth-child(4) .info-title {
  margin-bottom: 14px;
}
.third-section .info-wrap:nth-child(4) .main-info {
  margin-bottom: 15px;
  line-height: 18px;
  letter-spacing: -0.4px;
}
.third-section .info-wrap:nth-child(5) {
  margin-bottom: 44px;
}
.third-section .info-wrap:nth-child(5) .info-title {
  margin-bottom: 18px;
}
.third-section .info-wrap:nth-child(5) .main-info {
  margin-bottom: 28px;
  line-height: 18px;
  letter-spacing: 0.7px;
}
.info-grafic {
  position: relative;
}
.info-grafic:before {
  content: '';
  background: url("../img/lines-big.png");
  background-size: cover;
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  margin: auto;
  width: 26px;
  height: 651px;
}
.info-grafic .title {
  text-align: center;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  font-family: ProximaNovaBold;
  letter-spacing: 1px;
  margin-bottom: 11px;
}
.info-grafic .sub-title {
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  font-family: ProximaNovaLight;
  letter-spacing: 0.7px;
  padding-left: 5px;
  margin-bottom: 38px;
}
.info-grafic .main-info-grafic {
  position: relative;
  padding-top: 171px;
  margin-bottom: 59px;
}
.info-grafic .main-info-grafic:before {
  content: url("../img/left-cup.png");
  position: absolute;
  left: 0;
  top: 0;
}
.info-grafic .main-info-grafic:after {
  content: url("../img/right-cup.png");
  position: absolute;
  right: 0;
  top: 0;
}
.info-grafic .main-info-grafic .fact {
  width: 207px;
  height: 207px;
  border-radius: 50%;
  color: #b0976a;
  position: relative;
  margin: 0 auto;
}
.info-grafic .main-info-grafic .fact:nth-child(1) {
  background: #f5f0e7;
  font-size: 44px;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  margin-bottom: 38px;
}
.info-grafic .main-info-grafic .fact:nth-child(1) span {
  font-size: 15px;
  line-height: 18px;
  display: block;
  text-transform: uppercase;
  font-family: ProximaNovaLight;
  letter-spacing: 1.1px;
  position: relative;
  left: 2px;
  margin-top: 3px;
}
.info-grafic .main-info-grafic .fact:nth-child(1) .fact-info-wrap {
  text-align: center;
  position: absolute;
  left: -6px;
  right: 0;
  top: 43%;
  transform: translateY(-50%);
}
.info-grafic .main-info-grafic .fact:nth-child(2) {
  border: 1px dashed #b0976a;
  font-size: 44px;
  font-family: "ProximaNovaBold", Arial, sans-serif;
}
.info-grafic .main-info-grafic .fact:nth-child(2) b {
  font-size: 20px;
  font-weight: 100;
}
.info-grafic .main-info-grafic .fact:nth-child(2) b:nth-child(1) {
  position: relative;
  left: -2px;
  font-size: 22px;
}
.info-grafic .main-info-grafic .fact:nth-child(2) b:nth-child(2) {
  position: relative;
  left: 7px;
}
.info-grafic .main-info-grafic .fact:nth-child(2) span {
  font-size: 15px;
  line-height: 18px;
  display: block;
  text-transform: uppercase;
  font-family: ProximaNovaLight;
  letter-spacing: 0.7px;
  position: relative;
  left: 2px;
  margin-top: 7px;
}
.info-grafic .main-info-grafic .fact:nth-child(2) .fact-info-wrap {
  text-align: center;
  position: absolute;
  left: -6px;
  right: 0;
  top: 48%;
  transform: translateY(-50%);
}
.footer-sub-title {
  text-align: center;
  font-family: ProximaNovaLight;
  font-size: 15px;
  line-height: 18px;
  position: relative;
  letter-spacing: 0.3px;
  padding-right: 1px;
  margin-bottom: 19px;
}
.footer-sub-title.underline {
  margin-bottom: 71px;
}
.footer-sub-title.underline:before {
  content: '';
  background: #bea67c;
  width: 23px;
  height: 2px;
  position: absolute;
  bottom: -38px;
  left: 0;
  right: 0;
  margin: auto;
}
.footer-sub-title.underline:after {
  content: 'nescafÉ';
  text-transform: uppercase;
  font-family: ProximaNovaBold;
  opacity: 0.07;
  font-size: 50px;
  color: #bea67c;
  position: absolute;
  top: 173px;
  letter-spacing: 10px;
  left: 0;
  right: 0;
  text-align: center;
  z-index: -1;
}
.footer-beans {
  display: block;
  margin: 24px auto 19px;
}
.info-about {
  display: none;
}
.wrapper_bg {
  height: 427px;
  position: relative;
  background: url("../img/catalog-1.jpg") no-repeat left;
  background-size: cover;
}
.all-info {
  padding: 0px 31px;
  text-align: center;
  position: absolute;
  bottom: 35px;
  right: 0px;
  left: 0px;
}
.next_wrapper {
  background: #bea67c;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  position: absolute;
  width: 44px;
  height: 43px;
  bottom: -25px;
  left: 0;
  z-index: 999;
  right: 0;
  margin: auto;
  opacity: 1;
  transition: 0.5s ease;
}
.next_wrapper:before {
  content: '';
  background: url("../img/arrow-down.png") no-repeat;
  background-size: cover;
  width: 15px;
  height: 7px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
.next_wrapper.active {
  transform: translateY(-200px);
  opacity: 0;
  transition: 0.9s ease;
}
.catalog-wrapper .title-wrap {
  top: 134px;
}
.catalog-wrapper .title-wrap .header-title {
  letter-spacing: 3.2px;
  line-height: 41px;
}
.catalog_info {
  font-size: 10px;
  font-family: 'ProximaNovaSemiBold';
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
}
.title-wrap .catalog_header_title {
  font-family: 'ProximaNovaLight';
  line-height: 40px;
  padding-top: 2px;
}
.title-wrap .title_wrap_catalog {
  top: 420px;
}
.catalog_title {
  color: #465254;
  text-align: center;
  font: 400 16px/42px "ProximaNovaRegular", Arial, sans-serif;
  margin: 0px auto 21px;
  white-space: nowrap;
}
.catalog-section-header {
  background-size: cover;
  padding-bottom: 40px;
  border-bottom: 1px solid #c2c2c2;
  background: #f2f2f2;
}
.catalog-section-header .btn-rect-catalog {
  background: #832a39;
  width: 193px;
  height: 36px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  margin: 0px auto;
  text-align: center;
  font-size: 10px;
  font-family: ProximaNovaBold;
  text-transform: uppercase;
  padding-top: 12px;
  letter-spacing: 1.3px;
}
.catalog-section-header .wrapper_img_catalog {
  padding-top: 53px;
}
.catalog-section-header .img_catalog {
  padding: 0px 73px 6px;
}
.catalog-section-header .img_catalog img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
.catalog-section-header.ingridients .catalog_title {
  margin-bottom: 9px;
}
.catalog-section-header.ingridients .img_catalog {
  padding: 0px 115px 36px;
}
.catalog-section-header.other-items .catalog_title {
  margin-bottom: 9px;
}
.catalog-section-header.other-items .img_catalog {
  padding: 43px 59px 40px 92px;
}
body {
  background: #fff;
}
.inform-product-bg {
  height: 443px;
  position: relative;
  background: url("../img/inforn-product-bg.jpg") no-repeat left;
  background-size: cover;
}
.next-product {
  bottom: -5px;
}
.all-info-product {
  bottom: 54px;
}
.inform-product-bg .title-product .header-title {
  line-height: 39px;
}
.catalog-wrapper .title-product {
  top: 127px;
}
.iform-product-wrapper {
  padding: 0 8px 20px;
}
.product-wrapper {
  background: #fff;
  display: inline-block;
  width: 50%;
  float: left;
  padding: 0 8px;
  margin-bottom: 15px;
}
.product-wrapper .border-wrap {
  border: 1px solid #e5e5e5;
  height: 100%;
}
.product-wrapper img {
  padding-top: 4px;
  max-width: 100%;
}
.title-product {
  color: #303030;
  font-family: "ProximaNovaSemiBold", Arial, sans-serif;
  padding: 0px 15px;
  font-size: 9px;
  margin-bottom: 27px;
  text-align: center;
}
.navigation-wrapper {
  padding: 0px 31px !important;
  border-bottom: none !important;
}
.navigation-wrapper .accordion-img {
  position: relative;
  z-index: 1;
  color: #454545;
  font-size: 10px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  transition: 0.2s;
  letter-spacing: 1px;
}
.navigation-wrapper .accordion-img:before {
  content: '';
  background: url("../img/MenuIconCatalog.png");
  background-size: cover;
  width: 11px;
  height: 9px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: -18px;
}
.categ-wrapper {
  padding: 18px 0px 13px 0px;
}
.categ-wrapper .navigation-wrapper .accordion-text {
  display: none;
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
  color: #454545;
}
.categ-wrapper .navigation-wrapper .accordion-text ul {
  padding: 0px 10px 10px;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;
}
.categ-wrapper .navigation-wrapper .accordion-text li {
  list-style: none;
  padding-top: 10px;
}
.categ-wrapper .navigation-wrapper .accordion-text a {
  color: #454545;
}
.item-catalog-wrapper .item-catalog a {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 18px;
  padding: 9px 14px;
  color: #303030;
  display: block;
  position: relative;
}
.item-catalog-wrapper .item-catalog:before {
  content: '';
  background: url("../img/arrow-down-grey.png") no-repeat;
  background-size: cover;
  width: 15px;
  height: 9px;
  position: absolute;
  top: 60px;
  right: 19px;
}
.item-wrapper {
  background: #f2f2f2;
  border-bottom: 1px solid #d3d3d3;
}
.item-wrapper .machin-slider-title {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  padding: 31px 0px 0px;
  text-align: center;
  line-height: 27px;
  font-weight: 100;
}
.item-wrapper .owl-dot {
  border-color: #832a39;
}
.item-wrapper .owl-dot:before {
  background: #832a39;
}
.make-machin {
  padding: 25px 24px 32px;
}
.make-machin .make-form {
  background: #832a39;
  color: #fff;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 9px;
  padding: 12px;
  text-transform: uppercase;
  min-width: 206px;
  height: 36px;
  letter-spacing: 2.2px;
  display: inline-block;
  text-align: center;
}
.make-machin .make-call {
  float: right;
  margin-right: 17px;
  margin-top: 9px;
}
.make-machin img {
  width: 17px;
  height: 17px;
}
.accordion {
  background-color: #fff;
  padding: 16px 0px;
}
h2 {
  margin: 0;
}
.itam-catalog a {
  display: block;
  position: relative;
  font: 14px/1 'Trebuchet MS', 'Lucida Sans';
  padding: 10px;
  color: #333;
  text-decoration: none;
}
.about-slider .proudct-item {
  padding: 17px 91px;
}
.about-slider .proudct-item img {
  height: 79%;
}
.accordion .accordion-body {
  border-bottom: 1px solid #c4c4c4;
  padding: 13px 23px 14px;
}
.accordion .accordion-body:last-child {
  border-bottom: none;
}
.accordion .accordion-body .accordion-title {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 16px;
  line-height: 17px;
  color: #303030;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  display: block;
}
.accordion .accordion-body .accordion-title span {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 14px;
}
.accordion .accordion-body .accordion-title:before {
  content: '';
  background: url("../img/exit.png") no-repeat;
  background-size: cover;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 4px;
  right: -2px;
  transform: rotate(45deg);
  transition: transform 0.2s;
}
.accordion .accordion-body .accordion-title.active:before {
  transform: rotate(90deg);
  transition: transform 0.2s;
}
.accordion .accordion-body .accordion-text {
  display: none;
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 15px;
  padding-top: 12px;
  padding-bottom: 25px;
}
.catalog-slider .product-item {
  padding: 5% 29% 9.5%;
}
.catalog-slider .product-item img {
  width: 100%;
}
.catalog-product-slider .machin-product-slider-title {
  padding: 5px 23px;
  font-size: 16px;
  line-height: 17px;
  color: #303030;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  display: block;
  margin-bottom: 29px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
}
.item-catalog-wrapper .item-catalog a {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 18px;
  padding: 9px 14px;
  color: #303030;
  display: block;
  position: relative;
}
.item-catalog-wrapper .item-catalog:before {
  content: '';
  background: url("../img/arrow-down-grey.png") no-repeat;
  background-size: cover;
  width: 15px;
  height: 9px;
  position: absolute;
  top: 60px;
  right: 19px;
}
.item-wrapper {
  background: #f2f2f2;
  border-bottom: 1px solid #d3d3d3;
}
.item-wrapper .machin-slider-title {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  padding: 31px 0px 0px;
  text-align: center;
  line-height: 27px;
  font-weight: 100;
}
.item-wrapper .owl-dot {
  border-color: #832a39;
}
.item-wrapper .owl-dot:before {
  background: #832a39;
}
.make-form-wrapper {
  padding: 20px 24px 32px;
}
.make-form-wrapper .make-form {
  background: #832a39;
  color: #fff;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 9px;
  padding: 12px;
  text-transform: uppercase;
  min-width: 206px;
  height: 36px;
  letter-spacing: 2.2px;
  display: inline-block;
  text-align: center;
}
.make-form-wrapper .make-call {
  float: right;
  margin-right: 17px;
  margin-top: 9px;
}
.make-form-wrapper img {
  width: 17px;
  height: 17px;
}
.accordion {
  background-color: #fff;
  padding: 16px 0px;
}
h2 {
  margin: 0;
}
.itam-catalog a {
  display: block;
  position: relative;
  font: 14px/1 'Trebuchet MS', 'Lucida Sans';
  padding: 10px;
  color: #333;
  text-decoration: none;
}
.about-slider .proudct-item {
  padding: 17px 91px;
}
.about-slider .proudct-item img {
  height: 79%;
}
.accordion .accordion-body {
  border-bottom: 1px solid #c4c4c4;
  padding: 13px 23px 14px;
}
.accordion .accordion-body:last-child {
  border-bottom: none;
}
.accordion .accordion-body .accordion-title {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 16px;
  line-height: 17px;
  color: #303030;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  display: block;
}
.accordion .accordion-body .accordion-title span {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 14px;
}
.accordion .accordion-body .accordion-title:before {
  content: '';
  background: url("../img/exit.png") no-repeat;
  background-size: cover;
  width: 9px;
  height: 9px;
  position: absolute;
  top: 4px;
  right: -2px;
  transform: rotate(45deg);
  transition: transform 0.2s;
}
.accordion .accordion-body .accordion-title.active:before {
  transform: rotate(90deg);
  transition: transform 0.2s;
}
.accordion .accordion-body .accordion-text {
  display: none;
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.3px;
  line-height: 15px;
  padding-top: 12px;
  padding-bottom: 25px;
}
.item-ingred-img img {
  width: 100%;
  padding: 22px 90px;
}
body {
  background: #fff;
}
.inform-ingred-bg {
  height: 428px;
  position: relative;
  background: url("../img/ingred.jpg") no-repeat left;
  background-size: cover;
}
.next-product {
  bottom: -5px;
}
.all-info-ingred {
  bottom: 39px;
}
.catalog-wrapper .title-ingred {
  top: 166px;
}
.iform-product-wrapper .ingred-product-wrapper {
  background: #fff;
  display: inline-block;
  width: 50%;
  float: left;
  padding: 0 8px;
  margin-bottom: 15px;
}
.iform-product-wrapper .ingred-product-wrapper .border-wrap {
  border: 1px solid #e5e5e5;
}
.iform-product-wrapper img {
  padding: 10px 29px;
  max-width: 100%;
  margin: 0 auto;
  display: block;
}
.iform-product-wrapper .title-product {
  color: #303030;
  font-family: "ProximaNovaSemiBold", Arial, sans-serif;
  padding: 0px 15px;
  font-size: 9px;
  margin-bottom: 27px;
  text-align: center;
}
.iform-product-wrapper span {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 8px;
}
.navigation-wrapper {
  padding: 0px 31px !important;
  border-bottom: none !important;
}
.navigation-wrapper .accordion-img {
  position: relative;
  z-index: 1;
  color: #454545;
  font-size: 10px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  transition: 0.2s;
  letter-spacing: 1px;
}
.navigation-wrapper .accordion-img:before {
  content: '';
  background: url("../img/MenuIconCatalog.png");
  background-size: cover;
  width: 11px;
  height: 9px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: -18px;
}
.ingred-wrapper {
  padding: 32px 0px 13px 0px;
}
.ingred-wrapper .navigation-wrapper .accordion-text {
  display: none;
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
  color: #454545;
}
.ingred-wrapper .navigation-wrapper .accordion-text ul {
  padding: 0px 10px 10px;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;
}
.ingred-wrapper .navigation-wrapper .accordion-text li {
  list-style: none;
  padding-top: 10px;
}
.ingred-wrapper .navigation-wrapper .accordion-text a {
  color: #454545;
}
.related-products-bg {
  height: 428px;
  position: relative;
  background: url("../img/related-products.jpg") no-repeat left;
  background-size: cover;
}
.catalog-wrapper .title-related {
  top: 169px;
}
.catalog-wrapper .title-related .related-products-title {
  color: #fff;
  text-align: center;
  font: 400 26px/39px "ProximaNovaRegular", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 0 31px;
  margin: 0 auto 23px;
}
.next-releted {
  bottom: -22px;
}
.product-wrapper img {
  padding: 20px 14px;
  max-width: 100%;
}
.releted-product-wrapper {
  padding: 0 8px 20px;
}
.releted-product-wrapper .ingred-product-wrapper {
  background: #fff;
  display: inline-block;
  width: 50%;
  float: left;
  padding: 0 8px;
  margin-bottom: 15px;
}
.releted-product-wrapper .ingred-product-wrapper .border-wrap {
  border: 1px solid #e5e5e5;
}
.releted-product-wrapper .ingred-product-wrapper .border-wrap img {
  padding: 29px 19px 7px;
  max-width: 100%;
}
.releted-product-wrapper .product-wrapper {
  background: #fff;
  display: inline-block;
  width: 50%;
  float: left;
  padding: 0 8px;
  margin-bottom: 15px;
}
.releted-product-wrapper .title-product-releted {
  color: #303030;
  font-family: "ProximaNovaSemiBold", Arial, sans-serif;
  padding: 0px 15px;
  font-size: 9px;
  margin-bottom: 27px;
  text-align: center;
}
.releted-product-wrapper span {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 8px;
}
.navigation-wrapper {
  padding: 0px 31px !important;
  border-bottom: none !important;
}
.navigation-wrapper .accordion-img {
  position: relative;
  z-index: 1;
  color: #454545;
  font-size: 10px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  transition: 0.2s;
  letter-spacing: 1px;
}
.navigation-wrapper .accordion-img:before {
  content: '';
  background: url("../img/MenuIconCatalog.png");
  background-size: cover;
  width: 11px;
  height: 9px;
  position: absolute;
  top: 0px;
  right: 0px;
  left: -18px;
}
.categ-wrapper {
  padding: 18px 0px 13px 0px;
}
.categ-wrapper .navigation-wrapper .accordion-text {
  display: none;
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 14px;
  padding-top: 12px;
  color: #454545;
}
.categ-wrapper .navigation-wrapper .accordion-text ul {
  padding: 0px 10px 10px;
  border-top: 1px solid #454545;
  border-bottom: 1px solid #454545;
}
.categ-wrapper .navigation-wrapper .accordion-text li {
  list-style: none;
  padding-top: 10px;
}
.categ-wrapper .navigation-wrapper .accordion-text a {
  color: #454545;
}
.item-wrapper .releted-slider-title {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  padding: 31px 0px 0px;
  text-align: center;
  line-height: 25px;
  font-weight: 100;
}
.item-wrapper .item-relprod-img img {
  max-width: 100%;
  padding: 37px 116px 11px 103px;
  margin: 0 auto;
  display: block;
}
.catalog-product-slider {
  margin: 0 auto 30px;
}
.catalog-product-slider .catalog-product-slider-title {
  padding: 1px 22px;
  font-size: 16px;
  line-height: 17px;
  color: #303030;
  font-weight: 100;
  letter-spacing: 1px;
  position: relative;
  display: block;
  margin-bottom: 29px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
}
.catalog-product-slider .slider-wrap-product {
  padding: 0 14px;
  position: relative;
}
.catalog-product-slider .slider-wrap-product img {
  width: 100%;
}
.catalog-product-slider .slider-wrap-product .new-product {
  position: absolute;
  max-width: 82px;
  padding: 5px 6px 6px;
  height: 20px;
  background: #bea67c;
  color: #fff;
  top: 59px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 9px;
  z-index: 1;
}
.catalog-product-slider .slider-wrap-product .other-product-name {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 9px;
  padding: 5px 0px;
  text-align: center;
  letter-spacing: 1px;
}
.make-related {
  padding: 26px 24px 32px;
}
.article-bg {
  height: 428px;
  position: relative;
  background: url("../img/article-phone.jpg") no-repeat left;
  background-size: cover;
}
.article-bg .title-wrap .title-article {
  margin-bottom: 10px;
}
.article-bg .title-article-phone {
  top: 80px;
}
.next-article {
  bottom: -20px;
}
.title-article-phone span {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 18px;
  display: block;
  padding: 0 31px;
  color: #fff;
  line-height: 20px;
  letter-spacing: 1px;
  text-align: center;
}
.title-line-wrap {
  text-align: center;
  overflow: hidden;
}
.title-news-article:before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 118px;
  background: #000;
  left: -15px;
  transform: translateX(-100%);
  top: 64%;
}
.title-news-article:after {
  content: '';
  height: 1px;
  width: 118px;
  background: #000;
  position: absolute;
  right: -15px;
  transform: translateX(100%);
  top: 64%;
}
.title-news-article {
  display: inline-block;
  padding: 69px 0px 29px;
  font-size: 23px;
  position: relative;
  text-transform: uppercase;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  letter-spacing: 2px;
  font-size: 22px;
}
.news-article {
  letter-spacing: 2px;
  padding: 28px 0px;
}
.news-article:before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 118px;
  background: #000;
  left: -15px;
  transform: translateX(-100%);
  top: 49%;
}
.news-article:after {
  content: '';
  height: 1px;
  width: 118px;
  background: #000;
  position: absolute;
  right: -15px;
  transform: translateX(100%);
  top: 49%;
}
.wrapper-article-phone {
  padding: 0px 8px 39px;
}
.wrapper-article-phone .article .border-wrap-article {
  border: 1px solid #c6c6c6;
  height: 100%;
  border-top: none;
  position: relative;
  padding: 39px 0px 0px;
  text-align: center;
}
.wrapper-article-phone .article .border-wrap-article .read-more {
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
  font-size: 8px;
  text-align: center;
  display: inline-block;
  position: relative;
  font-family: "ProximaNovaLight", Arial, sans-serif;
}
.wrapper-article-phone .article .border-wrap-article .read-more:before {
  content: '';
  background: #bea67c;
  height: 1px;
  width: 21px;
  position: absolute;
  left: 0px;
  bottom: -1px;
}
.wrapper-article-phone .article .border-wrap-article .read-more:after {
  content: '';
  background: #bea67c;
  height: 1px;
  width: 20px;
  position: absolute;
  right: -22px;
  top: 2px;
}
.wrapper-article-phone .article .border-wrap-article .top-article-wrap {
  position: absolute;
  top: -10px;
  width: 100%;
  overflow-x: hidden;
  height: 25px;
}
.wrapper-article-phone .article .border-wrap-article .article-preview-phone {
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.3px;
  padding: 10px 0px 13px;
  line-height: 16px;
  font-family: "ProximaNovaLight", Arial, sans-serif;
}
.wrapper-article-phone .article .border-wrap-article .title-phone {
  text-align: center;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 12px;
  color: #000;
  letter-spacing: 2px;
  padding: 0px 7%;
  display: block;
  text-transform: uppercase;
}
.wrapper-article-phone .article .border-wrap-article .img-wrap-phone img {
  max-width: 100%;
  padding: 12px 10px;
}
.wrapper-article-phone .article .border-wrap-article .date-phone {
  font-size: 9px;
  position: absolute;
  left: 0;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  right: 0;
  margin: auto;
  width: 180px;
  text-align: center;
  text-transform: uppercase;
  color: #6e6e6e;
}
.wrapper-article-phone .article .border-wrap-article .date-phone:before {
  content: '';
  background: #c6c6c6;
  height: 1px;
  width: 999px;
  position: absolute;
  transform: translateX(-95%);
  left: 0;
  top: 10px;
}
.wrapper-article-phone .article .border-wrap-article .date-phone:after {
  content: '';
  background: #c6c6c6;
  height: 1px;
  width: 999px;
  position: absolute;
  transform: translateX(95%);
  right: 0;
  top: 10px;
}
.wrapper-article-phone .article .article-wrap-second {
  padding: 44px 0px 0px;
}
.wrapper-article-phone .article .article-wrap-second .title-phone-second {
  font-size: 14px;
  letter-spacing: 1.2px;
}
.second-phon-block {
  padding: 0px 8px 29px;
}
.show-more-btn-phone {
  color: #c8a87b;
  border: 1px solid #c8a87b;
  border-radius: 64px;
  display: block;
  width: 178px;
  height: 42px;
  margin: 0 auto;
  text-transform: uppercase;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 9px;
  line-height: 35px;
  text-align: center;
  position: relative;
  padding-top: 4px;
  margin-bottom: 43px;
  letter-spacing: 1.5px;
  padding-right: 26px;
}
.show-more-btn-phone:after {
  content: '';
  background: url("../img/arrow-circle.png") no-repeat;
  position: absolute;
  background-size: cover;
  transform: translateY(-50%);
  top: 50%;
  right: 26px;
  width: 17.5px;
  height: 21.5px;
}
.wrapper-info-articles {
  background: #fff;
  position: relative;
}
.wrapper-info-articles img {
  padding-top: 0px;
  max-width: 100%;
  display: block;
}
.wrapper-info-articles .more-title-info {
  font-size: 23px;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 67px 0px 21px;
  line-height: 31px;
}
.wrapper-info-articles .info-txt-article {
  text-align: center;
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.2px;
  margin-bottom: 53px;
  padding: 0px 8px;
}
.wrapper-info-articles .info-txt-article span {
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 14px;
}
.wrapper-info-articles .list-wrapper-articles {
  padding: 51px 21px 0px;
  margin-bottom: 70px;
}
.wrapper-info-articles .list-wrapper-articles h2 {
  font-size: 19px;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  line-height: 20px;
  margin-bottom: 27px;
}
.wrapper-info-articles .list-wrapper-articles p {
  font-family: "ProximaNovaSemiBold", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  line-height: 19px;
}
.wrapper-info-articles .list-wrapper-articles .wrap-info-list {
  padding: 21px 0px 0px 28px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  line-height: 18px;
  font-size: 13px;
  letter-spacing: 1.4px;
}
.wrapper-info-articles .list-wrapper-articles .wrap-info-list li {
  padding-bottom: 18px;
  list-style: none;
  position: relative;
}
.wrapper-info-articles .list-wrapper-articles .wrap-info-list li:before {
  content: '';
  background: url("../img/li-before.png") no-repeat center;
  background-size: cover;
  position: absolute;
  width: 12px;
  height: 12px;
  left: -27px;
  top: 3px;
  display: block;
  border-radius: 50%;
}
.articles-second-wrapper {
  background: #f2f2f2;
}
.articles-second-wrapper:before {
  content: '';
  background: url("../img/coffe-cup.png") no-repeat center;
  background-size: cover;
  position: absolute;
  height: 100px;
  width: 100px;
  top: -54px;
  right: 107px;
}
.articles-second-wrapper .articles-second-title {
  font-size: 19px;
  padding: 69px 0px 19px;
  letter-spacing: 1px;
}
.articles-second-wrapper .articles-txt-wrap {
  text-align: center;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  line-height: 21px;
  font-size: 13px;
  letter-spacing: 1.5px;
}
.articles-second-wrapper .articles-txt-wrap p {
  padding: 0px 0px 35px;
}
.articles-second-wrapper .articles-txt-wrap:before {
  content: '';
  background: #c6c6c6;
  height: 1px;
  width: 73px;
  position: absolute;
  transform: translateX(91%);
  right: 194px;
  top: 345px;
}
.wrapper-info-articles .next-title-article {
  font-size: 19px;
  padding: 38px 0px 24px;
  line-height: 23px;
  letter-spacing: 1px;
}
.wrapper-info-articles .next-article-txt {
  text-align: center;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  line-height: 19px;
  font-size: 13px;
  letter-spacing: 1.7px;
  padding: 0px 18px 48px;
}
.wrapper-info-articles .next-article-txt p:first-child {
  margin-bottom: 14px;
}
.wrapper-info-articles .next-article-txt p:last-child {
  line-height: 18px;
}
.techno-article {
  background: #f2f2f2;
}
.techno-article .techno-txt-wrap {
  padding-bottom: 33px;
}
.techno-article .techno-txt-wrap .techno-txt {
  text-align: center;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  line-height: 16px;
  font-size: 12px;
  letter-spacing: 1px;
}
.techno-article .techno-txt-wrap .techno-txt:first-child {
  padding-top: 30px;
}
.techno-article .techno-txt-wrap .techno-txt:last-child {
  padding-top: 45px;
}
.techno-article .techno-txt-wrap .techno-txt .txt-img-techno {
  display: block;
  width: 80px;
  height: 80px;
  background: #99092c;
  border-radius: 50%;
  margin: 0 auto 17px;
  padding: 20px;
}
.techno-article .techno-txt-wrap .techno-txt .txt-img-techno img {
  max-width: 100%;
}
.wrapper-info-articles .info-rent-wrapper {
  text-align: center;
  padding: 43px 13px 0px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.4px;
}
.wrapper-info-articles .info-rent-wrapper p:first-child {
  padding-bottom: 16px;
}
.wrapper-info-articles .info-rent-wrapper p:last-child {
  padding-bottom: 43px;
}
.wrapper-info-articles .info-rent-wrapper span {
  font-family: "ProximaNovaSemiBold", Arial, sans-serif;
  font-size: 14px;
}
.coffe-bg:before {
  content: 'a';
  text-transform: uppercase;
  position: absolute;
  font-size: 209px;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  color: #bea67c;
  letter-spacing: 16px;
  margin: auto;
  text-align: center;
  z-index: 0;
  opacity: 0.07;
  left: 243px;
  right: 0;
  overflow: hidden;
  top: 89px;
}
.second-coffe-bg:before {
  content: 'nest';
  text-transform: uppercase;
  position: absolute;
  font-size: 99px;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  color: #bea67c;
  letter-spacing: 16px;
  margin: auto;
  text-align: center;
  z-index: 0;
  opacity: 0.07;
  left: 11px;
  right: 0;
  top: 258px;
}
.info-article-wrapper {
  position: relative;
  text-align: center;
}
.info-article-wrapper p {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.4px;
}
.info-article-wrapper .number-article {
  color: #bea67c;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 30px;
  line-height: 27px;
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  margin-left: 19px;
}
.info-article-wrapper .number-article:before {
  content: '';
  background: url("../img/numb.png") no-repeat center;
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: -26px;
  right: 0;
}
.info-article-wrapper .number-article-seven {
  color: #bea67c;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 30px;
  line-height: 27px;
  position: relative;
  display: inline-block;
  margin-bottom: 18px;
  margin-left: 31px;
}
.info-article-wrapper .number-article-seven:before {
  content: '';
  background: url("../img/numb.png") no-repeat center;
  background-size: cover;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0px;
  left: -23px;
  right: 0;
}
.info-article-wrapper .title-info-article h2 {
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 25px;
  text-transform: uppercase;
  line-height: 27px;
  color: #000;
  letter-spacing: 1.5px;
  padding: 0px 30px 16px;
  position: relative;
  z-index: 1;
}
.seven-title h2 {
  letter-spacing: 0.5px;
  font-size: 24px;
}
.info-growing {
  padding-top: 153px;
}
.info-growing:before {
  content: '';
  background: url("../img/coffe1.png") no-repeat;
  background-size: cover;
  width: 50px;
  height: 53px;
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.info-growing:after {
  content: '';
  background: url("../img/bg-line-phone.png") no-repeat;
  background-size: cover;
  width: 4px;
  height: 62px;
  position: absolute;
  top: 83px;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;
}
.info-growing .map-article1 {
  position: absolute;
  right: 0;
  top: 82px;
  padding-top: 0px;
}
.info-select {
  padding-top: 193px;
}
.info-select .phone-article1 {
  position: absolute;
  left: 0;
  top: 23px;
  padding-top: 0px;
}
.info-select .first-line {
  position: absolute;
  left: 0;
  top: 4px;
  width: 4px;
  right: 0px;
  margin: 0 auto;
  padding-top: 0px;
}
.info-roasting {
  padding-top: 193px;
}
.info-roasting .vetka {
  position: absolute;
  left: 0;
  top: -12px;
  padding-top: 0px;
}
.info-roasting .red-zerna {
  position: absolute;
  right: -40px;
  top: 14px;
  padding-top: 0px;
}
.info-roasting .one-black {
  position: absolute;
  right: 9px;
  left: 0px;
  margin: 0 auto;
  top: 93px;
  padding-top: 0px;
}
.info-roasting .second-line {
  position: absolute;
  left: 0;
  top: 24px;
  width: 4px;
  right: 0px;
  margin: 0 auto;
  padding-top: 0px;
}
.info-roasting .lact-second-line {
  position: absolute;
  left: 0;
  top: 129px;
  width: 4px;
  right: 0px;
  margin: 0 auto;
  padding-top: 0px;
}
.info-milling {
  padding-top: 170px;
}
.info-milling .one-coffe {
  position: absolute;
  right: -22px;
  top: 172px;
  padding-top: 0px;
}
.info-milling .coffe-article-img {
  position: absolute;
  left: 0;
  top: 14px;
  padding-top: 0px;
}
.info-milling .article-girl {
  position: absolute;
  right: -25px;
  top: 7px;
  padding-top: 0px;
}
.info-milling .four-line {
  position: absolute;
  left: 0;
  top: 20px;
  width: 4px;
  right: 0px;
  margin: 0 auto;
  padding-top: 0px;
}
.info-brewing {
  padding-top: 112px;
}
.info-brewing .coffe-mol {
  position: absolute;
  right: -22px;
  top: 12px;
  padding-top: 0px;
  z-index: 0;
}
.info-brewing .main-machin {
  position: absolute;
  left: -5px;
  top: 31px;
  padding-top: 0px;
}
.info-brewing .five-line {
  position: absolute;
  left: 0;
  top: 30px;
  width: 4px;
  right: 0px;
  margin: 0 auto;
  padding-top: 0px;
}
.info-drying {
  padding-top: 101px;
}
.info-drying .coffa-cup {
  position: absolute;
  left: -2px;
  top: 13px;
  padding-top: 0px;
}
.info-drying .six-line {
  position: absolute;
  left: 0;
  top: 20px;
  width: 4px;
  right: 0px;
  margin: 0 auto;
  padding-top: 0px;
}
.info-preparation {
  padding-top: 533px;
}
.info-preparation p {
  letter-spacing: 0px;
}
.info-preparation .arabica-img {
  position: absolute;
  left: -8px;
  right: 0;
  margin: 0 auto;
  top: 81px;
  padding-top: 0px;
}
.info-preparation .second-map {
  position: absolute;
  right: -22px;
  top: 199px;
  padding-top: 0px;
}
.info-preparation .cup-alegcoffe {
  position: absolute;
  left: -2px;
  top: 400px;
  padding-top: 0px;
}
.info-preparation .grout-coffe {
  position: absolute;
  right: -61px;
  top: 20px;
  padding-top: 0px;
}
.info-preparation .seven-black {
  position: absolute;
  right: 9px;
  left: 0px;
  margin: 0 auto;
  top: 266px;
  padding-top: 0px;
}
.info-preparation .seven-line {
  position: absolute;
  left: 0;
  top: 47px;
  width: 4px;
  right: 0px;
  margin: 0 auto;
  padding-top: 0px;
  z-index: 1;
}
.info-preparation .eight-line {
  position: absolute;
  left: 0;
  top: 174px;
  width: 4px;
  right: 0px;
  margin: 0 auto;
  padding-top: 0px;
  z-index: 1;
}
.info-preparation .nine-line {
  position: absolute;
  left: 0;
  top: 350px;
  width: 4px;
  height: 174px;
  right: 0px;
  margin: 0 auto;
  padding-top: 0px;
  z-index: 1;
}
.wrapp-all-articles {
  overflow: hidden;
}
.line-article {
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}
.line-article:before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 118px;
  background: #000;
  left: 0px;
  transform: translateX(-100%);
  top: 47%;
}
.line-article:after {
  content: '';
  height: 1px;
  width: 118px;
  background: #000;
  position: absolute;
  right: 0px;
  transform: translateX(100%);
  top: 47%;
}
.noMargin .line-news {
  padding: 17px 0px;
  display: inline-block;
  position: relative;
}
.noMargin .line-news:before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 118px;
  background: #000;
  left: -7px;
  transform: translateX(-100%);
  top: 44%;
}
.noMargin .line-news:after {
  content: '';
  height: 1px;
  width: 118px;
  background: #000;
  position: absolute;
  right: -7px;
  transform: translateX(100%);
  top: 44%;
}
.wrapper-article-phone .article .more-article-line {
  padding: 46px 0px 0px;
}
.line-news-second {
  padding: 31px 0px;
  display: inline-block;
  position: relative;
}
.line-news-second:before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 118px;
  background: #000;
  left: -7px;
  transform: translateX(-100%);
  top: 48%;
}
.line-news-second:after {
  content: '';
  height: 1px;
  width: 118px;
  background: #000;
  position: absolute;
  right: -7px;
  transform: translateX(100%);
  top: 48%;
}
.first-bg:before {
  content: 'nes';
  text-transform: uppercase;
  position: absolute;
  font-size: 121px;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  color: #bea67c;
  letter-spacing: 16px;
  margin: auto;
  text-align: center;
  z-index: 0;
  opacity: 0.08;
  left: 84px;
  right: 0;
  overflow: hidden;
  bottom: 211px;
}
.all-wrapper-sections {
  display: none;
}
.about-coffe-article .about-coffe-line {
  padding: 69px 0px 29px;
  display: inline-block;
  position: relative;
}
.about-coffe-article .about-coffe-line:before {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 118px;
  background: #000;
  left: -7px;
  transform: translateX(-100%);
  top: 64%;
}
.about-coffe-article .about-coffe-line:after {
  content: '';
  height: 1px;
  width: 118px;
  background: #000;
  position: absolute;
  right: -7px;
  transform: translateX(100%);
  top: 64%;
}
.calculation-head-menu {
  height: 44px;
  width: 100%;
  padding: 0 13px;
  background: #832a39;
}
.calculation-head-menu .menu-wrapper {
  border-top: 1px solid rgba(255,255,255,0.13);
  list-style-type: none;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%;
  -ms-flex-align: center;
  align-items: center;
}
.calculation-head-menu .menu-wrapper li {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 10px;
  color: #c8a87b;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
}
.calculation-head-menu .menu-wrapper li.active {
  color: #fff;
}
.calculation-head-menu .menu-wrapper li.active:before {
  content: '';
  background: #fff;
  height: 3px;
  width: 100%;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.find-solution .choice {
  padding-top: 37px;
}
.find-solution .choice__header {
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 16px;
  margin-bottom: 11px;
}
.find-solution .choice_sub_title {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.9px;
}
.find-solution .choice__list {
  margin: 16px 0 27px;
}
.calculation .step-1 {
  display: none;
  padding: 10px 13px 91px;
  background: #f2f2f2;
  position: relative;
}
.calculation .step-1:before {
  content: 'a';
  text-transform: uppercase;
  position: absolute;
  font-size: 250px;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  color: #bea67c;
  letter-spacing: 16px;
  margin: auto;
  text-align: center;
  z-index: 1;
  opacity: 0.07;
}
.calculation .step-1:before {
  top: -22px;
  left: -58px;
}
.calculation .step-1 .step-title {
  color: #2c2c2c;
  font-size: 17px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  width: 201px;
  margin: 57px 0 52px;
  letter-spacing: 1px;
  position: relative;
}
.calculation .step-1 .calc-cup {
  position: absolute;
  bottom: 0;
  right: 0;
}
.calculation .step-2 {
  padding: 40px 0 0;
  display: none;
}
.calculation .drink-menu-title {
  font-size: 14px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  text-align: center;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
}
.calculation .drink-menu .reset {
  width: 142px;
  margin: 12px auto 0;
}
.calculation .drink-menu .drinks-chose {
  padding-bottom: 39px;
}
.calculation .drink-menu-row {
  text-align: center;
  padding: 0 19px;
}
.calculation .drink-menu-row .menu-item {
  display: inline-block;
  width: 30%;
  height: 31px;
  margin-bottom: 29px;
  position: relative;
}
.calculation .drink-menu-row .menu-item input[type="checkbox"] {
  display: none;
}
.calculation .drink-menu-row .menu-item input[type="checkbox"] + label span {
  display: inline-block;
  width: 38px;
  height: 38px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  background: url("../img/cofe_sprite.png") 1px 0px no-repeat;
  cursor: pointer;
}
.calculation .drink-menu-row .menu-item input[type="checkbox"]:checked + label span {
  background: url("../img/cofe_sprite.png") 1px -38px no-repeat;
}
.calculation .drink-menu-row .menu-item input[type="checkbox"]#limon_tea {
  display: none;
}
.calculation .drink-menu-row .menu-item input[type="checkbox"]#limon_tea  + label span {
  display: inline-block;
  width: 22px;
  height: 36px;
  margin: -1px -1px 0 0;
  vertical-align: middle;
  background: url("../img/tea_sprite.png") 1px 0px no-repeat;
  cursor: pointer;
}
.calculation .drink-menu-row .menu-item input[type="checkbox"]#limon_tea:checked + label span {
  background: url("../img/tea_sprite.png") 1px -36px no-repeat;
}
.calculation .drink-menu-row .menu-item input[type="checkbox"]:checked ~ .menu-text {
  color: #832a39;
}
.calculation .drink-menu-row .menu-item .menu-text {
  position: absolute;
  top: 40px;
  width: 100%;
  left: 0;
  right: 0;
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 11px;
  line-height: 12px;
  padding: 0 12px;
}
.calculation .drinks-select {
  background: url("../img/drinks-select-bg.jpg") no-repeat;
  background-position: top center;
  background-size: cover;
  padding: 39px 19px;
}
.calculation .drinks-select-title {
  font-size: 14px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  text-align: center;
  letter-spacing: 0.7px;
  margin-bottom: 20px;
  color: #fff;
}
.calculation .drinks-select .drinks-wrapper {
  text-align: center;
  margin-bottom: 10px;
}
.calculation .drinks-select .drinks-wrapper .drink-chosen {
  display: inline-block;
  font-size: 12px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  color: #bea67c;
  text-align: left;
  width: 30%;
  position: relative;
  height: 66px;
}
.calculation .drinks-select .drinks-wrapper .drink-chosen .count-drink {
  font-size: 25px;
}
.calculation .drinks-select .drinks-wrapper .drink-chosen .drink-name {
  color: #fff;
  position: absolute;
  top: 31px;
  line-height: 10px;
  left: 0;
  letter-spacing: 1.5px;
}
.calculation .priceing .price-title {
  color: #fff;
  text-align: center;
  font-size: 15px;
  margin-bottom: 26px;
}
.calculation .step-3 {
  background: url("../img/red-bg.jpg") no-repeat;
  background-size: cover;
  padding: 40px 0;
  letter-spacing: 1px;
  display: none;
}
.calculation .drinks-table {
  table-layout: fixed;
  width: 100%;
}
.calculation .drinks-table thead {
  background: rgba(255,255,255,0.1);
}
.calculation .drinks-table thead td {
  vertical-align: middle;
  color: #bea67c;
  font-size: 10px;
  text-transform: uppercase;
  padding: 3px 13px;
  letter-spacing: -0.5px;
}
.calculation .drinks-table thead .drink-name {
  width: 169px;
}
.calculation .drinks-table tbody td {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  color: #fefefe;
  font-size: 11px;
  vertical-align: middle;
  padding: 12px 13px;
  position: relative;
}
.calculation .drinks-table tbody input {
  width: 70px;
  background: transparent;
  border: none;
  color: #fff;
  position: absolute;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
}
.calculation .drinks-table tbody .read {
  background: url("../img/read.png") center center no-repeat;
  width: 17px;
  height: 17px;
  cursor: pointer;
  display: block;
  position: absolute;
  z-index: 1;
  background-size: cover;
  top: 50%;
  transform: translateY(-50%);
}
.calculation .calculation-btn_razchet {
  width: 190px;
  height: 36px;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 10px;
  margin: 25px auto 0;
  letter-spacing: 1.1px;
}
.calculation .calculation-btn_razchet:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.step-4 {
  display: block;
}
.step-4 .finish_title {
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 12px;
  color: #475254;
  text-transform: uppercase;
  border-bottom: 1px solid #e5e5e5;
  padding: 31px 13px 22px 13px;
  margin-bottom: 20px;
  letter-spacing: 0.2px;
}
.wrap_prduct {
  margin: 0 13px 20px 13px;
}
.wrap_prduct .product {
  float: left;
  border: 1px solid #e4e4e4;
  margin: 0 10px 0 0;
  width: 32%;
}
.wrap_prduct .product img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.desc_product {
  float: left;
  width: 63%;
}
.desc_product .title_product {
  font-size: 14px;
  font-family: "ProximaNovaSemiBold", Arial, sans-serif;
  color: #333;
  letter-spacing: 0.7px;
}
.desc_product .article_find {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 10px;
  color: #7c7c7c;
  margin-top: 3px;
  position: relative;
  letter-spacing: 0.6px;
}
.desc_product .article_find:after {
  content: '';
  display: inline-block;
  border-bottom: 1px solid #bea67c;
  width: 31px;
  position: absolute;
  top: 24px;
  left: 0;
}
.desc_product .desc_detail_product {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 12px;
  color: #333;
  margin-top: 22px;
  letter-spacing: 0.3px;
  line-height: 1.2;
}
.desc_product .desc_detail_product span {
  font-family: "ProximaNovaSemiBold", Arial, sans-serif;
  font-size: 12px;
  color: #9d2439;
}
.desc_product .refresh_find {
  background-color: #c0a87f;
  font-family: "ProximaNovaSemiBold", Arial, sans-serif;
  font-size: 10px;
  color: #fff;
  padding: 8px 19px 8px 20px;
  margin-top: 17px;
  float: left;
  background-image: url("../img/refrach_find.png");
  background-repeat: no-repeat;
  background-position: 4px center;
  padding-left: 32px;
  letter-spacing: 1.7px;
  border-radius: 8px;
  display: block;
}
.block_text {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  color: #7c7c7c;
  font-size: 9px;
  padding: 5px 7px 0 14px;
  letter-spacing: 0.4px;
}
.block_text sup {
  color: #832a39;
}
.ordering {
  background: url("../img/bg_form_ordering.jpg") no-repeat center center;
  margin-top: 30px;
  padding: 25px 13px;
  background-size: cover;
}
.ordering .title_ordering {
  text-align: center;
  text-transform: uppercase;
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 15px;
  color: #323d3f;
  letter-spacing: 0.4px;
}
.ordering .select_ordering {
  padding: 0 0 4px 0;
  margin-top: 15px;
  border-bottom: 1px solid #e1e3e3;
}
.ordering .select2-container {
  width: 100% !important;
}
.ordering .select2-container .select2-selection--single {
  border: none;
  background-color: transparent;
}
.ordering .select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  color: #879294;
  font-size: 13px;
}
.ordering .select2-container .select2-selection--single .select2-selection__arrow {
  right: 23px;
}
.ordering .select2-container .select2-selection--single b {
  background: url("../img/close_select.png") no-repeat;
  border: none;
  width: 9px;
  height: 5px;
  display: block;
}
.ordering .select2-container .select2-selection__placeholder {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  color: #879294;
  font-size: 13px;
}
.ordering .select2-container--open .select2-selection--single .select2-selection__rendered {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  color: #879294;
  font-size: 13px;
}
.ordering .select2-container--open .select2-selection--single .select2-selection__arrow b {
  background: url("../img/open_select.png") no-repeat;
  width: 9px;
  height: 5px;
  display: block;
}
.select_ordering {
  position: relative;
}
.select_ordering input {
  position: relative;
  margin: 20px 0 0;
  display: block;
  width: 100%;
  border: none;
  background: transparent;
  margin-top: -4px;
  height: 31px;
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  color: #879294;
  font-size: 13px;
}
.required_fields {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 9px;
  color: #7c7c7c;
  display: block;
  letter-spacing: 0.1px;
  margin-top: 18px;
}
.required_fields sup {
  color: #832a39;
}
.license_agreement label {
  font-family: "ProximaNovaRegular", Arial, sans-serif;
  font-size: 9px;
  color: #7c7c7c;
  margin-top: 17px;
  letter-spacing: 0.2px;
  display: block;
}
.license_agreement input[type="checkbox"] {
  display: none;
}
.license_agreement input[type="checkbox"] + span {
  float: left;
  padding: 0px 9px 0 0;
}
.license_agreement input[type="checkbox"] + span span {
  display: inline-block;
  width: 12px;
  height: 12px;
  vertical-align: middle;
  background: url("../img/checked_sprite.png") 0px 0px no-repeat;
  cursor: pointer;
}
.license_agreement input[type="checkbox"]:checked + span span {
  background: url("../img/checked_sprite.png") 0px -12px no-repeat;
}
.btn_ordering {
  background: #832a39;
  display: block;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 9px;
  color: #fff;
  text-align: center;
  margin: 15px auto;
  border: none;
  text-transform: uppercase;
  padding: 13px 41px 12px 41px;
  letter-spacing: 1px;
}
.slider-wrapper {
  padding: 0 38px;
  margin-bottom: 60px;
}
.ui-slider {
  height: 2px;
  border: none;
  background: #832a39;
}
.ui-slider .ui-slider-handle {
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 50%;
  background: #832a39;
  top: 0;
  transform: translateY(-40%);
}
.ui-slider .count {
  position: absolute;
  color: #5a5a5b;
  font-family: "ProximaNovaLight", Arial, sans-serif;
  font-size: 11px;
  top: -6px;
}
.ui-slider .count.from {
  left: -40px;
}
.ui-slider .count.to {
  right: -40px;
}
.calculation-btn {
  width: 190px;
  height: 36px;
  background: #832a39;
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  font-size: 10px;
  margin: 0 auto;
  letter-spacing: 1.1px;
}
.calculation-btn:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.calculation-btn span {
  display: inline-block;
  vertical-align: middle;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.hotel .step-1 #slider-range-2 {
  background: #c0a87f;
  position: relative;
}
.hotel .step-1 #slider-range-2 .view {
  position: absolute;
  z-index: 2;
  top: 0;
  top: -32px;
  margin-left: -7px;
}
.hotel .step-1 #slider-range-2 .ui-slider-handle {
  background: #c0a87f;
  position: absolute;
  z-index: 1;
}
.hotel .wrap-half {
  float: left;
  width: 50%;
  padding: 0 20px 120px 0;
  position: relative;
}
@media (max-width: 1500px) {
  .hotel .wrap-half {
    padding: 0 20px 79px 0;
  }
}
.hotel .wrap-half.borders:after,
.hotel .wrap-half.borders:before {
  content: '';
  position: absolute;
}
.hotel .wrap-half.borders:after {
  width: 1px;
  height: 106px;
  background: #dbdbdb;
  top: 0;
  right: 21px;
}
.hotel .wrap-half.borders:before {
  width: 76%;
  height: 1px;
  background: #dbdbdb;
  bottom: 28px;
  left: 23px;
}
.hotel .wrap-half:nth-child(3) {
  padding-left: 52px;
  padding-right: 0;
}
@media (max-width: 1500px) {
  .hotel .wrap-half:nth-child(3) {
    padding-left: 25px;
  }
}
.hotel .wrap-half.stars-raiting .guests {
  margin-bottom: 41px;
}
@media (max-width: 1500px) {
  .hotel .wrap-half.stars-raiting .guests {
    margin-bottom: 27.060000000000002px;
  }
}
.hotel .wrap-half .stars-wrap {
  float: left;
}
.hotel .wrap-half .stars-wrap input[type=radio] {
  float: right;
  width: 22px;
  height: 22px;
  opacity: 0;
  position: absolute;
}
@media (max-width: 1500px) {
  .hotel .wrap-half .stars-wrap input[type=radio] {
    width: 15px;
    height: 15px;
  }
}
.hotel .wrap-half .stars-wrap input[type=radio]:checked + .star-icon,
.hotel .wrap-half .stars-wrap input[type=radio]:checked ~ .star-icon {
  background-position: 0px 0;
}
.hotel .wrap-half .stars-wrap .star-icon {
  content: '';
  background: url("../img/hotel-stars.png") no-repeat;
  background-position: -23px 0;
  width: 22px;
  height: 22px;
  display: inline-block;
  top: 0;
  left: 0;
  opacity: 1;
  float: right;
  margin-right: 7px;
  cursor: pointer;
}
@media (max-width: 1500px) {
  .hotel .wrap-half .stars-wrap .star-icon {
    margin-right: 4px;
    width: 15px;
    height: 15px;
    background-size: cover;
    background-position: -15px 0;
  }
}

/*# sourceMappingURL=style.css.map */
