<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8"/>
  <title>Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/flickity.css">
  <link rel="stylesheet" href="css/jquery-ui.min.css">
  <link rel="stylesheet" href="css/select2.min.css">
  <!-- <link rel="stylesheet" href="css/jquery-ui.structure.min.css"> -->

  <link rel="stylesheet" href="css/style.css"/>

  <!--[if lte IE 9]><meta http-equiv="X-UA-Compatible" content="IE=edge"/><![endif]-->

  <!--
    <link rel="shortcut icon" href="favicon.ico"/>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="">
  -->

</head>

<body>
      <header class="header">
    <div class="header__top">
        <nav class="navigation">
            <a href="#" class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="off-canvas-wrapper">
                <ul class="nav-off-canvas">
                    <li class="active"><a href="index.html">Главная</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="catalog.html">Каталог</a></li>
                    <li><a href="">Подобрать решение</a></li>
                    <li><a href="articles.html">Статьи</a></li>
                </ul>
                <ul class="line">
                    <li><a href="#">Оформить заказ</a></li>
                    <li><a href="#">Горячая линия</a></li>
                </ul>
            </div>
        </nav>
        <div class="logo">
            <a href=""><img src="img/logo.png"></a>
        </div>
        <div class="basket">
            <a href="#"><img src="img/basket.svg"></a>
        </div>
    </div>
</header>

      <div class="calculation-head-menu">
    <ul class="menu-wrapper">
        <li class="active">профиль</li>
        <li>характеристики</li>
        <li>место</li>
        <li>доход</li>
    </ul>
</div>
<div class="calculation hotel">
    <div class="step-1">
        <div class="step-title">
            Номерной фонд Вашей гостиницы
        </div>

        <div class="slider-wrapper">
            <div id="slider-range">
                <div class="count from">от 5</div>
                <div class="count to">> 50</div>
            </div>
        </div>

        <div class="step-title">
          Средняя заполняемость
        </div>

        <div class="slider-wrapper">
            <div id="slider-range-2">
                <div class="count from">от 0%</div>
                <div class="count to">> 100%</div>
                <span class="view"></span>
            </div>
        </div>
        <div class="wrap-half stars-raiting">
            <span class="guests">Количество звезд</span>
            <div class="stars-wrap clearfix">
                <input type="radio" ng-model="hotelStars" name="stars" value="5" id="5star">
                <label for="5star" class="star-icon"></label>
                <input type="radio" ng-model="hotelStars" name="stars" value="4" id="4star">
                <label for="4star" class="star-icon"></label>
                <input type="radio" ng-model="hotelStars" name="stars" value="3" id="3star">
                <label for="3star" class="star-icon"></label>
                <input type="radio" ng-model="hotelStars" name="stars" value="2" id="2star">
                <label for="2star" class="star-icon"></label>
                <input type="radio" ng-model="hotelStars" name="stars" value="1" id="1star">
                <label for="1star" class="star-icon"></label>
            </div>
        </div>
    </div>

        <a href="#" class="calculation-btn">
            <span>
                следующий шаг
            </span>
        </a>

        <img src="img/calc-cup.png" alt="" class="calc-cup">
    </div>
    <div class="step-2 drink-menu">
        <section class="drinks-chose">
            <div class="drink-menu-title">
                Выберите меню для Ваших
                <br> покупателей
            </div>
            <div class="drink-menu-row">
                <div class="menu-item">
                    <input id="americano" class=" menu-icon beans" type="checkbox" value="">
                    <label for="americano"><span></span></label>
                    <span class="menu-text">Американо</span>
                </div>
                <div  class="menu-item">
                    <input id="exspresso" class=" menu-icon beans" type="checkbox" value="">
                    <label for="exspresso"><span></span></label>
                    <span class="menu-text">Эспрессо</span>
                </div>
                <div  class="menu-item">
                    <input id="capuchino" class=" menu-icon beans" type="checkbox" value="">
                    <label for="capuchino"><span></span></label>
                    <span class="menu-text">Капучино</span>
                </div>
                <div  class="menu-item">
                    <input id="vanil_capuchino" class=" menu-icon beans" type="checkbox" value="">
                    <label for="vanil_capuchino"><span></span></label>
                    <span class="menu-text">Ванильный капучино</span>
                </div>
                <div  class="menu-item">
                    <input id="late" class=" menu-icon beans" type="checkbox" value="">
                    <label for="late"><span></span></label>
                    <span class="menu-text">Латте</span>
                </div>
                <div class="menu-item">
                    <input id="chocolade" class=" menu-icon beans" type="checkbox" value="">
                    <label for="chocolade"><span></span></label>
                    <span class="menu-text">Горячий шоколад</span>
                </div>
                <div  class="menu-item">
                    <input id="limon_tea" class=" menu-icon beans" type="checkbox" value="">
                    <label for="limon_tea" class="limon_tea"><span></span></label>
                    <span class="menu-text">Лимонный чай</span>
                </div>
                <div class="menu-item">
                    <input id="ristretto" class=" menu-icon beans" type="checkbox" value="">
                    <label for="ristretto"><span></span></label>
                    <span class="menu-text">Ристретто</span>
                </div>
            </div>
            <a href="#" class="calculation-btn reset">
                <span>
                    сбросить
                </span>
            </a>
        </section>
        <div class="drinks-select">
            <div class="drinks-select-title">
                Распределение напитков
                <br> по результатам проведенных
                <br> исследований:
            </div>
            <div class="drinks-wrapper">
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        американо
                    </div>
                </div>
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        латте
                    </div>
                </div>
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        горячего
                        шоколада
                    </div>
                </div>
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        капучино
                    </div>
                </div>
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        лимонного чая
                    </div>
                </div>
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        ристретто
                    </div>
                </div>
            </div>
            <a href="#" class="calculation-btn">
                <span>
                    следующий шаг
                </span>
            </a>
        </div>
    </div>

    <div class="step-3 priceing">
        <div class="price-title">
            Укажите цену продажи, <br>
            если она отличается <br>
            от рекомендованной
        </div>

        <table class="drinks-table">
            <thead>
                <tr>
                    <td class="drink-name" >Напиток</td>
                    <td class="drink-price" >Цена </td>
                    <td class="drink-custom-price" >Цена продажи</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="drink-name">Американо</td>
                    <td class="drink-price">45 руб.</td>
                    <td class="drink-custom-price-input">
                        <label class="read"></label>
                        <input class="input_number" type="number" value="">
                    </td>
                </tr>
                <tr>
                    <td>Американо</td>
                    <td>45 руб.</td>
                    <td class="drink-custom-price-input">
                        <label class="read"></label>
                        <input class="input_number" type="number" value="">
                    </td>
                </tr>
                <tr>
                    <td>Американо</td>
                    <td>45 руб.</td>
                    <td class="drink-custom-price-input">
                        <label class="read"></label>
                        <input class="input_number" type="number" value="">
                    </td>
                </tr>
                <tr>
                    <td>Американо</td>
                    <td>45 руб.</td>
                    <td class="drink-custom-price-input">
                        <label class="read"></label>
                        <input class="input_number" type="number" value="">
                    </td>
                </tr>
            </tbody>


        </table>
        <a href="#" class="calculation-btn_razchet">Рассчитать</a>


    </div>
    <div class="step-4 finish_calc clearfix">
        <div class="finish_title">
            nescafe professional рекомендует:
        </div>
        <div class="wrap_prduct clearfix">
            <div class="product">
                <img src="../img/cofevarka.jpg" alt="">
            </div>
            <div class="desc_product">
                <p class="title_product">
                    NESCAFE Alegria 8/40
                </p>
                <p class="article_find">Артикул:.2514/302</p>
                <p class="desc_detail_product">
                    Ваш маржинальный доход<br/> от продажи кофе составит:<br/> 4340 руб. в день х 31 =<br/> <span>134 540 руб. в мес.*</span>
                </p>
                <a class="refresh_find" href="#">Пересчитать</a>
            </div>
        </div>
        <div class="block_text">
            <sup>*</sup>Данное предложение не является публичной офертой, реальные данные могут отличаться от реальных
        </div>
        <form class="ordering">
            <p class="title_ordering">Оформить заявку</p>
            <div class="select_ordering">
                <select name="country" id="country" class="js-select select-styler" data-placeholder="Выберите страну*">
                    <option value=""></option>
                    <option value="Ukraine">Ukraine</option>
                </select>
            </div>
            <div class="select_ordering">
                <select name="city" id="city" class="js-select select-styler" data-placeholder="Выберите город*">
                    <option value=""></option>
                    <option value="Kiev">Kiev</option>
                </select>
            </div>
            <div class="select_ordering">
                <input type="text" id="name" name="name" placeholder="Имя*"/>
            </div>
            <div class="select_ordering">
                <input type="text" id="fistname" name="firsname" placeholder="Фамилия*"/>
            </div>
            <div class="select_ordering">
                <input type="text" id="phone" name="phone" placeholder="Телефон*"/>
            </div>
            <div class="select_ordering">
                <input type="email" id="email" name="email" placeholder="E-mail*"/>
            </div>
            <span class="required_fields"><sup>*</sup> Обязательные поля для заполнения</span>
            <div class="license_agreement">

                <label for="license">
                    <input type="checkbox" name="license" id="license">
                    <span><span></span></span>
                    Согласен на обработку персональных данных в соответствии с политикой конфиденциальности
                </label>
            </div>
            <button class="btn_ordering">Оформить заказ</button>
        </form>
    </div>
</div>

      <footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-logo"><a href="#"><img src="img/logo.png"></a></div>
    <a href="#" class="footer-up"><img src="img/up.svg"></a>
  </div>

  <nav class="footer-nav">
    <ul>
      <li><a href="#">О нас</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Подобрать решение</a></li>
      <li><a href="#">Статьи</a></li>
      <li><a href="#">Политика конфиденциальности</a></li>
    </ul>
    <p class="copyright">© 2016 NESTLÉ Professional®</p>
  </nav>
</footer>

</div>


<!-- scripts
___________________________________________________________________________-->

<script src="js/libs.js"></script>
<script src="js/common.js"></script>
<script src="//localhost:35729/livereload.js"></script>

</body>
</html>
