.footer
  background-color:  #475254
  padding: 16px 42px 34px
  color #fff

  &-wrapper
    overflow hidden
    margin-bottom 9px

  &-logo
    max-width 64px
    float left
    img
      max-width 100%

  &-up
    max-width 27px
    float right
    margin-top 2px
    img
      max-width 100%

  &-nav
    text-align center

    li
      list-style none
      display inline-block
      margin-right 5px

      &:last-child
        width 100%
        text-align center

      a
        color #fff
        font 300 11px proximaNovaLight

  .copyright
    font 300 8px proximaNovaLight
    margin-top 15px