.header
  width 100%

  &__top
    padding 6px 14px 20px
    width 100%
    height 44px
    background-color: $color-main
    position relative

  .navigation
    width 14px
    height 10px
    float left
    margin-top 12px

  .nav-toggle
    width 100%
    height 100%
    display block
    position relative
    overflow hidden

    &.is-active
      span
        height 1px

      span:first-child
        transform rotate(45deg)

      span:nth-child(2)
        opacity 0

      span:last-child
        transform rotate(-45deg)
        bottom -1px

    span
      position absolute
      display block
      width 100%
      height 2px
      background-color: #fff
      transition: all .3s ease-in-out

      &:first-child
        top 0
        transform-origin: left center;

      &:nth-child(2)
        top 4px
        transform-origin: left center;

      &:last-child
        bottom 0
        transform-origin: left center;

  .logo
    position absolute
    max-width 64px
    left 50%
    transform translateX(-53%)

    img
      max-width 100%

  .basket
    float right
    width 13px
    height 13px
    margin-top 8px
    margin-right 3px

    img
      max-width 100%

.header-wrapper
  height 526px
  width 100%
  background url(../img/header-bg.jpg) no-repeat bottom / cover
  padding-top 56px
  color #fff
  text-align center
  overflow hidden
  position relative

  &:before
    content ""
    width 53px
    height 95px
    background url(../img/A.png)
    background-size cover
    position absolute
    left 0
    top 25px

  &:after
    content: ""
    width 100%
    height 61px
    position absolute
    left 0
    bottom 0
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 45%, rgba(0, 0, 0, 0) 100%);

.header-title
  font: 400 23px / 28px proximaNovaRegular
  text-transform uppercase
  letter-spacing: 2.8px
  padding 0 31px
  margin 0 auto 23px

.header-text
  font 300 15px / 17px proximaNovaLight
  letter-spacing 1px
  padding 0 30px
  margin 0 auto

.header-slider
  margin-top 37px
  position relative

  .item
    position relative
    text-align center

    img
      max-width 170px
      width 52%
      display inline-block
      margin 0 auto




.owl-controls
  position absolute
  left 0
  bottom: 0
  //bottom 82px
  width 100%

.owl-dots
  text-align center

.owl-dot
  display inline-block
  margin 0 4px
  width 8px
  height 8px
  border-radius 50%
  border 1px solid #fff
  position relative

  &:before
    content ""
    display block
    width: 4px;
    height: 4px;
    background-color #fff
    border-radius 50%
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)
    opacity 0
    transition all .3s ease-in-out

  &.active:before
    opacity 1

.off-canvas-wrapper
  position: absolute
  transform translateY(25px)
  z-index 10
  left 0
  top 44px
  padding-top 63px
  width 100%
  height 437px
  background url(../img/nav-bg.png) 0 0 / cover
  text-align center
  visibility hidden
  opacity 0
  will-change opacity, transform
  transition all .3s ease-in-out
  overflow auto
  z-index: 100

  &.fadeIn
    visibility visible
    transform translateY(0)
    opacity 1

  .nav-off-canvas li
    display block
    text-align center
    padding 5px 0

    &:first-of-type
      margin-bottom: 23px;
      margin-top: -5px;

    &:not(:first-of-type)
      padding 8px 0

    a
      color #2c2c2c
      font 400 20px proximaNovaRegular
      letter-spacing .5px
      position relative

    &.active a:after
      content ""
      width 100%
      height 1px
      background-color #2c2c2c
      position absolute
      left 0
      bottom 0

  .line
    position absolute
    left 0
    bottom 0
    width 100%
    background-color $darkgold
    overflow hidden
    list-style none
    height 48px

    li
      float left
      width 50%
      position relative

      &:first-child:after
        content ""
        width 1px
        height 40%
        background rgba(255, 255, 255, .4)
        position absolute
        top 50%
        transform translateY(-50%)
        right -5px

      &:first-child a

        &:before
          background url(../img/bag-mob.png) no-repeat center / cover

      &:last-child a
        padding-left 20px

        &:before
          background url(../img/phone-mob.png) no-repeat center / cover
          left 0

      a
        text-align center
        color #fff
        font 400 13px proximaNovaRegular
        line-height 46px
        position relative
        padding-left 32px

        &:before
          content ""
          display block
          width 13px
          height 13px
          position absolute
          left 13px
          top 0
