letterA()
  &:before
    content: 'a'
    text-transform uppercase
    position absolute
    font-size 250px
    font-family proximaNovaBold
    color: #bea67c;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 1;
    opacity: 0.07;

letterN()

  &:before
    content: 'n'
    text-transform uppercase
    position absolute
    font-size 395px
    font-family proximaNovaBold
    color: #bea67c;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 1;
    opacity: 0.07;

nescafe()
  position relative
  &:before
    content: 'nescafe'
    text-transform uppercase
    position absolute
    font-size 209px
    font-family proximaNovaBold
    color: #bea67c;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 0;
    opacity: 0.07;
nestle()
  position relative
  &:before
    content: 'nestle'
    text-transform uppercase
    position absolute
    font-size 209px
    font-family proximaNovaBold
    color: #bea67c;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 0;
    opacity: 0.07;
alegria()
  position relative
  &:before
    content: 'alegria'
    text-transform uppercase
    position absolute
    font-size 209px
    font-family proximaNovaBold
    color: #bea67c;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 0;
    opacity: 0.07;
