.title-wrap
  position: absolute
  left: 0
  right: 0;
  top: 131px;
  z-index: 10
  .header-title
    font-size: 30px
    line-height: 33px
    font-family: ProximaNovaRegular;
    color: #fff
    text-transform: uppercase
    text-align: center
    margin-bottom: 30px;
  .sub-title
    font-size: 15px
    line-height: 18px
    font-family: ProximaNovaLight;
    color: #fff
    text-align: center
    letter-spacing: 0.3px;
    padding-left: 3px;
    margin-bottom: 37px;
  .btn-rect-about
    width: 193px
    height: 36px
    box-sizing border-box
    border 1px solid #fff
    color: #fff
    display: block
    margin 0 auto
    text-align: center
    font-size: 10px
    font-family: ProximaNovaBold;
    text-transform: uppercase
    padding-top: 12px;
    letter-spacing: 1.3px;

.about-wrapper
  height: 526px;
  position: relative
  .owl-controls
    bottom: 21px;

.about-slider
  height: 100%
  .owl
    &-stage-outer
      height: 100%
    &-stage
      height: 100%
    &-item
      height: 100%
      overflow: hidden

  .item
    overflow: hidden
    img
      position: absolute
      height: 100%;
      position: absolute;
    &.machine
      img
        right: 0

.info-about
  padding-top: 41px;
  padding-bottom: 19px;
  .info-wrap
    color: #2a2a2a
    padding-left: 59px;
    &:not(:last-child)
      margin-bottom: 36px;
    .info-title
      text-transform: uppercase
      font-family: ProximaNovaBold;
      font-size: 16px
      letter-spacing: 1px;
      margin-bottom: 10px;
    .main-info
      font-family: ProximaNovaLight;
      font-size: 15px
      line-height: 17px
      letter-spacing: 0.7px;
      margin-bottom: 5px;
    .read-more
      position: relative
      text-transform: uppercase
      font-size: 7px
      display: inline-block
      font-family: ProximaNovaBold;
      color #000000
      text-decoration: none
      letter-spacing: 1.5px;
      margin-bottom: 25px;
      &:before
        content: '';
        background: #bea67c;
        height: 1px;
        width: 20px;
        position: absolute;
        bottom: -4px;
        left: 2px;
      &:after
        content: '';
        background: url("../img/gold-arrow.png") no-repeat;
        background-size: contain;
        width: 16px;
        height: 7px;
        position: relative;
        left: 5px;
        top: 3px;
        display: inline-block;
    .img-wrap
      padding-right: 60px;
      img
        width: 100%

.bg-text
  position: absolute
  font-family: ProximaNovaBold
  opacity: 0.07
  font-size: 50px
  color: #bea67c
  text-transform: uppercase
  margin-top: -61px
  left: 0
  right: 0
  text-align: center
  letter-spacing: 11px;

.first-section
  .info-wrap
    &:nth-child(1)
      position: relative
      &:before
        content 'nestlÉ'
        text-transform: uppercase
        font-family: ProximaNovaBold
        opacity: 0.07
        font-size: 75px
        color: #bea67c
        position: absolute
        top: 122px
        left: 0
        right: 0
        text-align: center
        z-index: -1;
    &:nth-child(2)
      position: relative
      &:before
        content 'nestlÉ'
        text-transform: uppercase
        font-family: ProximaNovaBold
        opacity: 0.07
        font-size: 75px
        color: #bea67c
        position: absolute
        top: 38px;
        left: 0
        right: 0
        text-align: center
        z-index: -1;
      .info-title
        margin-bottom: 8px;
      .main-info
        line-height: 18px;
        margin-bottom: 7px;
    &:nth-child(3)
      .info-title
        margin-bottom: 12px;
      .main-info
        line-height: 18px;
        margin-bottom: 7px;
      .read-more
        margin-bottom: 29px;

.second-section-header
  background url(../img/about-section-2.jpg) no-repeat right
  background-size cover
  .title-wrap
    top: 103px;
    .header-title
      letter-spacing: 3px;
      margin-bottom: 37px;
    .sub-title
      margin-bottom: 40px;

.second-section
  padding-bottom: 43px;
  .info-wrap
    &:nth-child(1)
      margin-bottom: 26px;
      .info-title
        margin-bottom: 13px;
        letter-spacing: 0.3px;
      .main-info
        line-height: 18px;
        margin-bottom: 28px;
        letter-spacing: 0.3px;
    &:last-of-type
      .info-title
        margin-bottom: 15px
      .main-info
        line-height: 18px;
        MARGIN-BOTTOM: 26px;

.list-info
  background #f2f2f2
  padding-left: 59px;
  padding-top: 36px;
  padding-bottom: 13px;
  position: relative
  &:before
    content url('../img/list-cups.png')
    position: absolute
    top: 71px;
    right: 0
  .list-title
    font-family: ProximaNovaSemiBold;
    font-size: 15px
    letter-spacing: -0.1px;
    margin-bottom: 28px;
  ul
    list-style-type: none
    li
      font-family: ProximaNovaLight;
      font-size: 15px
      line-height: 18px
      position: relative
      letter-spacing: 0.6px;
      margin-bottom: 29px;
      &:before
        content: '';
        background: #850028;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        left: -18px;
        top: 4px;

.border-info
  padding: 8px 11px 8px 8px;
  position: relative
  margin-bottom: 34px;
  &:after
    content url('../img/cup.png')
    position: absolute
    left: 0
    bottom: 10px;
    z-index: -1;
  .border-text-wrap
    border 1px solid #bea67c
    font-family: ProximaNovaLight;
    font-size: 18px
    line-height: 26px
    color: #2a2a2a
    text-align: center
    position: relative
    padding: 168px 0 125px 6px;
    letter-spacing: 0.7px;
    &:before
      content url('../img/beans-title.png')
      position: absolute
      left: -41px;
      right: 0;
      top: 13px;

.third-section-header
  background: url("../img/about-section-3.jpg") no-repeat -235px 0;
  background-size cover
  .title-wrap
    top: 149px;
    .header-title
      margin-bottom: 22px;
    .sub-title
      margin-bottom: 39px;

.third-section
  .info-wrap
    &:nth-child(2)
      margin-bottom: 36px;
      .info-title
        margin-bottom: 17px;
      .main-info
        margin-bottom: 19px;
        line-height: 18px;
    &:nth-child(3)
      margin-bottom: 33px;
      .info-title
        margin-bottom: 14px;
      .main-info
        margin-bottom: 19px;
        line-height: 18px;
    &:nth-child(4)
      margin-bottom: 26px;
      .info-title
        margin-bottom: 14px;
      .main-info
        margin-bottom: 15px;
        line-height: 18px;
        letter-spacing: -0.4px;
    &:nth-child(5)
      margin-bottom: 44px;
      .info-title
        margin-bottom: 18px;
      .main-info
        margin-bottom: 28px;
        line-height: 18px;
        letter-spacing: 0.7px;

.info-grafic
  position: relative
  &:before
    content: '';
    background: url("../img/lines-big.png");
    background-size: cover;
    position: absolute;
    top: 88px;
    left: 0;
    right: 0;
    margin: auto;
    width: 26px;
    height: 651px;
  .title
    text-align: center
    font-size: 16px
    line-height: 21px
    text-transform: uppercase
    font-family: ProximaNovaBold
    letter-spacing: 1px;
    margin-bottom: 11px;
  .sub-title
    text-align: center
    font-size: 15px
    line-height: 18px
    font-family: ProximaNovaLight;
    letter-spacing: 0.7px;
    padding-left: 5px;
    margin-bottom: 38px;

  .main-info-grafic
    position: relative
    padding-top: 171px;
    margin-bottom: 59px;
    &:before
      content url('../img/left-cup.png')
      position: absolute
      left: 0
      top: 0
    &:after
      content url('../img/right-cup.png')
      position: absolute
      right: 0
      top: 0
    .fact
      width: 207px;
      height: 207px;
      border-radius: 50%;
      color: #b0976a;
      position: relative;
      margin: 0 auto;
      &:nth-child(1)
        background: #f5f0e7;
        font-size: 44px
        font-family: proximaNovaBold;
        margin-bottom: 38px;
        span
          font-size: 15px;
          line-height: 18px;
          display: block;
          text-transform: uppercase;
          font-family: ProximaNovaLight;
          letter-spacing: 1.1px;
          position: relative;
          left: 2px;
          margin-top: 3px;
        .fact-info-wrap
          text-align: center;
          position: absolute;
          left: -6px;
          right: 0;
          top: 43%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
      &:nth-child(2)
        border: 1px dashed #b0976a;
        font-size: 44px
        font-family: proximaNovaBold;
        b
          font-size: 20px;
          font-weight: 100;
          &:nth-child(1)
            position: relative
            left: -2px;
            font-size: 22px
          &:nth-child(2)
            position: relative
            left: 7px;
        span
          font-size: 15px;
          line-height: 18px;
          display: block;
          text-transform: uppercase;
          font-family: ProximaNovaLight;
          letter-spacing: 0.7px;
          position: relative;
          left: 2px;
          margin-top: 7px;
        .fact-info-wrap
          text-align: center;
          position: absolute;
          left: -6px;
          right: 0;
          top: 48%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

.footer-sub-title
  text-align: center
  font-family: ProximaNovaLight;
  font-size: 15px
  line-height: 18px
  position: relative
  letter-spacing: 0.3px;
  padding-right: 1px;
  margin-bottom: 19px
  &.underline
    margin-bottom: 71px;
    &:before
      content ''
      background #bea67c
      width: 23px
      height: 2px
      position: absolute
      bottom: -38px;
      left: 0
      right: 0
      margin auto
    &:after
      content 'nescafÉ'
      text-transform: uppercase
      font-family: ProximaNovaBold
      opacity: 0.07
      font-size: 50px
      color: #bea67c
      position: absolute
      top: 173px
      letter-spacing: 10px;
      left: 0
      right: 0
      text-align: center
      z-index: -1;

.footer-beans
  display: block
  margin: 24px auto 19px;

.info-about
  display: none