.calculation
    .step-1
        display none
        padding: 10px 13px 91px
        background: #f2f2f2
        position relative
        letterA()
        &:before
            top: -22px
            left: -58px
        .step-title
            color: #2c2c2c
            font-size 17px
            font-family: proximaNovaRegular
            width: 201px
            margin: 57px 0 52px
            letter-spacing: 1px
            position: relative
        .calc-cup
            position absolute
            bottom 0
            right 0
    .step-2
        padding: 40px 0 0
        display none
    .drink-menu
        &-title
            font-size 14px
            font-family: proximaNovaRegular
            text-align center
            letter-spacing: .7px
            margin-bottom: 20px
        .reset
            width 142px
            margin: 12px auto 0
        .drinks-chose
            padding-bottom: 39px
        &-row
            text-align center
            padding: 0 19px
            .menu-item
                display inline-block
                width 30%
                height: 31px
                margin-bottom: 29px
                position relative
                input[type="checkbox"]
                    display:none
                input[type="checkbox"] + label span
                    display:inline-block
                    width:38px
                    height:38px
                    margin:-1px 4px 0 0
                    vertical-align:middle
                    background:url('../img/cofe_sprite.png') 1px 0px no-repeat
                    cursor:pointer
                input[type="checkbox"]:checked + label span
                    background:url('../img/cofe_sprite.png') 1px -38px no-repeat
                input[type="checkbox"]#limon_tea
                    display:none
                input[type="checkbox"]#limon_tea  + label span
                    display:inline-block
                    width:22px
                    height:36px
                    margin: -1px -1px 0 0
                    vertical-align:middle
                    background:url('../img/tea_sprite.png') 1px 0px no-repeat
                    cursor:pointer
                input[type="checkbox"]#limon_tea:checked + label span
                    background:url('../img/tea_sprite.png') 1px -36px no-repeat
                input[type="checkbox"]:checked ~ .menu-text
                    color: $darkred
                .menu-text
                    position absolute
                    top: 40px
                    width 100%
                    left 0
                    right 0
                    font-family: proximaNovaLight
                    font-size 11px
                    line-height 12px
                    padding: 0 12px
    .drinks-select
        background: url('../img/drinks-select-bg.jpg') no-repeat
        background-position: top center
        background-size: cover
        padding: 39px 19px
        &-title
            font-size 14px
            font-family: proximaNovaRegular
            text-align center
            letter-spacing: .7px
            margin-bottom: 20px
            color: #fff
        .drinks-wrapper
            text-align center
            margin-bottom: 10px
            .drink-chosen
                display inline-block
                font-size 12px
                font-family: proximaNovaRegular
                color: #bea67c
                text-align: left
                width 30%
                position relative
                height: 66px
                .count-drink
                    font-size 25px
                .drink-name
                    color: #fff
                    position absolute
                    top: 31px
                    line-height: 10px
                    left 0
                    letter-spacing: 1.5px
    .priceing
        .price-title
            color: #fff
            text-align center
            font-size 15px
            margin-bottom: 26px
    .step-3
        background: url(../img/red-bg.jpg) no-repeat
        background-size: cover
        padding: 40px 0
        letter-spacing: 1px
        display none
    .drinks-table
        table-layout:fixed
        width 100%
        thead
            background: rgba(255,255,255,.1)
            td
                vertical-align middle
                color: #bea67c
                font-size 10px
                text-transform uppercase
                padding: 3px 13px
                letter-spacing: -0.5px
            .drink-name
                width: 169px
        tbody
            td
                font-family: proximaNovaLight
                color: #fefefe
                font-size: 11px
                vertical-align: middle
                padding: 12px 13px
                position relative
            input
                width 70px
                background: transparent
                border: none
                color: #ffffff
                position absolute
                z-index 0
                top:50%
                transform:translateY(-50%)
            .read
                background url("../img/read.png") center center no-repeat
                width 17px
                height 17px
                cursor pointer
                display: block
                position: absolute
                z-index: 1
                background-size: cover
                top:50%
                transform:translateY(-50%)
    .calculation-btn_razchet
        width 190px
        height 36px
        background: transparent
        border:1px solid #ffffff
        color: #fff
        text-transform uppercase
        display block
        text-align center
        font-family proximaNovaBold
        font-size 10px
        margin:  25px auto 0
        letter-spacing: 1.1px
        &:before
            content: ""
            display: inline-block
            vertical-align: middle
            height: 100%
.step-4
    display block
    .finish_title
        font-family proximaNovaLight
        font-size 12px
        color: #475254
        text-transform uppercase
        border-bottom 1px solid #e5e5e5
        padding: 31px 13px 22px 13px
        margin-bottom: 20px
        letter-spacing: 0.2px
.wrap_prduct
    margin 0 13px 20px 13px
    .product
        float left
        border 1px solid #e4e4e4
        margin 0 10px 0 0
        width 32%
        img
            max-width 100%
            display: block
            margin: 0 auto
.desc_product
    float left
    width 63%
    .title_product
        font-size 14px
        font-family proximaNovaSemiBold
        color: #333333
        letter-spacing: 0.7px
    .article_find
        font-family  proximaNovaRegular
        font-size 10px
        color: #7c7c7c
        margin-top: 3px
        position relative
        letter-spacing: 0.6px
        &:after
            content ''
            display inline-block
            border-bottom 1px solid #bea67c
            width 31px
            position absolute
            top 24px
            left 0
    .desc_detail_product
        font-family: proximaNovaRegular
        font-size:12px
        color #333333
        margin-top: 22px
        letter-spacing: 0.3px
        line-height: 1.2
        span
            font-family:proximaNovaSemiBold
            font-size: 12px
            color: #9d2439
    .refresh_find
        background-color $darkgold
        font-family proximaNovaSemiBold
        font-size: 10px
        color #ffffff
        padding: 8px 19px 8px 20px
        margin-top: 17px
        float: left
        background-image: url("../img/refrach_find.png")
        background-repeat: no-repeat
        background-position: 4px center
        padding-left: 32px
        letter-spacing: 1.7px
        border-radius: 8px
        display: block
.block_text
        font-family: proximaNovaRegular
        color: #7c7c7c
        font-size: 9px
        padding: 5px 7px 0 14px
        letter-spacing: 0.4px
        sup
            color: $darkred
.ordering
    background url("../img/bg_form_ordering.jpg") no-repeat center center
    margin-top: 30px
    padding: 25px 13px
    background-size: cover
    .title_ordering
        text-align center
        text-transform uppercase
        font-family proximaNovaLight
        font-size 15px
        color: #323d3f
        letter-spacing: 0.4px
    .select_ordering
        padding: 0 0 4px 0
        margin-top: 15px
        border-bottom: 1px solid #e1e3e3
    .select2-container
        width 100%!important
        .select2-selection--single
            border none
            background-color transparent
            .select2-selection__rendered
                padding-left 0
                font-family proximaNovaRegular
                color: #879294
                font-size 13px
            .select2-selection__arrow
                right 23px
              b
                    background url("../img/close_select.png")no-repeat
                    border:none
                    width 9px
                    height 5px
                    display block
        .select2-selection__placeholder
            font-family proximaNovaRegular
            color: #879294
            font-size 13px
    .select2-container--open
        .select2-selection--single
            .select2-selection__rendered
                font-family proximaNovaRegular
                color: #879294
                font-size 13px
            .select2-selection__arrow
                b
                    background url("../img/open_select.png")no-repeat
                    width 9px
                    height 5px
                    display block

.select_ordering
    position relative
    input
        position relative
        margin: 20px 0 0
        display: block
        width 100%
        border:none
        background transparent
        margin-top: -4px
        height: 31px;
        font-family proximaNovaRegular
        color: #879294
        font-size 13px
.required_fields
    font-family proximaNovaRegular
    font-size: 9px
    color #7c7c7c
    display: block
    letter-spacing: 0.1px
    margin-top: 18px
    sup
        color: $darkred
.license_agreement
    label
        font-family proximaNovaRegular
        font-size 9px
        color: #7c7c7c
        margin-top: 17px
        letter-spacing: 0.2px;
        display block
    input[type="checkbox"]
        display:none
    input[type="checkbox"] + span
        float left
        padding: 0px 9px 0 0;
    input[type="checkbox"] + span span
        display:inline-block
        width:12px
        height:12px
        vertical-align:middle
        background:url('../img/checked_sprite.png') 0px 0px no-repeat
        cursor:pointer
    input[type="checkbox"]:checked + span span
        background:url('../img/checked_sprite.png') 0px -12px no-repeat
.btn_ordering
    background $darkred
    display block
    font-family proximaNovaBold
    font-size 9px
    color: #ffffff
    text-align center
    margin: 15px auto
    border: none
    text-transform: uppercase
    padding: 13px 41px 12px 41px
    letter-spacing: 1px
.slider-wrapper
    padding: 0 38px
    margin-bottom: 60px
.ui-slider
    height 2px
    border: none
    background: $darkred
    .ui-slider-handle
        width 20px
        height 20px
        border: none
        border-radius: 50%
        background: $darkred
        top: 0
        transform: translateY(-40%)
    .count
        position absolute
        color: #5a5a5b
        font-family: proximaNovaLight
        font-size 11px
        top: -6px
        &.from
            left: -40px
        &.to
            right -40px
.calculation-btn
    width 190px
    height 36px
    background: $darkred
    color: #fff
    text-transform uppercase
    display block
    text-align center
    font-family proximaNovaBold
    font-size 10px
    margin:  0 auto
    letter-spacing: 1.1px
    &:before
        content: ""
        display: inline-block
        vertical-align: middle
        height: 100%
    span
        display: inline-block
        vertical-align: middle
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0
input[type=number]
    -moz-appearance:textfield

//***************hotel******//
.hotel
    .step-1
        #slider-range-2
            background $darkgold
            position relative
            .view
                position absolute
                z-index 2
                top:0
                top: -32px
                margin-left: -7px
            .ui-slider-handle
                background $darkgold
                position absolute
                z-index 1
    .wrap-half
        float left
        width 50%
        padding: 0 20px 120px 0
        position relative
        @media (max-width 1500px)
            padding: 0 20px 79px 0
        &.borders
            &:after, &:before
                content: ''
                position absolute
            &:after
                width 1px
                height 106px
                background: #dbdbdb
                top 0
                right: 21px
            &:before
                width: 76%
                height: 1px
                background: #dbdbdb
                bottom: 28px
                left: 23px
        &:nth-child(3)
            padding-left: 52px
            padding-right 0
            @media (max-width 1500px)
                padding-left: 25px
        &.stars-raiting
            .guests
                margin-bottom: 41px
                @media (max-width 1500px)
                    margin-bottom @margin-bottom * 0.66
        .stars-wrap
            float left
            input[type=radio]
                float right
                width 22px
                height 22px
                opacity 0
                position absolute
                @media (max-width 1500px)
                    width 15px
                    height 15px

                &:checked + .star-icon,
                &:checked ~ .star-icon
                    background-position: 0px 0
            .star-icon
                content: ''
                background: url('../img/hotel-stars.png') no-repeat
                background-position: -23px 0
                width 22px
                height 22px
                display inline-block
                top 0
                left 0
                opacity 1
                float right
                margin-right: 7px
                cursor: pointer
                @media (max-width 1500px)
                    margin-right: 4px
                    width 15px
                    height 15px
                    background-size cover
                    background-position: -15px 0