.wrapper_bg
  height: 427px;
  position: relative;
  background: url("../img/catalog-1.jpg") no-repeat left
  background-size: cover

.all-info
  padding: 0px 31px;
  text-align: center;
  position: absolute;
  bottom: 35px;
  right: 0px;
  left: 0px;

.next_wrapper
  background: #bea67c;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: absolute
  width: 44px;
  height: 43px
  bottom: -25px
  left 0
  z-index 999
  right 0
  margin auto
  opacity 1
  transition .5s ease
  &:before
    content: ''
    background url(../img/arrow-down.png) no-repeat
    background-size cover
    width 15px
    height 7px
    display block
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    margin auto
  &.active
    transform translateY(-200px)
    opacity 0
    transition .9s ease

//	.arrow_drop
//		width:26px
//		padding-left:7px
//		margin: 11px 4px
.catalog-wrapper
  .title-wrap
    top 134px
    .header-title
      letter-spacing: 3.2px;
      line-height: 41px;

.catalog_info
  font-size: 10px;
  font-family: 'ProximaNovaSemiBold';
  text-transform: uppercase;
  color: #fff;
  letter-spacing 2px

.title-wrap
  .catalog_header_title
    font-family: 'ProximaNovaLight'
    line-height: 40px
    padding-top: 2px
  .title_wrap_catalog
    top: 420px;

.catalog_title
  color: #465254;
  text-align: center;
  font: 400 16px / 42px "ProximaNovaRegular", Arial, sans-serif;
  margin: 0px auto 21px;
  white-space: nowrap;

.catalog-section-header
  background-size: cover
  padding-bottom 40px
  border-bottom: 1px solid #c2c2c2;
  background: #f2f2f2;
  .btn-rect-catalog
    background: $darkred;
    width: 193px;
    height: 36px;
    box-sizing: border-box;
    color: #fff;
    display: block;
    margin: 0px auto;
    text-align: center;
    font-size: 10px;
    font-family: ProximaNovaBold;
    text-transform: uppercase;
    padding-top: 12px;
    letter-spacing: 1.3px;
  .wrapper_img_catalog
    padding-top: 53px;
  .img_catalog
    padding: 0px 73px 6px;
    img
      display block
      margin 0 auto
      max-width 100%
  &.ingridients
    .catalog_title
      margin-bottom 9px
    .img_catalog
      padding: 0px 115px 36px;
  &.other-items
    .catalog_title
      margin-bottom 9px
    .img_catalog
      padding: 43px 59px 40px 92px;





	
