.calculation-head-menu
    height: 44px;
    width 100%
    padding: 0 13px;
    background: $darkred;
    .menu-wrapper
        border-top: 1px solid rgba(255,255,255,.13)
        list-style-type none
        width 100%
        display flex
        justify-content: space-between;
        height: 100%;
        align-items: center;
        li
            font-family: proximaNovaRegular
            font-size 10px
            color: #c8a87b
            text-transform uppercase
            position relative
            display inline-block
            &.active
                color: #fff
                &:before
                    content: ''
                    background: #fff
                    height 3px
                    width 100%
                    position absolute
                    bottom -15px
                    left 0
.find-solution
    .choice
        padding-top: 37px;
        &__header
            font-family: proximaNovaBold
            font-size 16px
            margin-bottom: 11px;
        &_sub_title
            font-family: proximaNovaRegular
            font-size 12px
            text-align center
            letter-spacing: 0.9px;
        &__list
            margin: 16px 0 27px;
