.approach
  background $background-color
  background url(../img/approach-bg.jpg) no-repeat center / cover
  padding-top 30px
  color:  #2b2b2b
  overflow hidden
  position relative

  &__title
    font 700  16px  proximaNovaSemiBold
    text-transform uppercase
    text-align center
    letter-spacing 1.2px

  p
    font 400 13px proximaNovaLight
    text-align center
    margin-top 13px
    letter-spacing: .5px;

.flicky-slider
  margin 12px auto 0
  padding-left 42px
  text-align center
  white-space nowrap

  &.fixed
    padding-left 0

    &:after
      content ''
  &.init
    &:after
      content 'flickity'
      display none

  .item
    display inline-block
    vertical-align top
    width 100px
    text-align center

    &:not(:last-child)
      margin-right: 12px
    &:nth-child(3) h3
      text-align left
      padding-left 17px


    &__icon
      min-width 65px
      min-height 65px
      max-width 130px
      max-height 130px
      width 65%
      display inline-block
      position relative

      &:after
        content ""
        width 10px
        height 1px
        background-color #bea67c
        position absolute
        left 50%
        bottom -4px
        transform translateX(-50%)

      img
        max-width 100%

    &__name
      color #000
      font 300 12px / 1 proximaNovaLight
      letter-spacing .3px
      margin-top 10px


//solution slider section
.solution
  padding-top 40px
  overflow hidden
  position relative
  background: url("../img/nestle.png") no-repeat 50% 46% / 80%


  &__title
    font 700 16px proximaNovaBold
    text-align center
    text-transform uppercase
    color  #2a2a2a;
    letter-spacing: 1.2px;
    margin-bottom 17px
    position relative

    &:after
      content ""
      width 19px
      height 3px
      display block
      position absolute
      left 50%
      bottom -12px
      transform translate(-50%, -50%)
      background-color:  #bea67c;

  &__text
    color:  #444443;
    font 300 13px / 1.2 proximaNovaLight
    padding 0 15px
    letter-spacing .2px
    text-align center

  &__btn
    background-color $color-main

    &:before
      background-image url(../img/bag-r.svg)

  &__slider
    margin 44px auto
    position relative

    .item

      &__info
        text-align center
        position relative

        > img
          width 57% !important
          min-width 180px
          display inline-block !important
          vertical-align top

        &:after
          content ""
          width 19px
          height 2px
          background #bea67c
          position absolute
          left 50%
          bottom 15px
          transform translateX(-50%)

        .text
          position absolute
          top 4px
          right 0
          width 92px


          img
            max-width 33px

          p
            color: #676565
            text-align left
            font 400 9px proximaNovaRegular
            margin-top 5px
            padding-right: 12px;
            letter-spacing: .3px;

        .inner-text:not(:first-of-type)
          margin-top 10px



      &__name
        color:  #010101;
        text-align center
        text-transform uppercase
        font 700 12px proximaNovaBold
        letter-spacing .9px
        margin-top -1px

    .owl-nav
      position absolute
      left 0
      bottom 10px
      width 100%

      img
        width 19px
        height 38px

    .owl-prev,.owl-next
      position absolute
      bottom 38px
      left 35px

    .owl-next
      left auto
      right 36px



// Advantages slider section styles
.advantages
  overflow hidden
  padding-top: 27px
  background url(../img/advantage-bg.jpg) no-repeat center / cover

  &__header
    text-align center
    letter-spacing: 1.2px
    text-transform uppercase
    color:  #2a2a2a
    font 700 16px proximaNovaBold

  &-slider
    margin-top 16px
    margin-bottom 23px
    height 110px

    .item
      margin-right 13px

      &:nth-child(2)
        margin-left 5px

      &:nth-child(3)
        margin-left 5px

        .item__name
          padding-left 15px

    .item__name
      text-align left
      font-size 11px
      letter-spacing 0.6
      margin-top 16px

    .item__icon:after
      background-color #bea67c

  &-btn
    margin-top 5px
    margin-bottom 10px



//Stesp section styles
.steps
  min-height 524px
  overflow hidden
  color #fff
  background url(../img/set-up-machine-bg-2.jpg) no-repeat -110px 0 / cover
  padding-top 116px
  position relative
  left: -1px

  &:after
    content ""
    width 59px
    height 95px
    position absolute
    right 0
    top 65px
    background url(../img/N.png) no-repeat 0 / cover

  &__header
    font 700 15px / 1.4 proximaNovaBold
    text-align center
    text-transform uppercase
    letter-spacing 1px
    padding: 0px 40px 0 19px

  &__list
    min-width 236px
    width 50%
    margin 25px auto 40px
    list-style none

    li
      font 400 15px / 1.1 proximaNovaRegular
      letter-spacing .2px
      padding-left 33px
      position relative

      &:not(:first-of-type)
        margin-top 11px

      &:before
        content ""
        width 11px
        height 11px
        position absolute
        left 10px
        top 4px
        background url(../img/corn-mobile.png) no-repeat center / cover
        // margin-right 15px

  .more
    display block
    width 192px
    height 37px
    background transparent
    border 1px solid #fff
    text-align center
    text-transform uppercase
    font 700 10px / 37px proximaNovaBold
    letter-spacing 1.5px
    color #fff
    margin 0 auto

  &__btn
    position absolute
    right -1px
    bottom 2px


// Choise section styles
.choice
  background url(../img/solution-bg.png) no-repeat center / cover
  padding-top 41px
  overflow hidden

  &__header
    color #000
    text-transform uppercase
    text-align center
    font 700 16px proximaNovaBold
    padding: 0 20px
    letter-spacing: 1.1px

  &__list
    list-style none
    margin 25px 0

    .list-wrapper
      width 114px
      display inline-block
      text-align center

    li
      width 50%
      margin-left -4px
      vertical-align: top
      display: inline-block
      text-align right

      &:nth-last-child(-n+2)
        margin-top 5px

      &:nth-child(2n)
        text-align left

        .list-wrapper
          width 123px


    img
      max-width 77px
      border-radius 50%
      overflow hidden
      padding: 3px;
      box-shadow: 0 0 0 1px #ccc;
      margin-bottom 10px

    p
      color #000
      font 300 11px proximaNovaLight
      min-height 24px
      position relative

      &:after
        content ""
        display block
        width 8px
        height 1px
        background-color #bea67c
        position absolute
        left 50%
        top -6px
        transform translateX(-50%)

  &-btn
    margin-bottom 13px

.partners

  &__header
    color #000
    text-align center
    text-transform uppercase
    letter-spacing .4px
    position relative
    left: -2px
    font 700 16px proximaNovaBold

  &__list
    list-style none
    overflow hidden
    margin-top 18px
    margin-bottom 8px
    padding 0 35px

    li
      float left
      width 33.333%
      margin-bottom 10px
      text-align center

      &:nth-child(1) a
        position relative
        left -4px

      &:nth-child(2) a,
      &:nth-child(3) a
        position relative
        left -3px

      img
        max-width 61px


//Geography slider section styles
.geography
  background url(../img/geography.png) no-repeat  0 0 / cover
  height 529px
  padding-top: 207px
  color #fff
  position relative

  &:after
    content ""
    width 99px
    height 95px
    position absolute
    left 0
    top 54px
    background url(../img/a.png) no-repeat  center / cover

  &__header
    text-transform uppercase
    text-align center
    font 700 24px proximaNovaBold
    letter-spacing: .5px
    position: relative
    left: -1px

  &-slider
    margin-top 19px
    position static !important

    .item
      font 300 15px proximaNovaLight
      text-align center
      letter-spacing .5px
      p
        width 71%
        margin 0 auto

    .owl-controls
      position absolute
      left 0
      bottom 29px
      width 100%

    .owl-dots
      text-align center

    .owl-dot
      display inline-block
      margin 0 4px
      width 8px
      height 8px
      border-radius 50%
      border 1px solid #fff
      position relative

      &:before
        content ""
        display block
        width 60%
        height 60%
        background-color #fff
        border-radius 50%
        position absolute
        left 50%
        top 50%
        transform translate(-50%, -50%)
        opacity 0
        transition all .3s ease-in-out

      &.active:before
        opacity 1
