body
  background: #fff;

.inform-ingred-bg
  height: 428px;
  position: relative;
  background: url("../img/ingred.jpg") no-repeat left
  background-size: cover;

.next-product
  bottom: -5px

.all-info-ingred
  bottom: 39px

.catalog-wrapper
  .title-ingred
    top 166px

.iform-product-wrapper
  .ingred-product-wrapper
    background: #fff
    display inline-block
    width 50%
    float left
    padding 0 8px
    margin-bottom 15px
    .border-wrap
      border 1px solid #e5e5e5
  img
    padding: 10px 29px;
    max-width: 100%
    margin: 0 auto;
    display: block;

  .title-product
    color #303030
    font-family: proximaNovaSemiBold
    padding 0px 15px
    font-size 9px
    margin-bottom 27px
    text-align: center

  span
    font-family: proximaNovaRegular
    font-size 8px

.navigation-wrapper
  padding 0px 31px !important
  border-bottom none !important
  .accordion-img
    position relative
    z-index 1
    color #454545
    font-size 10px
    font-family proximaNovaRegular
    transition 0.2s
    letter-spacing: 1px;
    &:before
      content: ''
      background: url("../img/MenuIconCatalog.png")
      background-size cover
      width: 11px;
      height: 9px;
      position: absolute;
      top: 0px;
      right: 0px;
      left: -18px

.ingred-wrapper
  padding 32px 0px 13px 0px
  .navigation-wrapper
    .accordion-text
      display none
      font-family: proximaNovaLight
      font-size 14px
      padding-top 12px
      color #454545
      ul
        padding 0px 10px 10px
        border-top 1px solid #454545
        border-bottom 1px solid #454545
      li
        list-style: none
        padding-top 10px
      a
        color #454545
			
	