.item-catalog-wrapper
  .item-catalog
    a
      font-family: proximaNovaLight
      font-size 18px
      padding 9px 14px
      color #303030
      display block
      position relative
    &:before
      content ''
      background url(../img/arrow-down-grey.png) no-repeat;
      background-size cover
      width: 15px;
      height: 9px;
      position: absolute;
      top: 60px;
      right: 19px;

.item-wrapper
  background #f2f2f2
  border-bottom: 1px solid #d3d3d3;
  .machin-slider-title
    font-family: proximaNovaLight
    font-size 24px
    letter-spacing: 1px;
    padding: 31px 0px 0px;
    text-align: center;
    line-height: 27px;
    font-weight: 100;
  .owl-dot
    border-color $darkred
    &:before
      background $darkred

.make-form-wrapper
  padding 20px 24px 32px
  .make-form
    background $darkred
    color #fff
    font-family: proximaNovaBold
    font-size 9px
    padding: 12px;
    text-transform: uppercase;
    min-width: 206px;
    height: 36px;
    letter-spacing: 2.2px;
    display: inline-block;
    text-align: center;
  .make-call
    float right
    margin-right 17px
    margin-top 9px
  img
    width 17px
    height 17px

.accordion
  background-color: #fff;
  padding: 16px 0px;

h2
  margin: 0

.itam-catalog
  a
    display: block;
    position: relative;
    font: 14px / 1 'Trebuchet MS', 'Lucida Sans';
    padding: 10px;
    color: #333;
    text-decoration: none;

.about-slider
  .proudct-item
    padding: 17px 91px
    img
      height 79%

.accordion
  .accordion-body
    border-bottom: 1px solid #c4c4c4
    padding: 13px 23px 14px
    &:last-child
      border-bottom: none
    .accordion-title
      font-family: proximaNovaRegular
      font-size 16px
      line-height 17px
      color #303030
      font-weight: 100
      letter-spacing: 1px
      position relative
      display: block
      span
        font-family: proximaNovaLight
        font-size 14px

      &:before
        content ''
        background url(../img/exit.png) no-repeat;
        background-size cover
        width 9px
        height 9px
        position absolute
        top: 4px
        right -2px
        transform rotate(45deg)
        transition transform .2s
      &.active
        &:before
          transform rotate(90deg)
          transition transform .2s

    .accordion-text
      display none
      font-family: proximaNovaLight
      font-size 14px
      letter-spacing: 0.3px;
      line-height 15px
      padding-top 12px
      padding-bottom: 25px;

.item-ingred-img
  img
    width 100%
    padding: 22px 90px
