.item-wrapper
  .releted-slider-title
    font-family proximaNovaLight
    font-size 24px
    letter-spacing 1px
    padding 31px 0px 0px
    text-align center
    line-height 25px
    font-weight 100
  .item-relprod-img
    img
      max-width 100%
      padding 37px 116px 11px 103px
      margin: 0 auto;
      display: block;

.catalog-product-slider
  margin 0 auto 30px
  .catalog-product-slider-title
    padding 1px 22px
    font-size: 16px
    line-height: 17px
    color: #303030
    font-weight: 100
    letter-spacing: 1px
    position: relative
    display: block
    margin-bottom: 29px
    font-family: proximaNovaRegular
  .slider-wrap-product
    padding 0 14px
    position relative
    img
      width 100%

    .new-product
      position absolute
      max-width 82px
      padding: 5px 6px 6px;
      height 20px
      background #bea67c
      color #fff
      top 59px
      font-family proximaNovaRegular
      font-size 9px
      z-index 1
    .other-product-name
      font-family proximaNovaRegular
      font-size 9px
      padding 5px 0px
      text-align center
      letter-spacing 1px

.make-related
  padding: 26px 24px 32px;