.article-bg
  height: 428px;
  position: relative;
  background: url("../img/article-phone.jpg") no-repeat left
  background-size: cover;
  .title-wrap
    .title-article
      margin-bottom: 10px
  .title-article-phone
    top 80px

.next-article
  bottom -20px

.title-article-phone
  span
    font-family proximaNovaLight
    font-size 18px
    display block
    padding: 0 31px
    color #fff
    line-height: 20px
    letter-spacing: 1px
    text-align center

.title-line-wrap
  text-align center
  overflow hidden

.title-news-article
  &:before
    content ''
    position absolute
    display block
    height 1px
    width 118px
    background #000
    left -15px
    transform translateX(-100%)
    top 64%
  &:after
    content ''
    height 1px
    width 118px
    background #000
    position absolute
    right -15px
    transform translateX(100%)
    top 64%

.title-news-article
  display inline-block
  padding 69px 0px 29px
  font-size 23px
  position relative
  text-transform uppercase
  font-family proximaNovaBold
  letter-spacing: 2px;
  font-size: 22px;
.news-article
  letter-spacing: 2px
  padding: 28px 0px
  &:before
    content ''
    position absolute
    display block
    height 1px
    width 118px
    background #000
    left -15px
    transform translateX(-100%)
    top 49%
  &:after
    content ''
    height 1px
    width 118px
    background #000
    position absolute
    right -15px
    transform translateX(100%)
    top 49%
.wrapper-article-phone
  padding 0px 8px 39px
  .article
    .border-wrap-article
      border: 1px solid #c6c6c6
      height: 100%;
      border-top: none;
      position: relative;
      padding: 39px 0px 0px
      text-align: center
      .read-more
        letter-spacing 1px
        text-transform uppercase
        color #000
        font-size 8px
        text-align center
        //padding 0px 7%
        display inline-block
        position relative
        font-family: proximaNovaLight
        &:before
          content: ''
          background: #bea67c
          height: 1px
          width: 21px;
          position: absolute;
          left: 0px;
          bottom: -1px
        &:after
          content: ''
          background: #bea67c
          height: 1px
          width: 20px;
          position: absolute;
          right: -22px;
          top: 2px;
      .top-article-wrap
        position: absolute
        top: -10px;
        width: 100%;
        overflow-x: hidden
        height: 25px
      .article-preview-phone
        text-align center
        font-size 14px
        letter-spacing 0.3px
        padding 10px 0px 13px
        line-height 16px
        font-family: proximaNovaLight
      .title-phone
        text-align center
        font-family: proximaNovaBold
        font-size: 12px;
        color: #000;
        letter-spacing: 2px;
        padding: 0px 7%
        display block
        text-transform: uppercase
      .img-wrap-phone
        img
          max-width 100%
          padding: 12px 10px
      .date-phone
        font-size: 9px;
        position: absolute;
        left: 0;
        font-family: proximaNovaRegular
        right: 0;
        margin: auto;
        width: 180px;
        text-align: center;
        text-transform: uppercase;
        color: #6e6e6e;
        &:before
          content: '';
          background: #c6c6c6;
          height: 1px;
          width: 999px;
          position: absolute;
          -webkit-transform: translateX(-95%);
          transform: translateX(-95%);
          left: 0;
          top: 10px
        &:after
          content: '';
          background: #c6c6c6;
          height: 1px;
          width: 999px;
          position: absolute;
          -webkit-transform: translateX(95%);
          transform: translateX(95%);
          right: 0;
          top: 10px
    .article-wrap-second
      padding: 44px 0px 0px
      .title-phone-second
        font-size: 14px;
        letter-spacing: 1.2px;
.second-phon-block
  padding: 0px 8px 29px
.show-more-btn-phone
  color #c8a87b
  border 1px solid #c8a87b
  border-radius 64px
  display block
  width 178px
  height 42px
  margin 0 auto
  text-transform uppercase
  font-family: proximaNovaBold
  font-size 9px
  line-height 35px
  text-align center
  position: relative
  padding-top: 4px
  margin-bottom: 43px
  letter-spacing: 1.5px
  padding-right: 26px
  &:after
    content ''
    background: url("../img/arrow-circle.png") no-repeat
    position absolute
    background-size: cover
    transform translateY(-50%)
    top 50%
    right: 26px
    width: 17.5px
    height: 21.5px

.wrapper-info-articles
  background: #fff
  position relative
  img
    padding-top: 0px
    max-width 100%
    display block
  .more-title-info
    font-size 23px
    font-family: proximaNovaBold
    text-transform uppercase
    text-align: center
    padding: 67px 0px 21px
    line-height: 31px
  .info-txt-article
    text-align center
    font-family: proximaNovaLight
    font-size 14px
    line-height: 18px
    letter-spacing: 1.2px
    margin-bottom: 53px
    padding: 0px 8px
    span
      font-family: proximaNovaBold
      font-size: 14px
  .list-wrapper-articles
    padding 51px 21px 0px
    margin-bottom: 70px
    h2
      font-size 19px
      font-family: proximaNovaBold
      text-transform uppercase
      letter-spacing 0.6px
      line-height 20px
      margin-bottom 27px
    p
      font-family: proximaNovaSemiBold
      font-size 16px
      letter-spacing: 0.2px
      line-height: 19px
    .wrap-info-list
      padding: 21px 0px 0px 28px
      font-family: proximaNovaRegular
      line-height: 18px
      font-size: 13px
      letter-spacing: 1.4px
      li
        padding-bottom 18px
        list-style: none
        position relative
        &:before
          content ''
          background url("../img/li-before.png") no-repeat center
          background-size: cover
          position absolute
          width: 12px;
          height: 12px;
          left: -27px;
          top: 3px
          display: block;
          border-radius: 50%

.articles-second-wrapper
  background #f2f2f2
  &:before
    content ''
    background: url("../img/coffe-cup.png") no-repeat center
    background-size: cover
    position absolute
    height: 100px;
    width: 100px;
    top: -54px;
    right: 107px
  .articles-second-title
    font-size 19px
    padding: 69px 0px 19px
    letter-spacing: 1px
  .articles-txt-wrap
    text-align center
    font-family: proximaNovaRegular
    line-height: 21px
    font-size: 13px
    letter-spacing: 1.5px
    p
      padding 0px 0px 35px
    &:before
      content: '';
      background: #c6c6c6;
      height: 1px;
      width: 73px;
      position: absolute;
      transform: translateX(91%);
      right: 194px;
      top: 345px

.wrapper-info-articles
  .next-title-article
    font-size: 19px;
    padding: 38px 0px 24px;
    line-height: 23px;
    letter-spacing: 1px;
  .next-article-txt
    text-align center
    font-family: proximaNovaRegular
    line-height: 19px
    font-size: 13px
    letter-spacing: 1.7px
    padding: 0px 18px 48px
    p
      &:first-child
        margin-bottom 14px
      &:last-child
        line-height: 18px

.techno-article
  background #f2f2f2
  .techno-txt-wrap
    padding-bottom 33px
    .techno-txt
      text-align center
      font-family: proximaNovaRegular
      line-height: 16px;
      font-size: 12px;
      letter-spacing: 1px
      &:first-child
        padding-top 30px
      &:last-child
        padding-top 45px
      .txt-img-techno
        display block
        width 80px
        height 80px
        background: #99092c
        border-radius 50%
        margin 0 auto 17px
        padding: 20px
        img
          max-width 100%

.wrapper-info-articles
  .info-rent-wrapper
    text-align center
    padding 43px 13px 0px
    font-family: proximaNovaRegular
    font-size 14px
    line-height 18px
    letter-spacing 1.4px
    p
      &:first-child
        padding-bottom 16px
      &:last-child
        padding-bottom 43px
    span
      font-family: proximaNovaSemiBold
      font-size: 14px
.coffe-bg
  &:before
    content: 'a';
    text-transform: uppercase;
    position: absolute;
    font-size: 209px;
    font-family: proximaNovaBold
    color: #bea67c;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 0;
    opacity: 0.07
    left: 243px;
    right: 0;
    overflow: hidden;
    top: 89px;

.second-coffe-bg
  &:before
    content: 'nest';
    text-transform: uppercase;
    position: absolute;
    font-size: 99px;
    font-family: "ProximaNovaBold", Arial, sans-serif;
    color: #bea67c;
    letter-spacing: 16px;
    margin: auto;
    text-align: center;
    z-index: 0;
    opacity: 0.07;
    left: 11px;
    right: 0;
    top: 258px
.info-article-wrapper
  position: relative;
  text-align: center;
  p
    font-family: proximaNovaLight
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
  .number-article
    color: #bea67c;
    font-family: proximaNovaBold
    font-size: 30px;
    line-height: 27px;
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    margin-left: 19px;
    &:before
      content: ''
      background: url(../img/numb.png) no-repeat center;
      background-size: cover;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0px;
      left: -26px;
      right: 0;
  .number-article-seven
    color: #bea67c;
    font-family: proximaNovaBold
    font-size: 30px;
    line-height: 27px;
    position: relative;
    display: inline-block;
    margin-bottom: 18px;
    margin-left: 31px;
    &:before
      content: ''
      background: url(../img/numb.png) no-repeat center;
      background-size: cover;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 0px;
      left: -23px;
      right: 0;
  .title-info-article
    h2
      font-family: proximaNovaBold
      font-size: 25px;
      text-transform: uppercase;
      line-height: 27px;
      color: #000;
      letter-spacing: 1.5px;
      padding: 0px 30px 16px;
      position: relative;
      z-index: 1;
.seven-title
    h2
      letter-spacing: 0.5px;
      font-size: 24px;
.info-growing
  padding-top: 153px;
  &:before
    content: ''
    background: url(../img/coffe1.png) no-repeat
    background-size: cover;
    width: 50px;
    height: 53px;
    position: absolute;
    top: 42px;
    left: 0;
    right: 0;
    margin: 0 auto;
  &:after
    content: ''
    background: url(../img/bg-line-phone.png) no-repeat
    background-size: cover;
    width: 4px;
    height: 62px;
    position: absolute;
    top: 83px;
    left: 0
    right: 0
    margin: 0 auto;
    z-index: 5
  .map-article1
    position: absolute;
    right: 0;
    top: 82px;
    padding-top: 0px;

.info-select
  padding-top: 193px;
  .phone-article1
    position: absolute;
    left: 0;
    top: 23px;
    padding-top: 0px;
  .first-line
    position: absolute;
    left: 0;
    top: 4px;
    width: 4px;
    right: 0px;
    margin: 0 auto;
    padding-top: 0px;
.info-roasting
  padding-top: 193px;
  .vetka
    position: absolute;
    left: 0;
    top: -12px;
    padding-top: 0px;
  .red-zerna
    position: absolute;
    right: -40px;
    top: 14px;
    padding-top: 0px;
  .one-black
    position: absolute;
    right: 9px;
    left: 0px;
    margin: 0 auto;
    top: 93px;
    padding-top: 0px;
  .second-line
    position: absolute;
    left: 0;
    top: 24px;
    width: 4px;
    right: 0px;
    margin: 0 auto;
    padding-top: 0px;
  .lact-second-line
    position: absolute;
    left: 0;
    top: 129px;
    width: 4px;
    right: 0px;
    margin: 0 auto;
    padding-top: 0px;
.info-milling
  padding-top: 170px;
  .one-coffe
    position: absolute;
    right: -22px;
    top: 172px;
    padding-top: 0px;
  .coffe-article-img
    position: absolute;
    left:0;
    top:14px;
    padding-top:0px;
  .article-girl
    position: absolute;
    right: -25px;
    top: 7px;
    padding-top: 0px;
  .four-line
    position: absolute;
    left: 0;
    top: 20px;
    width: 4px;
    right: 0px;
    margin: 0 auto;
    padding-top: 0px;
.info-brewing
  padding-top: 112px;
  .coffe-mol
    position: absolute;
    right: -22px;
    top: 12px;
    padding-top: 0px;
    z-index: 0;
  .main-machin
    position: absolute;
    left: -5px;
    top: 31px;
    padding-top: 0px;
  .five-line
    position: absolute;
    left: 0;
    top: 30px;
    width: 4px;
    right: 0px;
    margin: 0 auto;
    padding-top: 0px;
.info-drying
  padding-top: 101px;
  .coffa-cup
    position: absolute;
    left: -2px;
    top: 13px;
    padding-top: 0px;
  .six-line
    position: absolute;
    left: 0;
    top: 20px;
    width: 4px;
    right: 0px;
    margin: 0 auto;
    padding-top: 0px;
.info-preparation
  padding-top: 533px;
  p
    letter-spacing: 0px
  .arabica-img
    position: absolute;
    left: -8px;
    right: 0;
    margin: 0 auto;
    top: 81px;
    padding-top: 0px;
  .second-map
    position: absolute;
    right: -22px;
    top: 199px;
    padding-top: 0px;
  .cup-alegcoffe
    position: absolute;
    left: -2px;
    top: 400px;
    padding-top: 0px;
  .grout-coffe
    position: absolute;
    right: -61px;
    top: 20px;
    padding-top: 0px;
  .seven-black
    position: absolute;
    right: 9px;
    left: 0px;
    margin: 0 auto;
    top: 266px;
    padding-top: 0px;
  .seven-line
    position: absolute;
    left: 0;
    top: 47px;
    width: 4px;
    right: 0px;
    margin: 0 auto;
    padding-top: 0px;
    z-index: 1;
  .eight-line
    position: absolute;
    left: 0;
    top: 174px;
    width: 4px;
    right: 0px;
    margin: 0 auto;
    padding-top: 0px;
    z-index: 1;
  .nine-line
    position: absolute;
    left: 0;
    top: 350px;
    width: 4px;
    height: 174px;
    right: 0px;
    margin: 0 auto;
    padding-top: 0px;
    z-index: 1;
.wrapp-all-articles
  overflow: hidden;
.line-article
  padding: 16px 0px;
  display: inline-block;
  position: relative;
  &:before
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 118px;
    background: #000;
    left: 0px;
    transform: translateX(-100%);
    top: 47%;
  &:after
    content: '';
    height: 1px;
    width: 118px;
    background: #000;
    position: absolute;
    right: 0px;
    transform: translateX(100%);
    top: 47%;
.noMargin
  .line-news
    padding: 17px 0px;
    display: inline-block;
    position: relative;
    &:before
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: 118px;
      background: #000;
      left: -7px;
      transform: translateX(-100%);
      top: 44%;
    &:after
      content: '';
      height: 1px;
      width: 118px;
      background: #000;
      position: absolute;
      right: -7px;
      transform: translateX(100%);
      top: 44%;
.wrapper-article-phone
  .article
    .more-article-line
      padding: 46px 0px 0px
.line-news-second
  padding: 31px 0px;
  display: inline-block;
  position: relative;
  &:before
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 118px;
    background: #000;
    left: -7px;
    transform: translateX(-100%);
    top: 48%;
  &:after
    content: '';
    height: 1px;
    width: 118px;
    background: #000;
    position: absolute;
    right: -7px;
    transform: translateX(100%);
    top: 48%;
.first-bg:before
  content: 'nes';
  text-transform: uppercase;
  position: absolute;
  font-size: 121px;
  font-family: "ProximaNovaBold", Arial, sans-serif;
  color: #bea67c;
  letter-spacing: 16px;
  margin: auto;
  text-align: center;
  z-index: 0;
  opacity: 0.08;
  left: 84px;
  right: 0;
  overflow: hidden;
  bottom: 211px;
.all-wrapper-sections
  display: none;
.about-coffe-article
  .about-coffe-line
    padding: 69px 0px 29px
    display: inline-block;
    position: relative;
    &:before
      content: '';
      position: absolute;
      display: block;
      height: 1px;
      width: 118px;
      background: #000;
      left: -7px;
      transform: translateX(-100%);
      top: 64%;
    &:after
      content: '';
      height: 1px;
      width: 118px;
      background: #000;
      position: absolute;
      right: -7px;
      transform: translateX(100%);
      top: 64%;
