.related-products-bg
  height: 428px;
  position: relative;
  background: url("../img/related-products.jpg") no-repeat left
  background-size: cover

.catalog-wrapper
  .title-related
    top 169px
    .related-products-title
      color: #fff;
      text-align: center;
      font: 400 26px / 39px proximaNovaRegular
      text-transform: uppercase;
      letter-spacing: 2px;
      padding: 0 31px;
      margin: 0 auto 23px;

.next-releted
  bottom -22px

.product-wrapper
  img
    padding: 20px 14px
    max-width: 100%

.releted-product-wrapper
  padding: 0 8px 20px;
  .ingred-product-wrapper
    background: #fff;
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0 8px;
    margin-bottom: 15px;
    .border-wrap
      border 1px solid #e5e5e5
      img
        padding 29px 19px 7px
        max-width 100%

  .product-wrapper
    background: #fff
    display inline-block
    width 50%
    float left
    padding 0 8px
    margin-bottom 15px

  .title-product-releted
    color #303030
    font-family: proximaNovaSemiBold
    padding 0px 15px
    font-size 9px
    margin-bottom 27px
    text-align: center

  span
    font-family: proximaNovaRegular
    font-size 8px

.navigation-wrapper
  padding 0px 31px !important
  border-bottom none !important
  .accordion-img
    position relative
    z-index 1
    color #454545
    font-size 10px
    font-family proximaNovaRegular
    transition 0.2s
    letter-spacing: 1px;
    &:before
      content: ''
      background: url("../img/MenuIconCatalog.png")
      background-size cover
      width: 11px;
      height: 9px;
      position: absolute;
      top: 0px;
      right: 0px;
      left: -18px

.categ-wrapper
  padding 18px 0px 13px 0px
  .navigation-wrapper
    .accordion-text
      display none
      font-family: proximaNovaLight
      font-size 14px
      padding-top 12px
      color #454545
      ul
        padding 0px 10px 10px
        border-top 1px solid #454545
        border-bottom 1px solid #454545
      li
        list-style: none
        padding-top 10px
      a
        color #454545
			