@font-face
  font-family: 'ProximaNovaSemiBold'
  src: url("fonts/ProximaNovaSemibold.otf") format("opentype"),
@font-face
  font-family: 'ProximaNovaBold'
  src: url("fonts/ProximaNovaBold.otf") format("opentype")
@font-face
  font-family: 'ProximaNovaLight'
  src: url("fonts/ProximaNovaLight.otf") format("opentype")
@font-face
  font-family: 'ProximaNovaRegular'
  src: url("fonts/ProximaNovaRegular.otf") format("opentype")
@font-face
  font-family: 'ProximaNovaThin'
  src: url("fonts/ProximaNovaThin.otf") format("opentype")

proximaNovaRegular = "ProximaNovaRegular", Arial, sans-serif
proximaNovaSemiBold = "ProximaNovaSemiBold", Arial, sans-serif
proximaNovaBold = "ProximaNovaBold", Arial, sans-serif
proximaNovaLight = "ProximaNovaLight", Arial, sans-serif
proximaNovaThin = "ProximaNovaThin", Arial, sans-serif
