@@include('../chunks/head.html')
</head>

<body>
      @@include('../chunks/header.html')
      @@include('../chunks/calculation-azs.html')
      @@include('../chunks/footer.html')
</div>


<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts.html')
</body>
</html>
