@@include('../chunks/head.html')
</head>

<body>

      @@include('../chunks/header.html')
      @@include('../chunks/index.html')
      @@include('../chunks/footer.html')

<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts.html')
</body>
</html>
