<div class="about-wrapper">
    <div class="title-wrap">
        <h2 class="header-title">o nestlÉ</h2>

        <div class="sub-title">
            Nestlé — крупнейший в мире <br>
            производитель продуктов <br>
            питания и напитков, эксперт <br>
            в области здорового <br>
            образа жизни.
        </div>
        <a href="#first-section" class="btn-rect-about js-show-more-info">Узнать больше</a>
    </div>
    <div class="about-slider" id="hd-slider">
        <div class="item">
            <img src="img/about-slide-1.jpg">
        </div>
        <div class="item machine">
            <img src="img/about-slide-2.jpg">
        </div>
        <div class="item">
            <img src="img/about-slide-3.jpg">
        </div>
    </div>
</div>

<section class="first-section info-about" id="first-section">
    <div class="info-wrap">
        <h2 class="info-title">
            Наша цель
        </h2>

        <div class="main-info">
            Наша цель – создавать <br>
            продукцию высокого качества, <br>
            отвечающую вкусам и <br>
            пожеланиям потребителей <br>
            более чем 100 стран мира, <br>
            в которых мы осуществляем <br>
            свою деятельность
        </div>
        <a href="#" class="read-more">читать больше</a>

        <div class="img-wrap">
            <img src="img/about-1.jpg" alt="">
        </div>
    </div>

    <div class="info-wrap">
        <h2 class="info-title">
            центры Nestlé
        </h2>

        <div class="main-info">
            В научных центрах Nestle <br>
            по всему миру мы проводим <br>
            исследования в области <br>
            продуктов питания, их свойств <br>
            и влияния пищи на организм. <br>
            Результаты проводимых <br> исследований позволяют
            <br>
            нам постоянно улучшать <br> качество своих продуктов. 

        </div>
        <a href="#" class="read-more">читать больше</a>

        <div class="img-wrap">
            <img src="img/about-2.jpg" alt="">
        </div>
    </div>

    <div class="info-wrap">
        <h2 class="info-title">
            продукция
        </h2>

        <div class="main-info">
            Ассортимент нашей продукции <br>
            постоянно расширяется, <br>
            и в настоящее время <br>
            насчитывает свыше 8000 <br>
            торговых марок продуктов <br>
            питания, которые <br>
            знают потребители на всех<br>
            пяти континентах. 
        </div>
        <a href="#" class="read-more">читать больше</a>

        <div class="img-wrap">
            <img src="img/about-3.jpg" alt="">
        </div>
    </div>

</section>


<div class="about-wrapper second-section-header">
    <div class="title-wrap">
        <h2 class="header-title">nestlÉ <br>
            PROFESSIONAL</h2>

        <div class="sub-title">
            Nestlé Professional – <br>
            подразделение, <br>
            предоставляющее удобные <br>
            и современные решения <br>
            для индустрии питания <br>
            вне дома.
        </div>
        <a href="#second-section" class="btn-rect-about js-show-more-info">Узнать больше</a>
    </div>
</div>

<section class="second-section info-about" id="second-section">
    <div class="info-wrap">
        <h2 class="info-title">
            NestlÉ <br>
            professional
        </h2>

        <div class="main-info">
            Nestlé Professional® – <br>
            подразделение, предоста- <br>
            вляющее удобные <br>
            и современные решения <br>
            для индустрии питания <br>
            вне дома.
        </div>
        <div class="img-wrap">
            <img src="img/about-4.jpg" alt="">
        </div>
    </div>

    <div class="list-info">
        <div class="list-title">
            В своей работе мы стремимся:
        </div>
        <ul>
            <li>
                Использовать глобальный <br>
                опыт Nestlé в разработке <br>
                новых прибыльных бизнес- <br>
                идей для наших партнеров;
            </li>
            <li>
                Построить доверительные <br>
                партнерские отношения <br>
                с клиентами;
            </li>
            <li>
                Использовать преимущества <br>
                наших брендов, продуктов <br>
                и систем, чтобы поддерживать <br>
                успешность бизнеса <br>
                и удовлетворенность гостей <br>
                и конечных потребителей.
            </li>
        </ul>
    </div>

    <div class="border-info">
        <div class="border-text-wrap">
            Благодаря этим принципам, <br>
            Nestlé Professional <br>
            позволяет каждому
            нашему клиенту - партнеру <br>
            индустрии обслуживания <br>
            чувствовать за спиной <br>
            поддержку <br>
            крупной компании.
        </div>
    </div>

    <div class="info-wrap">
        <h2 class="info-title">
            оптимальные <br>
            решения
        </h2>

        <div class="main-info">
            Компании, которая не только <br>
            предлагает оптимальные <br>
            решения уникальных <br>
            бизнес-задач, но и оценивает <br>
            возможности и перспективы<br>
            с тем, чтобы работать вместе, <br>
            расти, ставить амбициозные <br>
            цели и преуспевать в их достижении.
        </div>
        <div class="img-wrap">
            <img src="img/about-5.jpg" alt="">
        </div>
    </div>
</section>

<div class="about-wrapper third-section-header">
    <div class="title-wrap">
        <h2 class="header-title">nescafÉ <br>
            alegria</h2>

        <div class="sub-title">
            Nescafe – один из самых <br>
            узнаваемых и уникальных <br>
            брендов Nestle.
        </div>
        <a href="#third-section" class="btn-rect-about js-show-more-info">Узнать</a>
    </div>
</div>


<section class="third-section info-about" id="third-section">
    <div class="info-grafic">
        <div class="title">
            NescafÉ – один из самых <br>
            узнаваемых и уникальных <br>
            брендов NestlÉ
        </div>
        <div class="main-info-grafic">
            <div class="fact">
                <div class="fact-info-wrap">
                    6
                    <span>Поколений</span>
                </div>
            </div>
            <div class="fact">
                <div class="fact-info-wrap">
                    <b>c</b> 1938<b>г.</b>
                    <span>
                        NescafÉ ведет свою <br>
                        историю
                    </span>
                </div>
            </div>
        </div>
        <div class="bg-text">nestlÉ</div>
        <div class="sub-title">
            Nescafé ведет свою историю <br>
            с 1938 года – и уже <br>
            на протяжении 6 поколений <br>
            позволяет людям получить <br>
            максимум удовольствия <br>
            от вкуса, качества и простоты <br>
            приготовления чашки кофе.


        </div>
    </div>

    <div class="info-wrap">
        <h2 class="info-title">
            NescafÉ
        </h2>

        <div class="main-info">
            Nescafé пережил мировую <br>
            и холодную войны, был <br>
            свидетелем первой высадки <br>
            человека на Луну, и видел <br>
            как приходят, уходят <br>
            и возвращаются бесчисленные <br>
            модные тенденции.
        </div>
        <div class="img-wrap">
            <img src="img/about-6.jpg" alt="">
        </div>
    </div>

    <div class="info-wrap">
        <h2 class="info-title">
            75 лет NescafÉ
        </h2>

        <div class="main-info">
            Поддерживать такую <br>
            популярность на протяжении <br>
            75 лет Nescafe удается <br>
            благодаря тому, что бренд прислушивается <br>
            к потребностям разных <br>
            времен и культур, чутко <br>
            реагирует на желания <br>
            потребителей, непрерывно <br>
            завоевывая и сохраняя <br>
            их доверие.
        </div>
        <div class="img-wrap">
            <img src="img/about-7.jpg" alt="">
        </div>
    </div>

    <div class="info-wrap">
        <h2 class="info-title">
            NescafÉ Alegria
        </h2>

        <div class="main-info">
            Бренд Nescafé Alegria® был <br>
            разработан специально <br>
            для кофейных решений <br>
            Nestlé Professional.
            <br><br>
            Бренд известен в 109 странах <br>
            по всему миру, и это делает <br>
            географию его присутствия <br>
            одной из крупнейших.
        </div>

        <div class="img-wrap">
            <img src="img/about-8.jpg" alt="">
        </div>
    </div>

    <div class="info-wrap">
        <h2 class="info-title">
            высокое качество
        </h2>

        <div class="main-info">
            Высокое качество напитка, <br>
            удобство и простота <br>
            приготовления – именно <br>
            эти основополагающие <br>
            принципы сделали Nescafé <br>
            маркой кофе №1 в мире.
        </div>

        <div class="img-wrap">
            <img src="img/about-9.jpg" alt="">
        </div>
    </div>

    <div class="footer-sub-title underline">
        Само название Nescafé Alegria® <br>
        происходит от слова “Allegria”, <br>
        что в переводе с итальянского <br>
        означает “радость и счастье”– <br>
        слова, как нельзя лучше <br>
        отражающие положительный <br>
        опыт нашего уникального <br>
        кофейного решения.
    </div>
    <div class="footer-sub-title">
        Сегодня Nescafé Alegria® – это
        <br> бренд, который действительно
        <br>оправдывает свое название -
        более 2 миллиардов чашек <br>
        подано только в 2013 году.
    </div>
    <div class="footer-sub-title">
        Кофе Nescafé Alegria® стал <br>
        любимым во всем мире.  
    </div>
    <img src="img/footer-beans.png" alt="" class="footer-beans">
</section>