<div class="catalog-wrapper article-bg window-height">

	<div class="title-wrap title-article-phone ">
		<h2 class="header-title title-article catalog_header_title">путь<br>кофейного<br>зернышка
		</h2>
		<span>От плантации до Вашей<br>чашки...</span>
	</div>
	<div class="all-info all-info-ingred">
		<a href="#catalog-start" class="catalog_info js-slide-down">Узнать больше</a>
	</div>
	<a href="#catalog-start" class="next_wrapper next-article js-slide-down"></a>
</div>
<div class="title-line-wrap">
	<div class="title-news-article js-target-height" id="catalog-start">
		О кофе
	</div>
</div>
<div class="wrapper-article-phone">
	<div class="article">
		<div class="border-wrap-article">
			<div class="top-article-wrap">
				<span class="date-phone">
				  30 апреля 2016
				</span>
			</div>
			<a href="article-detail.html.html" class="title-phone">
				Кофе и спорт
			  </a>
			<div class="article-preview-phone">
				Многие люди, приняв решение вести
				<br> здоровый образ жизни, начинают
				<br> отказываться от кофе. Но это не
				<br> совсем верно.
			</div>
			<a href="article-detail.html.html" class="read-more">Читать больше</a>
			<a href="article-detail.html.html" class="img-wrap-phone">
				<img src="img/sport-coffe.png" alt="">
			</a>
		</div>
	</div>
</div>
<!--<a href="#" class="show-more-btn-phone">больше статей</a>-->
<div class="title-line-wrap">

	<div class="title-news-article news-article">
		О машинах
	</div>
</div>
<div class="wrapper-article-phone second-phon-block">
	<div class="article">
		<div class="border-wrap-article article-wrap-second">
			<div class="top-article-wrap">
				<span class="date-phone">
				  30 апреля 2016
				</span>
			</div>
			<a href="article-detail.html" class="title-phone title-phone-second">
				Сколько натуральности<br>в сублимированном кофе?
			  </a>
			<div class="article-preview-phone">
				Растворимый кофе прочно вошел
				<br>в нашу жизнь. Однако до сих пор
				<br>есть люди,которые считают
				<br>растворимый кофе ненатуральным
				<br>и даже вредным.
			</div>
			<a href="article-detail.html.html" class="read-more">Читать больше</a>
			<a href="article-detail.html" class="img-wrap-phone">
				<img src="img/coffe-machine.png" alt="">
			</a>
		</div>
	</div>
</div>
<a href="#" class="show-more-btn-phone">больше статей</a>
