<div class="catalog-wrapper article-bg window-height">

	<div class="title-wrap title-article-phone ">
		<h2 class="header-title title-article catalog_header_title">путь<br>кофейного<br>зернышка 
		</h2>
		<span>От плантации до Вашей<br>чашки...</span>
	</div>
	<div class="all-info all-info-ingred">
		<a href="#catalog-start" class="catalog_info js-slide-down">Узнать больше</a>
	</div>
	<a href="#catalog-start" class="next_wrapper next-article js-slide-down"></a>
</div>
<div class="wrapper-info-articles coffe-bg">
	<div class="more-title-info js-target-height" id="catalog-start">
		Аренда кофемашины 
		<br>как способ получить 
		<br>дополнительную 
		<br>прибыль 
	</div>
	<div class="info-txt-article">
		<span>Аренда кофемашины</span>
		 одна из <br>немногих возможностей, за счет <br>которой владелец бизнеса может расширить перечень услуг <br>и увеличить доходы. Продажа горячих напитков, приготовленных на профессиональном оборудовании, привлечет новых клиентов <br>в кофейни, столовые, фастфуд, гостиницы, АЗС, офисы – в любой <br>сфере деятельности аренда <br>кофемашины поможет оживить бизнес, вдохновить сотрудников <br>и привлечь новых клиентов.
	</div>
	<img src="img/mor-articles1.jpg" alt="more-article">
	<div class="list-wrapper-articles">
		<h2>Преимущества <br>очевидны</h2>
		<p>Заказав аренду кофемашины, <br>вы сможете:</p>
		<div class="wrap-info-list">
			<ul>
				<li>Пользоваться фирменным<br> оборудованием;</li>
				<li>Удивлять клиентов ассортиментом 
				<br>и качеством;</li>
				<li>Экономить на расходе 
					<br>ингредиентов и вести учет 
					<br>проданных напитков;
				</li>
				<li>Упростить процедуру и уменьшить <br>скорость приготовления кофе.</li>
				<li>Преимущества очевидны, но как осуществить задуманное?</li>
			</ul>
		</div>
	</div>
</div>
<div class="wrapper-info-articles articles-second-wrapper">
	<div class="more-title-info articles-second-title">
		Ищем поставщика
	</div>
	<div class="articles-txt-wrap">
		<p class="second-coffe-bg">Наибольшие плоды бизнес-идея <br>принесет при использовании <br>современного, надежного <br>оборудования и качественного <br>сырья. Сотрудники должны иметь <br>возможность приготовить <br>натуральный кофе быстро, без <br>создания очередей. И только <br>профессиональные кофемашины <br>способны справиться с этой задачей.
		</p>
		<p>Заказывать аренду кофемашины <br>лучше в компании, где не только <br>предоставляют качественное <br>оборудование, но и оказывают
		оперативную техническую помощь. <br>Вероятность поломок минимальна, <br>а если и возникнут неполадки, <br>то будут незамедлительно устранены.</p>
	</div>
	<img src="img/second-article-img.jpg" alt="more-article">
</div>
<div class="wrapper-info-articles">
	<div class="more-title-info articles-second-title 
	next-title-article">
		Удивляем
		<br>потребителя
	</div>
	<div class="articles-txt-wrap next-article-txt">
		<p>Потребителя ваших услуг нужно постоянно удивлять. С арендуемой кофемашиной это становится возможным.</p>
		<p>Кофе дарит современному человеку бодрость, активизацию умственной
			<br>и физической деятельности,
			<br> а вместе с тем и минуты наслаждения любимым вкусом.
			<br>И у каждого он свой. Терпкий
			<br>бодрящий ристретто, горячий какао,
			<br> традиционный мокачино,
			<br>густая молочная пенка капучино,
			<br>капучино с упоительным ароматом
			<br>ванили, специальный купаж
			<br>в духе лучших американских
			<br>традиций, воплотившийся
			<br>в умеренном вкусе и ярком аромате
			<br>бодрящего американо, оригинальный
			<br>многослойный коктейль латте,
			<br>итальянский эспрессо, теперь
			<br>с нотками изысканных фруктов –
			<br>одно название любого из этих
			<br>напитков, не говоря уже о
			<br>многообещающих описаниях,
			<br>зазывает даже искушенных
			<br>клиентов, манит попробовать.</p>
	</div>
</div>
<div class="wrapper-info-articles techno-article">
	<div class="articles-txt-wrap techno-txt-wrap">
		<div class="techno-txt">
		<div class="txt-img-techno">
			<img src="img/techno1.png" alt="tech">
		</div>
			<p>Доступное
				<br>техобслуживание
				<br>(ремонт без задержек
				<br>и проволочек)</p>
		</div>
		<div class="techno-txt">
		<div class="txt-img-techno">
			<img src="img/techno2.png" alt="tech">
		</div>	
			<p>Маркетинговую
				<br>поддержку</p>
		</div>
	</div>
</div>
<div class="wrapper-info-articles ">
	<div class="info-rent-wrapper">
		<p>С одним лишь условием: покупка оригинальных ингредиентов. Даже расчет необходимого объема закупки <br>мы сделаем за вас. Такое <br>сотрудничество позволит вам реализовать новую бизнес-идею <br>без затрат на дорогостоящую <br>покупку или аренду кофемашин.</p>
		<p><span>Аренда кофемашины </span>– это реальная возможность получить простую <br>в эксплуатации, надежную <br>и экономную помощницу для приготовления различных напитков высокого качества, для удовлетворения возникшего спроса.</p>
	</div>
	<img src="img/rent-img.jpg" alt="rent-machins"></div>
