<div class="calculation-head-menu">
    <ul class="menu-wrapper">
        <li class="active">профиль</li>
        <li>количество</li>
        <li>меню</li>
        <li>цена</li>
        <li>доход</li>
    </ul>
</div>
<div class="calculation">
    <div class="step-1">
        <div class="step-title">
            Выберите количество покупателей в день
        </div>

        <div class="slider-wrapper">
            <div id="slider-range">
                <div class="count from">от 5</div>
                <div class="count to">> 100</div>
            </div>
        </div>

        <a href="#" class="calculation-btn">
            <span>
                следующий шаг
            </span>
        </a>

        <img src="img/calc-cup.png" alt="" class="calc-cup">
    </div>
    <div class="step-2 drink-menu">
        <section class="drinks-chose">
            <div class="drink-menu-title">
                Выберите меню для Ваших
                <br> покупателей
            </div>
            <div class="drink-menu-row">
                <div class="menu-item">
                    <input id="americano" class=" menu-icon beans" type="checkbox" value="">
                    <label for="americano"><span></span></label>
                    <span class="menu-text">Американо</span>
                </div>
                <div  class="menu-item">
                    <input id="exspresso" class=" menu-icon beans" type="checkbox" value="">
                    <label for="exspresso"><span></span></label>
                    <span class="menu-text">Эспрессо</span>
                </div>
                <div  class="menu-item">
                    <input id="capuchino" class=" menu-icon beans" type="checkbox" value="">
                    <label for="capuchino"><span></span></label>
                    <span class="menu-text">Капучино</span>
                </div>
                <div  class="menu-item">
                    <input id="vanil_capuchino" class=" menu-icon beans" type="checkbox" value="">
                    <label for="vanil_capuchino"><span></span></label>
                    <span class="menu-text">Ванильный капучино</span>
                </div>
                <div  class="menu-item">
                    <input id="late" class=" menu-icon beans" type="checkbox" value="">
                    <label for="late"><span></span></label>
                    <span class="menu-text">Латте</span>
                </div>
                <div class="menu-item">
                    <input id="chocolade" class=" menu-icon beans" type="checkbox" value="">
                    <label for="chocolade"><span></span></label>
                    <span class="menu-text">Горячий шоколад</span>
                </div>
                <div  class="menu-item">
                    <input id="limon_tea" class=" menu-icon beans" type="checkbox" value="">
                    <label for="limon_tea" class="limon_tea"><span></span></label>
                    <span class="menu-text">Лимонный чай</span>
                </div>
                <div class="menu-item">
                    <input id="ristretto" class=" menu-icon beans" type="checkbox" value="">
                    <label for="ristretto"><span></span></label>
                    <span class="menu-text">Ристретто</span>
                </div>
            </div>
            <a href="#" class="calculation-btn reset">
                <span>
                    сбросить
                </span>
            </a>
        </section>
        <div class="drinks-select">
            <div class="drinks-select-title">
                Распределение напитков
                <br> по результатам проведенных
                <br> исследований:
            </div>
            <div class="drinks-wrapper">
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        американо
                    </div>
                </div>
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        латте
                    </div>
                </div>
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        горячего
                        шоколада
                    </div>
                </div>
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        капучино
                    </div>
                </div>
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        лимонного чая
                    </div>
                </div>
                <div class="drink-chosen">
                    <span class="count-drink">20</span>чашек
                    <div class="drink-name">
                        ристретто
                    </div>
                </div>
            </div>
            <a href="#" class="calculation-btn">
                <span>
                    следующий шаг
                </span>
            </a>
        </div>
    </div>

    <div class="step-3 priceing">
        <div class="price-title">
            Укажите цену продажи, <br>
            если она отличается <br>
            от рекомендованной
        </div>

        <table class="drinks-table">
            <thead>
                <tr>
                    <td class="drink-name" >Напиток</td>
                    <td class="drink-price" >Цена </td>
                    <td class="drink-custom-price" >Цена продажи</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="drink-name">Американо</td>
                    <td class="drink-price">45 руб.</td>
                    <td class="drink-custom-price-input">
                        <label class="read"></label>
                        <input class="input_number" type="number" value="">
                    </td>
                </tr>
                <tr>
                    <td>Американо</td>
                    <td>45 руб.</td>
                    <td class="drink-custom-price-input">
                        <label class="read"></label>
                        <input class="input_number" type="number" value="">
                    </td>
                </tr>
                <tr>
                    <td>Американо</td>
                    <td>45 руб.</td>
                    <td class="drink-custom-price-input">
                        <label class="read"></label>
                        <input class="input_number" type="number" value="">
                    </td>
                </tr>
                <tr>
                    <td>Американо</td>
                    <td>45 руб.</td>
                    <td class="drink-custom-price-input">
                        <label class="read"></label>
                        <input class="input_number" type="number" value="">
                    </td>
                </tr>
            </tbody>


        </table>
        <a href="#" class="calculation-btn_razchet">Рассчитать</a>


    </div>
    <div class="step-4 finish_calc clearfix">
        <div class="finish_title">
            nescafe professional рекомендует:
        </div>
        <div class="wrap_prduct clearfix">
            <div class="product">
                <img src="../img/cofevarka.jpg" alt="">
            </div>
            <div class="desc_product">
                <p class="title_product">
                    NESCAFE Alegria 8/40
                </p>
                <p class="article_find">Артикул:.2514/302</p>
                <p class="desc_detail_product">
                    Ваш маржинальный доход<br/> от продажи кофе составит:<br/> 4340 руб. в день х 31 =<br/> <span>134 540 руб. в мес.*</span>
                </p>
                <a class="refresh_find" href="#">Пересчитать</a>
            </div>
        </div>
        <div class="block_text">
            <sup>*</sup>Данное предложение не является публичной офертой, реальные данные могут отличаться от реальных
        </div>
        <form class="ordering">
            <p class="title_ordering">Оформить заявку</p>
            <div class="select_ordering">
                <select name="country" id="country" class="js-select select-styler" data-placeholder="Выберите страну*">
                    <option value=""></option>
                    <option value="Ukraine">Ukraine</option>
                </select>
            </div>
            <div class="select_ordering">
                <select name="city" id="city" class="js-select select-styler" data-placeholder="Выберите город*">
                    <option value=""></option>
                    <option value="Kiev">Kiev</option>
                </select>
            </div>
            <div class="select_ordering">
                <input type="text" id="name" name="name" placeholder="Имя*"/>
            </div>
            <div class="select_ordering">
                <input type="text" id="fistname" name="firsname" placeholder="Фамилия*"/>
            </div>
            <div class="select_ordering">
                <input type="text" id="phone" name="phone" placeholder="Телефон*"/>
            </div>
            <div class="select_ordering">
                <input type="email" id="email" name="email" placeholder="E-mail*"/>
            </div>
            <span class="required_fields"><sup>*</sup> Обязательные поля для заполнения</span>
            <div class="license_agreement">

                <label for="license">
                    <input type="checkbox" name="license" id="license">
                    <span><span></span></span>
                    Согласен на обработку персональных данных в соответствии с политикой конфиденциальности
                </label>
            </div>
            <button class="btn_ordering">Оформить заказ</button>
        </form>
    </div>
</div>
