<div class="catalog-wrapper wrapper_bg window-height">

    <div class="title-wrap ">
        <h2 class="header-title catalog_header_title">Каталог <br> решений</h2>
    </div>
    <div class="all-info">
    	<a href="#catalog-start" class="catalog_info js-slide-down">Узнать больше</a>
    </div>
    <a href="#catalog-start" class="next_wrapper js-slide-down"></a>
</div>

<div class="catalog-wrapper catalog-section-header js-target-height" id="catalog-start">
   <div class="wrapper_img_catalog">
	   <div class="img_catalog">
			<img src="img/product-2.png" alt="cofe" >
	   </div>
   </div>
    <div class=" title_wrap_catalog">
        <h2 class="header-title catalog_title">Кофемашины</h2>
        <a href="inform_product.html" class="btn-rect-catalog">Узнать больше</a>
    </div>
    
</div>
<div class="catalog-wrapper catalog-section-header ingridients">
   <div class="wrapper_img_catalog">
	   <div class="img_catalog ingredients_catalog">
			<img src="img/product.png" alt="cofe">
	   </div>
   </div>
    <div class=" title_wrap_catalog">
        <h2 class="header-title catalog_title">Ингредиенты</h2>
        <a href="inform_product_ingred.html" class="btn-rect-catalog">Узнать больше</a>
    </div>
    
</div>
<div class="catalog-wrapper catalog-section-header other-items">
   <div class="wrapper_img_catalog">
	   <div class="img_catalog">
			<img src="img/product-1.png" alt="cofe">
	   </div>
   </div>
    <div class=" title_wrap_catalog">
        <h2 class="header-title catalog_title">Сопутствующие товары</h2>
        <a href="related-products.html" class="btn-rect-catalog">Узнать больше</a>
    </div>
    
</div>


