<div class="calculation-head-menu">
    <ul class="menu-wrapper">
        <li class="active">профиль</li>
        <li>количество</li>
        <li>меню</li>
        <li>цена</li>
        <li>доход</li>
    </ul>
</div>

<div class="find-solution">
    <section class="choice">
        <h2 class="choice__header">
    подобрать решение
  </h2>
        <div class="choice_sub_title">
            Выберите профиль Вашего бизнеса
        </div>
        <ul class="choice__list">
            <li>
                <div class="list-wrapper">
                    <img src="img/our-machines-1.jpg">
                    <p>Офисы и БЦ</p>
                </div>
            </li>
            <li>
                <div class="list-wrapper">
                    <img src="img/our-machines-2.jpg">
                    <p>Кафе и рестораны</p>
                </div>
            </li>

            <li>
                <div class="list-wrapper">
                    <img src="img/our-machines-3.jpg">
                    <p>Рестораны быстрого питания</p>
                </div>
            </li>

            <li>
                <div class="list-wrapper">
                    <img src="img/our-machines-4.jpg">
                    <p>Уличный фастфуд</p>
                </div>
            </li>

            <li>
                <div class="list-wrapper">
                    <img src="img/our-machines-5.jpg">
                    <p>Гостиницы</p>
                </div>
            </li>

            <li>
                <div class="list-wrapper">
                    <img src="img/our-machines-6.jpg">
                    <p>АЗС</p>
                </div>
            </li>

        </ul>
    </section>
</div>
