<footer class="footer">
  <div class="footer-wrapper">
    <div class="footer-logo"><a href="#"><img src="img/logo.png"></a></div>
    <a href="#" class="footer-up"><img src="img/up.svg"></a>
  </div>

  <nav class="footer-nav">
    <ul>
      <li><a href="#">О нас</a></li>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Подобрать решение</a></li>
      <li><a href="#">Статьи</a></li>
      <li><a href="#">Политика конфиденциальности</a></li>
    </ul>
    <p class="copyright">© 2016 NESTLÉ Professional®</p>
  </nav>
</footer>
