<header class="header">
    <div class="header__top">
        <nav class="navigation">
            <a href="#" class="nav-toggle">
                <span></span>
                <span></span>
                <span></span>
            </a>
            <div class="off-canvas-wrapper">
                <ul class="nav-off-canvas">
                    <li class="active"><a href="index.html">Главная</a></li>
                    <li><a href="about.html">О нас</a></li>
                    <li><a href="catalog.html">Каталог</a></li>
                    <li><a href="">Подобрать решение</a></li>
                    <li><a href="articles.html">Статьи</a></li>
                </ul>
                <ul class="line">
                    <li><a href="#">Оформить заказ</a></li>
                    <li><a href="#">Горячая линия</a></li>
                </ul>
            </div>
        </nav>
        <div class="logo">
            <a href=""><img src="img/logo.png"></a>
        </div>
        <div class="basket">
            <a href="#"><img src="img/basket.svg"></a>
        </div>
    </div>
</header>
