<div class="header-wrapper">
    <h2 class="header-title">Сочетание вкуса и стиля</h2>
    <p class="header-text">Представляем уникальное кофейное решение – линейку кофемашин Nestlé Professional®</p>
    <div class="header-slider" id="hd-slider">
        <div class="item">
            <a href=""><img src="img/hd-slider.png"></a>
        </div>
        <div class="item">
            <a><img src="img/hd-slider.png"></a>
        </div>
        <div class="item">
            <a><img src="img/hd-slider.png"></a>
        </div>
    </div>
</div>

<section class="approach">
  <h2 class="approach__title">комплексный подход</h2>
  <p>Мы предоставляем бесплатно:</p>

  <div class="flicky-slider ">

    <div class="item">
      <div class="item__icon">
        <img src="img/list-item-1.png">
      </div>
      <h3 class="item__name">Кофемашину</h3>
    </div>

    <div class="item">
      <div class="item__icon">
        <img src="img/list-item-2.png">
      </div>
      <h3 class="item__name">Разработку меню</h3>
    </div>

    <div class="item">
      <div class="item__icon">
        <img src="img/list-item-3.png">
      </div>
      <h3 class="item__name">Техническое <br> обслуживание</h3>
    </div>

  </div>

  <a class="btn" href="#">Подобрать решениe</a>
</section>


<!-- Solution slider section -->
<section class="solution">
  <h2 class="solution__title">кофейные решения</h2>
  <p class="solution__text">Мы подберем любые кофейные решения, исходя из Ваших потребностей</p>

  <div class="solution__slider">

    <div class="item">

      <div class="item__info">
        <img src="img/solution.png">

        <div class="text">
          <div class="inner-text">
            <img src="img/solution-coffee.png">
            <p>100-250 чашек в день</p>
          </div>

          <div class="inner-text">
            <img src="img/solution-timer.png">
            <p>Приготовление от 6 до 13 секунд</p>
          </div>
        </div>
      </div>
      <h3 class="item__name">nescafÉ alegria 8/40</h3>

    </div>

    <div class="item">
       <div class="item__info">
        <img src="img/solution-2.png">

        <div class="text">
          <div class="inner-text">
            <img src="img/solution-coffee.png">
            <p>100-250 чашек в день</p>
          </div>

          <div class="inner-text">
            <img src="img/solution-timer.png">
            <p>Приготовление от 6 до 13 секунд</p>
          </div>
        </div>
      </div>
      <h3 class="item__name">nescafÉ alegria 8/40</h3>
    </div>

    <div class="item">
       <div class="item__info">
        <img src="img/solution-3.png">

        <div class="text">
          <div class="inner-text">
            <img src="img/solution-coffee.png">
            <p>100-250 чашек в день</p>
          </div>

          <div class="inner-text">
            <img src="img/solution-timer.png">
            <p>Приготовление от 6 до 13 секунд</p>
          </div>
        </div>
      </div>
      <h3 class="item__name">nescafÉ alegria 8/40</h3>
    </div>

  </div>

  <a href="#" class="btn solution__btn">Подобрать решение</a>
</section>



<section class="advantages">
  <h2 class="advantages__header">Преимущества</h2>

  <div class="flicky-slider advantages-slider init">

    <div class="item">
      <div class="item__icon">
        <img src="img/advantages-1.png">
      </div>
      <h3 class="item__name">Высокое качество <br> ингредиентов</h3>
    </div>

    <div class="item">
      <div class="item__icon">
        <img src="img/advantages-2.png">
      </div>
      <h3 class="item__name">Превосходный вкус <br> чашка за чашкой</h3>
    </div>

    <div class="item">
      <div class="item__icon">
        <img src="img/advantages-3.png">
      </div>
      <h3 class="item__name">Большой выбор <br> напитков</h3>
    </div>

  </div>

  <a class="btn advantages-btn" href="#">Подобрать решениe</a>

</section>


<section class="steps">
  <h2 class="steps__header">установить машину просто:</h2>
  <ul class="steps__list">
    <li>Вы оставляете заявку</li>
    <li>Наш сотрудник связывается с Вами</li>
    <li>Машина и ингредиенты будут предоставлены в оговоренный срок</li>
  </ul>

  <a class="more" href="#">Узнать больше</a>

  <a href="" class="btn steps__btn">Подобрать решение</a>

</section>


<section class="choice">
  <h2 class="choice__header">
    Наши кофемашины — отличное решение для:
  </h2>
  <ul class="choice__list">
    <li>
      <div class="list-wrapper">
        <img src="img/our-machines-1.jpg">
        <p>Офисов и БЦ</p>
      </div>
    </li>
    <li>
      <div class="list-wrapper">
        <img src="img/our-machines-2.jpg">
        <p>Кафе и ресторанов</p>
      </div>
    </li>

    <li>
      <div class="list-wrapper">
        <img src="img/our-machines-3.jpg">
        <p>Ресторанов быстрого питания</p>
      </div>
    </li>

    <li>
      <div class="list-wrapper">
        <img src="img/our-machines-4.jpg">
        <p>Уличного фастфуда</p>
      </div>
    </li>

    <li>
      <div class="list-wrapper">
        <img src="img/our-machines-5.jpg">
        <p>Гостиниц</p>
      </div>
    </li>

    <li>
      <div class="list-wrapper">
        <img src="img/our-machines-6.jpg">
        <p>АЗС</p>
      </div>
    </li>

  </ul>

  <div class="partners">
    <h2 class="partners__header">В этом уже убедились:</h2>

    <ul class="partners__list">
      <li><a href="#"><img src="img/partn-1.png"></a></li>
      <li><a href="#"><img src="img/partn-2.png"></a></li>
      <li><a href="#"><img src="img/partn-3.png"></a></li>
    </ul>
  </div>

  <a class="btn choice-btn" href="#">Подобрать решение</a>

</section>

<section class="geography">
  <h2 class="geography__header">география</h2>

  <div class="geography-slider">
    <div class="item">
      <p>Мы работаем на территории всей страны</p>
    </div>
    <div class="item">
      <p>Мы работаем на территории всей страны</p>
    </div>
  </div>
</section>
