<div class="catalog-wrapper inform-product-bg window-height">

	<div class="title-wrap title-product ">
		<h2 class="header-title catalog_header_title">Наши <br> кофемашины</h2>
	</div>
	<div class="all-info all-info-product">
		<a href="#catalog-start" class="catalog_info js-slide-down">Узнать больше</a>
	</div>
	<a href="#catalog-start" class="next_wrapper next-product js-slide-down"></a>
</div>
<div class=" categ-wrapper accordion js-target-height">
	<div class="navigation-wrapper container accordion-body">
		<a href="#" class="js-show-accordion accordion-img">Категории</a>
		<div class="accordion-text">
			<ul>
				<li><a href="inform_product_ingred.html">Ингредиенты</a></li>
				<li><a href="related-products.html">Сопутствующие товары</a></li>
			</ul>
		</div>
	</div>
	
</div>
<div class="iform-product-wrapper clearfix" id="catalog-start">
	<div class="product-wrapper">
		<div class="border-wrap">
			<a href="item_catalog_machin.html">
				<img src="img/catalog-machine-1.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Alegria</span>  A 1060</h2>
			</a>
		</div>
	</div>
	<div class="product-wrapper">
		<div class="border-wrap">
			<a href="item_catalog_machin.html">
				<img src="img/catalog-machine-2.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Alegria</span> 6/30</h2>
			</a>
		</div>
	</div>
	<div class="product-wrapper">
		<div class="border-wrap">
			<a href="item_catalog_machin.html">
				<img src="img/catalog-machine-3.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Alegria</span> А 430</h2>
			</a>
		</div>
	</div>
	<div class="product-wrapper">
		<div class="border-wrap">
			<a href="item_catalog_machin.html">
				<img src="img/catalog-machine-4.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Alegria</span> 8/40</h2>
			</a>
		</div>
	</div>
	<div class="product-wrapper">
		<div class="border-wrap">
			<a href="item_catalog_machin.html">
				<img src="img/catalog-machine-5.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Milano</span> 2.0</h2>
			</a>
		</div>
	</div>
	<div class="product-wrapper">
		<div class="border-wrap">
			<a href="item_catalog_machin.html">
				<img src="img/catalog-machine-6.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Milano</span> Lounge</h2>
			</a>
		</div>
	</div>
	<div class="product-wrapper">
		<div class="border-wrap">
			<a href="item_catalog_machin.html">
				<img src="img/catalog-machine-7.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Аstoria</span> Calipso</h2>
			</a>
		</div>
	</div>
	<div class="product-wrapper">
		<div class="border-wrap">
			<a href="item_catalog_machin.html">
				<img src="img/catalog-machine-8.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Аstoria</span> Gemma</h2>
			</a>
		</div>
	</div>
</div>