<div class="catalog-wrapper inform-ingred-bg window-height">

	<div class="title-wrap title-ingred ">
		<h2 class="header-title catalog_header_title">ингредиенты</h2>
	</div>
	<div class="all-info all-info-ingred">
		<a href="#catalog-start" class="catalog_info js-slide-down">Узнать больше</a>
	</div>
	<a href="#catalog-start" class="next_wrapper js-slide-down"></a>
</div>
<div class=" ingred-wrapper accordion js-target-height">
	<div class="navigation-wrapper container accordion-body">
		<a href="#" class="js-show-accordion accordion-img">Категории</a>
		<div class="accordion-text">
			<ul>
				<li><a href="inform_product.html">Машины</a></li>
				<li><a href="related-products.html">Сопутствующие товары</a></li>
			</ul>
		</div>
	</div>
	
</div>
<div class="iform-product-wrapper clearfix" id="catalog-start">
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="inform_product_ingred.html">
				<img src="img/ingred-1.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Alegria</span>  A 1060</h2>
			</a>
		</div>
	</div>
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="inform_product_ingred.html">
				<img src="img/ingred-2.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Alegria</span> 6/30</h2>
			</a>
		</div>
	</div>
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="inform_product_ingred.html">
				<img src="img/ingred-3.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Alegria</span> А 430</h2>
			</a>
		</div>
	</div>
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="inform_product_ingred.html">
				<img src="img/ingred-4.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Alegria</span> 8/40</h2>
			</a>
		</div>
	</div>
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="inform_product_ingred.html">
				<img src="img/ingred-5.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Alegria</span> 8/40</h2>
			</a>
		</div>
	</div>
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="inform_product_ingred.html">
				<img src="img/ingred-6.jpg" alt="machine">
				<h2 class="title-product">NESCAFÉ® <span>Alegria</span> 8/40</h2>
			</a>
		</div>
	</div>
</div>