<div class="item-catalog-wrapper">
	<div class="item-catalog">
		<a  href="inform_product.html">Кофемашины</a>
	</div>
</div>
<div class="item-wrapper" >
	<h2 class="machin-slider-title">NESCAFÉ®<br>Alegria 1060</h2>
		<div class="catalog-slider">
			<div class="item product-item">
				<img src="img/machin-product.png">
			</div>
			<div class="item product-item">
				<img src="img/machin-product.png">
			</div>
			<div class="item product-item">
				<img src="img/machin-product.png">
			</div>
			<div class="item product-item">
				<img src="img/machin-product.png">
			</div>
		</div>
    <div class="make-machin">
    	<a  class="make-form" href="#">Оформить заявку</a>
    	<a class="make-call" href="tel:+88002007200"><img src="img/call-machin.png" alt=""></a>
    </div>
</div>
<div class="inform-for-product">
	<div class="accordion">
		<section id="one" class="accordion-body">
			<h2>
				<a href="#one" class="js-show-accordion accordion-title">Информация <br>о продукте
					
				</a>
			</h2>
			<div class="accordion-text">
				<p>Это элегантная, умная и простая в использовании кофемашина с дисплеем и подсветкой показывает прогресс приготовления напитка</p>
			</div>
		</section>
		<section id="two"  class="accordion-body">
			<h2>
				<a href="#two" class="js-show-accordion accordion-title">Количество напитков
				</a>
			</h2>
			<div class="accordion-text">
				<p>Это элегантная, умная и простая в использовании кофемашина с дисплеем и подсветкой показывает прогресс приготовления напитка</p>
			</div>
		</section>
		<section id="three"  class="accordion-body">
			<h2>
				<a href="#three" class="js-show-accordion accordion-title">Снабжение водой

				</a>
			</h2>
			<div class="accordion-text">
				<p>Это элегантная, умная и простая в использовании кофемашина с дисплеем и подсветкой показывает прогресс приготовления напитка</p>
			</div>
		</section>
		<section id="four" class="accordion-body">
			<h2>
			<a href="#four" class="js-show-accordion accordion-title">Габариты <span>(высота/ширина/высота)</span>
				
			</a>
			</h2>
			<div class="accordion-text">
				<p>Это элегантная, умная и простая в использовании кофемашина с дисплеем и подсветкой показывает прогресс приготовления напитка</p>
			</div>
		</section>
		<section id="five"  class="accordion-body">
			<h2>
				<a href="#five" class="js-show-accordion accordion-title">Вес <span>(кг)</span>
					
				</a>
			</h2>
			<div class="accordion-text">
				<p>Это элегантная, умная и простая в использовании кофемашина с дисплеем и подсветкой показывает прогресс приготовления напитка</p>
			</div>
		</section>
		<section id="six"  class="accordion-body">
			<h2>
				<a href="#six" class="js-show-accordion accordion-title">Питание
					
				</a>
			</h2>
			<div class="accordion-text">
				<p>Это элегантная, умная и простая в использовании кофемашина с дисплеем и подсветкой показывает прогресс приготовления напитка</p>
			</div>
		</section>
		<section id="seven"  class="accordion-body">
			<h2>
				<a href="#seven" class="js-show-accordion accordion-title">Потребляемая мощность
					
				</a>
			</h2>
			<div class="accordion-text">
				<p>Это элегантная, умная и простая в использовании кофемашина с дисплеем и подсветкой показывает прогресс приготовления напитка</p>
			</div>
		</section>
	</div>
</div>
<div class="catalog-product-slider clearfix">
	<div class="machin-product-slider-title">
		Вам также может<br> понравиться
	</div>
	<div class="slider-track-wrapper">
	<div class="slider-wrap-product">
		<span class="new-product">Новинка</span>
		<img src="img/other-slider-1.jpg" alt="">
		<div class="other-product-name">
			Nescafé Alegria® 1060 E
		</div>
	</div>
	<div class="slider-wrap-product">
		<img src="img/other-slider-2.jpg" alt="">
		<div class="other-product-name">
			Nescafé Alegria® 8/30
		</div>
	</div>	
	</div>
</div>
