<div class="item-catalog-wrapper">
	<div class="item-catalog">
		<a  href="related-products.html">Ингредиенты</a>
	</div>
</div>
<div class="item-wrapper" >
	<h2 class="releted-slider-title">NESCAFÉ®<br>Alegria пластиковый<br> стакан с бумажной<br> крышкой</h2>
		<div class="item-relprod-img">
			<img src=" img/related-ingred.png" alt="ingred">
		</div>
    <div class="make-form-wrapper make-related">
    	<a  class="make-form" href="#">Оформить заявку</a>
    	<a class="make-call" href="tel:+88002007200"><img src="img/call-machin.png" alt=""></a>
    </div>
</div>
<div class="inform-for-product">
	<div class="accordion">
		<section id="one" class="accordion-body">
			<h2>
				<a href="#one" class="js-show-accordion accordion-title">Информация <br>о продукте
					
				</a>
			</h2>
			<div class="accordion-text">
				<p>Это элегантная, умная и простая в использовании кофемашина с дисплеем и подсветкой показывает прогресс приготовления напитка</p>
			</div>
		</section>
		<section id="five"  class="accordion-body">
			<h2>
				<a href="#five" class="js-show-accordion accordion-title">Объем стакана</a>
			</h2>
			<div class="accordion-text">
				<p>Это элегантная, умная и простая в использовании кофемашина с дисплеем и подсветкой показывает прогресс приготовления напитка</p>
			</div>
		</section>
		<section id="six"  class="accordion-body">
			<h2>
				<a href="#six" class="js-show-accordion accordion-title">Крепость кофе</a>
			</h2>
			<div class="accordion-text">
				<p>Это элегантная, умная и простая в использовании кофемашина с дисплеем и подсветкой показывает прогресс приготовления напитка</p>
			</div>
		</section>

	</div>
</div>


<div class="catalog-product-slider clearfix">
	<div class="catalog-product-slider-title">
		Вам также может<br> понравиться
	</div>
	<div class="slider-track-wrapper clearfix">
		<div class="slider-wrap-product">
			<span class="new-product">Новинка</span>
			<img src="img/other-slider-1.jpg" alt="">
			<div class="other-product-name">
				Nescafé Alegria® 1060 E
			</div>
		</div>
		<div class="slider-wrap-product">
			<img src="img/other-slider-2.jpg" alt="">
			<div class="other-product-name">
				Nescafé Alegria® 8/30
			</div>
		</div>
		<div class="slider-wrap-product">
			<img src="img/other-slider-2.jpg" alt="">
			<div class="other-product-name">
				Nescafé Alegria® 8/30
			</div>
		</div>	
		<div class="slider-wrap-product">
			<span class="new-product">Новинка</span>
			<img src="img/other-slider-1.jpg" alt="">
			<div class="other-product-name">
				Nescafé Alegria® 1060 E
			</div>
		</div>		
	</div>
</div>
