<div class="catalog-wrapper article-bg window-height">

	<div class="title-wrap title-article-phone ">
		<h2 class="header-title title-article catalog_header_title">путь<br>кофейного<br>зернышка
		</h2>
		<span>От плантации до Вашей<br>чашки...</span>
	</div>
	<div class="all-info all-info-ingred">
		<a href="#catalog-start" class="catalog_info js-article-grafic">Узнать больше</a>
	</div>
	<a href="#catalog-start" class="next_wrapper next-article js-slide-down"></a>
</div>
<div class="wrapp-empty" id="catalog-start"></div>
<div class="all-wrapper-sections js-target-height"  >
	<section class="wrapp-all-articles first-bg">
	  <div class="info-article-wrapper info-growing">
	    <img src="img/map-articlephone.png" alt="maps" class="map-article1">
	    <div class="title-info-article title-growing">
	      <div class="number-article">
	        1.
	      </div>
	      <h2>Выращивание</h2>
	    </div>
	    <p>Кофейные ягоды собираются<br> вручную сразу же после<br> созревания.</p>
	  </div>
	</section>
	<section class="wrapp-all-articles second-line">
	  <div class="info-article-wrapper info-select">
	    <div class="title-info-article">
	      <div class="number-article">
	        2.
	      </div>
	      <h2>Отбор</h2>
	    </div>
	    <p>Наши квалифицированные специалисты<br> тщательно отбирают лучшие кофейные<br> зерна для создания кофе высочайшего<br> качества</p>
	    <img src="img/phonearticles1.png" alt="zerna" class="phone-article1">
			<img src="img/bg-line-phone.png" alt="line" class="first-line">
	  </div>
	</section>
	<section class="wrapp-all-articles bg-line">
	  <div class="info-article-wrapper info-roasting">
	    <div class="title-info-article">
	      <div class="number-article">
	        3.
	      </div>
	      <h2>Обжарка</h2>
	    </div>
	    <p>Мы обжариваем зерна так, чтобы<br> воплотить в жизнь полный вкус<br> и аромат каждого компонента,<br> создавая богатыйи<br> сбалансированный вкус.</p>
	    <img src="img/zerna.png" alt="vetka" class="vetka">
	    <img src="img/red-zerno.png" alt="red-zerna" class="red-zerna">
			<img src="img/coffe-black-zern.png" alt="black-coffe" class="one-black">
			<img src="img/bg-line-phone.png" alt="line" class="second-line">
			<img src="img/bg-line-phone.png" alt="line" class="lact-second-line">
	  </div>
	</section>
	<section class="wrapp-all-articles four-line">
	  <div class="info-article-wrapper info-milling">
	    <div class="title-info-article">
	      <div class="number-article">
	        4.
	      </div>
	      <h2>Помол</h2>
	    </div>
	    <p>Мы тщательно настраиваем наши<br> станки для помола так, чтобы<br> извлечь лучший вкус и аромат<br> из каждого зернышка.</p>
	    <img src="img/coffe-article.png" alt="coffe" class="coffe-article-img four-bg">
	    <img src="img/artic-women.png" alt="girls" class="article-girl">
	    <img src="img/one-coffe.png" alt="coffe" class="one-coffe">
			<img src="img/bg-line-phone.png" alt="line" class="four-line">
	  </div>
	</section>
	<section class="wrapp-all-articles ">
	  <div class="info-article-wrapper info-brewing ">
	    <img src="img/coffe-mol.png" alt="coffe-mol" class="coffe-mol">
	    <img src="img/main-machin.png" alt="machin" class="main-machin">
	    <div class="title-info-article">
	      <div class="number-article">
	        5.
	      </div>
	      <h2>Заваривание</h2>
	    </div>
	    <p>Мы берем молотый кофе<br> и завариваем его горячей водой,<br> чтобы извлечь вкус нужной<br>  интенсивности.</p>
			<img src="img/bg-line-phone.png" alt="line" class="five-line">
	  </div>
	</section>
	<section class="wrapp-all-articles">
	  <div class="info-article-wrapper info-drying">
	    <img src="img/coffa-cup.png" alt="coffa-cup" class="coffa-cup">
	    <div class="title-info-article">
	      <div class="number-article">
	        6.
	      </div>
	      <h2>Сушка</h2>
	    </div>
	    <p>Затем мы берем свежесваренный<br> кофе и просто испаряем из него воду,<br> получая чистый кофейный экстракт.</p>
			<img src="img/bg-line-phone.png" alt="line" class="six-line">
	  </div>
	</section>
	<section class="wrapp-all-articles">
	  <div class="info-article-wrapper info-preparation">
	    <div class="title-info-article seven-title">
	      <div class="number-article-seven ">
	        7.
	      </div>
	      <h2>Приготовление</h2>
	    </div>
	    <p>Наши чистые экстакты кофе<br> и кофейные машины гармонично<br> работают вместе. Все, что Вам нужно<br> сделать – просто нажать на кнопку<br> и дать случиться волшебству.</p>
	    <img src="img/grout-coffe.png" alt="grout-coffe" class="grout-coffe">
	    <img src="img/arabica.png" alt="arabica" class="arabica-img">
	    <img src="img/map-second.png" alt="second-map" class="second-map">
	    <img src="img/cup-alegcoffe.png" alt="cup" class="cup-alegcoffe">
			<img src="img/coffe-black-zern.png" alt="black" class="seven-black" >
			<img src="img/bg-line-phone.png" alt="line" class="seven-line">
			<img src="img/bg-line-phone.png" alt="line" class="eight-line">
			<img src="img/bg-line-phone.png" alt="line" class="nine-line">
	  </div>
	</section>
	<div class="title-line-wrap">
		<div class=" line-article">
			<img src="img/black-coffe.jpg" alt="black-coffe" class="black-coffe">
		</div>
	</div>
</div>
<div class="title-line-wrap about-coffe-article">
	<div class="title-news-article line-news about-coffe-line" >
		О кофе
	</div>
</div>
<div class="wrapper-article-phone">
	<div class="article">
		<div class="border-wrap-article more-article-line">
			<div class="top-article-wrap">
				<span class="date-phone">
				  30 апреля 2016
				</span>
			</div>
			<a href="article-detail.html.html" class="title-phone">
				Кофе и спорт
			  </a>
			<div class="article-preview-phone">
				Многие люди, приняв решение вести
				<br> здоровый образ жизни, начинают
				<br> отказываться от кофе. Но это не
				<br> совсем верно.
			</div>
			<a href="article-detail.html.html" class="read-more">Читать больше</a>
			<a href="article-detail.html.html" class="img-wrap-phone">
				<img src="img/sport-coffe.png" alt="">
			</a>
		</div>
	</div>
</div>
<div class="title-line-wrap">

	<div class="title-news-article line-news-second">
		О машинах
	</div>
</div>
<div class="wrapper-article-phone second-phon-block">
	<div class="article">
		<div class="border-wrap-article article-wrap-second">
			<div class="top-article-wrap">
				<span class="date-phone">
				  30 апреля 2016
				</span>
			</div>
			<a href="article-detail.html" class="title-phone title-phone-second">
				Сколько натуральности<br>в сублимированном кофе?
			  </a>
			<div class="article-preview-phone">
				Растворимый кофе прочно вошел
				<br>в нашу жизнь. Однако до сих пор
				<br>есть люди,которые считают
				<br>растворимый кофе ненатуральным
				<br>и даже вредным.
			</div>
			<a href="article-detail.html.html" class="read-more">Читать больше</a>
			<a href="article-detail.html" class="img-wrap-phone">
				<img src="img/coffe-machine.png" alt="">
			</a>
		</div>
	</div>
</div>
<a href="#" class="show-more-btn-phone">больше статей</a>
