<div class="catalog-wrapper related-products-bg window-height">

	<div class="title-wrap title-related ">
		<h2 class="related-products-title">Сопутствующие товары</h2>
	</div>
	<div class="all-info all-info-ingred">
		<a href="#catalog-start" class="catalog_info js-slide-down">Узнать больше</a>
	</div>
	<a href="#catalog-start" class="next_wrapper next-releted js-slide-down"></a>
</div>
<div class=" ingred-wrapper accordion">
	<div class="navigation-wrapper container accordion-body">
		<a href="#" class="js-show-accordion accordion-img">Категории</a>
		<div class="accordion-text">
			<ul>
				<li><a href="inform_product.html">Машины</a></li>
				<li><a href="inform_product_ingred.html">Ингредиенты</a></li>
			</ul>
		</div>
	</div>
	
</div>
<div class="releted-product-wrapper clearfix" id="catalog-start">
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="item-related-products.html">
				<img src="img/related-products1.jpg" alt="machine">
				<h2 class="title-product-releted">NESCAFÉ® Alegria Delicate</h2>
			</a>
		</div>
	</div>
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="item-related-products.html">
				<img src="img/related-products2.jpg" alt="machine">
				<h2 class="title-product-releted">NESCAFÉ® <span>Alegria</span> 6/30</h2>
			</a>
		</div>
	</div>
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="item-related-products.html">
				<img src="img/related-products3.jpg" alt="machine">
				<h2 class="title-product-releted">NESCAFÉ® <span>Alegria</span> А 430</h2>
			</a>
		</div>
	</div>
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="item-related-products.html">
				<img src="img/related-products4.jpg" alt="machine">
				<h2 class="title-product-releted">NESCAFÉ® <span>Alegria</span> 8/40</h2>
			</a>
		</div>
	</div>
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="item-related-products.html">
				<img src="img/related-products5.jpg" alt="machine">
				<h2 class="title-product-releted">NESCAFÉ® <span>Alegria</span> 8/40</h2>
			</a>
		</div>
	</div>
	<div class="ingred-product-wrapper">
		<div class="border-wrap">
			<a href="item-related-products.html">
				<img src="img/related-products6.jpg" alt="machine">
				<h2 class="title-product-releted">NESCAFÉ® <span>Alegria</span> 8/40</h2>
			</a>
		</div>
	</div>
</div>